@page "/"
@namespace BlazorFabric.Test.ServerSide.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorFabric.Test.ServerSide</title>
    <base href="~/" />
    @*<environment include="Development">
            <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  asp-fallback-href="css/bootstrap/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                  crossorigin="anonymous"
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        </environment>*@
    <link rel="stylesheet" href="~/css/fabric-icons-inline.css" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/10.0.0/css/fabric.min.css" />
    <link href="css/site.css" rel="stylesheet" />

    <script src="_content/BlazorFabric.BaseComponent/baseComponent.js"></script>
    <link rel="stylesheet" href="_content/BlazorFabric.BaseComponent/styles.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Button/button.css" />
    <link rel="stylesheet" href="_content/BlazorFabric.Button/button-action.css" />
    <link rel="stylesheet" href="_content/BlazorFabric.Button/button-default.css" />
    <link rel="stylesheet" href="_content/BlazorFabric.Button/button-primary.css" />

    <script src="_content/BlazorFabric.Callout/callout.js"></script>
    <link rel="stylesheet" href="_content/BlazorFabric.Callout/callout.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Checkbox/checkbox.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.ContextualMenu/contextualMenu.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Dropdown/dropdown.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Icon/icon.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Label/label.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Layer/layer.css" />

    <script src="_content/BlazorFabric.List/fabricList.js"></script>
    <link rel="stylesheet" href="_content/BlazorFabric.List/list.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Modal/modal.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Nav/nav.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Overlay/overlay.css" />

    <script src="_content/BlazorFabric.TextField/fabricTextField.js"></script>
    <link rel="stylesheet" href="_content/BlazorFabric.TextField/textfield.css" />

</head>
<body>
    <app>@(await Html.RenderComponentAsync<App>())</app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
