@page "/dialogPage"

<h3>Dialog</h3>

<DefaultButton Text="Open Dialog" OnClick=@(args=> dialogOpen=true) />
<Dialog Title="This is a dialog menu."
        IsOpen=@dialogOpen
        OnDismiss=@(args=> dialogOpen=false )>
    <ChildContent>
        This area can have other components.
    </ChildContent>
    <FooterTemplate>
        <DefaultButton Text="Cancel" OnClick=@(args=> dialogOpen=false) />
        <PrimaryButton Text="OK" OnClick=@(args=> dialogOpen=false) />
    </FooterTemplate>
</Dialog>

<DefaultButton Text="Open Large Dialog" OnClick=@(args=> largeDialogOpen=true) />
<Dialog Title="This is a large dialog menu."
        IsOpen=@largeDialogOpen
        DialogType=@DialogType.LargeHeader
        OnDismiss=@(args=> largeDialogOpen=false )>
    <ChildContent>
        This area can have other components.
    </ChildContent>
    <FooterTemplate>
        <DefaultButton Text="Cancel" OnClick=@(args=> largeDialogOpen=false) />
        <PrimaryButton Text="OK" OnClick=@(args=> largeDialogOpen=false) />
    </FooterTemplate>
</Dialog>

@code {
    bool dialogOpen = false;
        bool largeDialogOpen = false;
}
