@namespace FluentUI
@inherits FluentUIComponentBase

<label class="@($"ms-Label {(Disabled ? "ms-Label--disabled" : "")} {(Required ? "ms-Label--required" : "")} {ClassName}")"
          style=@Style
          for=@HtmlFor
          id="@Id"
          @ref="RootElementReference">
    @ChildContent
</label>
