.ms-Panel {

}

.ms-Panel--hasCloseButton {
    pointer-events:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.ms-Panel-overlay{
    pointer-events:auto;
    cursor:pointer;
}

.ms-Panel-hiddenPanel{
    visibility:hidden;
}

.ms-Panel-main{
    background-color: var(--palette-White);
    box-shadow: var(--effects-Elevation64);
    pointer-events:auto;
    position:absolute;
    display:flex;
    flex-direction:column;
    overflow-x:hidden;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
    bottom:0;
    top: 0;
    /*
        left, right, width overridden by type
    */
    left: auto;
    right: 0;
    width: 100%;
}


.ms-Panel--smFluid .ms-Panel-main {
    left: 0;
}
.ms-Panel--smLeft .ms-Panel-main {
    left: 0;
    right: auto;
    width: 272px;
}
.ms-Panel--sm .ms-Panel-main {
}
.ms-Panel--md .ms-Panel-main {
}
.ms-Panel--lg .ms-Panel-main {
}
.ms-Panel--fixed .ms-Panel-main {
}
.ms-Panel--xl .ms-Panel-main {
}
.ms-Panel--custom .ms-Panel-main {
    max-width: 100vh;
}
.ms-Panel--customLeft .ms-Panel-main {
    right: auto;
    left: 0;
    max-width: 100vh;
}

@media screen and (min-width: 480px ) { /*var(--ScreenWidthMinMedium)) {*/
    .ms-Panel--sm .ms-Panel-main, .ms-Panel--md .ms-Panel-main, .ms-Panel--lg .ms-Panel-main, .ms-Panel--fixed .ms-Panel-main, .ms-Panel--xl .ms-Panel-main {
        width: 340px;
    }
}
@media screen and (min-width: 640px) { /*var(--ScreenWidthMinLarge))  {*/
    .ms-Panel--md .ms-Panel-main, .ms-Panel--lg .ms-Panel-main, .ms-Panel--fixed .ms-Panel-main, .ms-Panel--xl .ms-Panel-main {
        width: 592px;
    }
}
@media screen and (min-width: 1024px){  /*var(--ScreenWidthMinXLarge)) {*/
    .ms-Panel--md .ms-Panel-main, .ms-Panel--lg .ms-Panel-main, .ms-Panel--fixed .ms-Panel-main, .ms-Panel--xl .ms-Panel-main {
        width: 644px;
    }
}
@media screen and (min-width: 768px) {  /*var(--ScreenWidthMinUhfMobile)) {*/
    .ms-Panel--lg .ms-Panel-main, .ms-Panel--fixed .ms-Panel-main, .ms-Panel--xl .ms-Panel-main {
        left: 48px;
        width: auto;
    }
}
@media screen and (min-width: 1366px) {  /*var(--ScreenWidthMinXXLarge)) {*/
    .ms-Panel--lg .ms-Panel-main, .ms-Panel--fixed .ms-Panel-main, .ms-Panel--xl .ms-Panel-main {
        width: 940px;
    }
    .ms-Panel--fixed .ms-Panel-main, .ms-Panel--xl .ms-Panel-main {
        left: auto;
        width: 940px;
    }
    .ms-Panel--xl .ms-Panel-main {
        left: 176px;
    }
}

@media screen and (-ms-high-contrast: active) {
    .ms-Panel-main {
        border-left: 3px solid var(--palette-NeutralLight);
        border-right: 3px solid var(--palette-NeutralLight);
    }
}

.ms-Panel-navigation{
    padding:0 5px;
    height:44px;
    display:flex;
    justify-content: flex-end;
}

.ms-Panel-contentInner{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    overflow-y:hidden;
}

.ms-Panel-header{
    padding-left:16px;
    padding-right:16px;

    margin:14px 0;
    flex-shrink:0;
}
@media screen and (min-width: var(--ScreenWidthMinXLarge)) {
    .ms-Panel-header {
        margin-top: 30px;
    }
}

.ms-Panel-headerText{
    color: var(--palette-NeutralPrimary);
    line-height: 27px;
    margin:0;
    overflow-wrap:break-word;
    word-wrap:break-word;
    word-break:break-word;
    hyphens:auto;
}

.ms-Panel-scrollableContent{
    overflow-y:auto;
}
.ms-Panel-scrollableContent--isFooterAtBottom {
    flex-grow:1;
}

.ms-Panel-content {
    padding-left: 16px;
    padding-right: 16px;

    margin-bottom:0;
    padding-bottom:20px;
}

.ms-Panel-footer {
    flex-shrink: 0;
    border-top: 1px solid transparent;
    transition: opacity var(--animation-DURATION_3) var(--animation-EASING_FUNCTION_2);
}
.ms-Panel-footer--isSticky{
    background: var(--palette-White);
    border-top-color: var(--palette-NeutralLight);
}

.ms-Panel-footerInner {
    padding-left: 16px;
    padding-right: 16px;

    padding-bottom:16px;
    padding-top:16px;
}