
<Stack Horizontal="false" VerticalFill="true" Style="overflow:hidden;">
    <StackItem Grow="0" VerticalFill="false" Align="Alignment.Center">
        <div class="top-row">
            <Link Href="/">FluentUI V@(System.Reflection.Assembly.GetAssembly(typeof(ComponentBase))?.GetName()?.Version.ToString() ?? "NULL")</Link>
        </div>
    </StackItem>

    <StackItem VerticalFill="true" Style="overflow-y:auto;">
        <Nav>
            <NavLinkGroup Name="Basic Controls" CollapseByDefault="false">
                @*<FluentUI.NavLink Name="Basic" Url="" Id="" IconName="ButtonControl" OnClick=@OnLinkClicked />*@
                <FluentUI.NavLink Name="Button" Url="buttonsPage" Id="buttonsPage" IconName="ButtonControl" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Checkbox" Url="checkboxPage" Id="checkboxPage" IconName="CheckboxComposite" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="ChoiceGroup" Url="choiceGroupPage" Id="choiceGroupPage" IconName="RadioBtnOn" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Dropdown" Url="dropdownPage" Id="dropdownPage" IconName="Dropdown" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Label" Url="labelPage" Id="labelPage" IconName="Label" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Link" Url="linkPage" Id="linkPage" IconName="Link" OnClick="@OnLinkClicked" />
                <FluentUI.NavLink Name="Rating" Url="ratingPage" Id="ratingPage" IconName="FavoriteStar" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Slider" Url="sliderPage" Id="sliderPage" IconName="Slider" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="TextField" Url="textFieldPage" Id="textFieldPage" IconName="TextField" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Toggle" Url="togglePage" Id="togglePage" IconName="ToggleLeft" OnClick=@OnLinkClicked />
            </NavLinkGroup>
            <NavLinkGroup Name="Galleries & Pickers" CollapseByDefault="false">
                <FluentUI.NavLink Name="Calendar" Url="calendarPage" Id="calendarPage" IconName="Calendar" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="DatePicker" Url="datePickerPage" Id="datePickerPage" IconName="SearchCalendar" OnClick=@OnLinkClicked />
            </NavLinkGroup>
            <NavLinkGroup Name="Items & Lists" CollapseByDefault="false">
                <FluentUI.NavLink Name="List" Url="listPage" Id="listPage" IconName="List" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="DetailsList" Url="detailsListPageBasic" Id="detailsListPageBasic" IconName="List" OnClick=@OnLinkClicked />
                @*<FluentUI.NavLink Name="DetailsList" Url="detailsListPage" Id="detailsListPage" IconName="List" OnClick=@OnLinkClicked />*@
                <FluentUI.NavLink Name="DetailsListAuto" Url="detailsListAutoPage" Id="detailsListAutoPage" IconName="List" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="DetailsList-Grouped"
                            NestedDepth="1"
                            Url="detailsListGroupedPage"
                            Id="detailsListGroupedPage"
                            NavMatchType="NavMatchType.AnchorIncluded" />
                <FluentUI.NavLink Name="DetailsListAuto-Grouped" NestedDepth="1" Url="detailsListAutoGroupedPage" Id="detailsListAutoGroupedPage" IconName="List" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="DocumentCard" Url="documentcard" Id="documentcardPage" IconName="ContactCard" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="GroupedList" Url="groupedListPage" Id="groupedListPage" IconName="Group" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Persona" Url="personaPage" Id="personaPage" IconName="Contact" OnClick=@OnLinkClicked />
            </NavLinkGroup>
            <NavLinkGroup Name="Commands, Menus & Navs" CollapseByDefault="false">
                <FluentUI.NavLink Name="CommandBar" Url="commandBarPage" Id="commandBarPage" IconName="Bar" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="ContextualMenu" Url="contextualMenuPage" Id="contextualMenuPage" IconName="ContextMenu" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Nav" Url="navPage" Id="navPage" IconName="SecondaryNav" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="NavBar" Url="navBarPage" Id="navBarPage" IconName="SecondaryNav" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="OverflowSet" Url="overflowSetPage" Id="overflowSetPage" IconName="More" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Pivot" Url="pivotPage" Id="pivotPage" IconName="TabCenter" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Ribbon Menu" Url="ribbonMenuPage" Id="ribbonMenuPage" IconName="TabCenter" OnClick=@OnLinkClicked />
            </NavLinkGroup>
            <NavLinkGroup Name="Notification & Engagement" CollapseByDefault="false">
                <FluentUI.NavLink Name="MessageBar" Url="messageBarPage" Id="messageBarPage" IconName="Message" OnClick=@OnLinkClicked />
            </NavLinkGroup>
            <NavLinkGroup Name="Progress" CollapseByDefault="false">
                <FluentUI.NavLink Name="ProgressIndicator" Url="progressIndicatorPage" Id="progressIndicatorPage" IconName="ProgressLoopInner" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Spinner" Url="spinnerPage" Id="spinnerPage" IconName="ProgressRingDots" OnClick=@OnLinkClicked />
            </NavLinkGroup>
            <NavLinkGroup Name="Surfaces" CollapseByDefault="false">
                <FluentUI.NavLink Name="Callout" Url="calloutPage" Id="calloutPage" IconName="TextCallout" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Dialog" Url="dialogPage" Id="dialogPage" IconName="TextCallout" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Modal" Url="modalPage" Id="modalPage" IconName="TextCallout" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Panel" Url="panelPage" Id="panelPage" IconName="SidePanel" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Tooltip" Url="tooltipPage" Id="tooltipPage" IconName="DiagnosticDataBarTooltip" OnClick=@OnLinkClicked />
            </NavLinkGroup>
            <NavLinkGroup Name="Utilities" CollapseByDefault="false">
                <FluentUI.NavLink Name="FocusTrapZone" Url="focusTrapZonePage" Id="focusTrapZonePage" IconName="Focus" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="FocusZone" Url="focusZonePage" Id="focusZonePage" IconName="Focus" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Image" Url="imagePage" Id="imagePage" IconName="ImagePixel" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Layer" Url="layerPage" Id="layerPage" IconName="MapLayers" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="MarqueeSelection" Url="marqueeSelectionPage" Id="marqueeSelectionPage" IconName="MapLayers" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="ResizeGroup" Url="resizeGroupPage" Id="resizeGroupPage" IconName="Resize" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="RichTextEditor" Url="richTextEditorPage" Id="richTextEditorPage" IconName="Edit" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Stack" Url="stackPage" Id="stackPage" IconName="Stack" OnClick=@OnLinkClicked />
                <FluentUI.NavLink Name="Text" Url="textPage" Id="textPage" IconName="PlainText" OnClick=@OnLinkClicked />
            </NavLinkGroup>
        </Nav>
    </StackItem>
</Stack>

@code {

    [Parameter] public EventCallback<FluentUI.NavLink> OnLinkClicked { get; set; }

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
