@namespace BlazorFabric
@inherits FabricComponentBase
@typeparam TItem

@if (dataItems != null)
{
    <List TItem="GroupedListItem<TItem>"
            ClassName=@($"ms-GroupedList{(string.IsNullOrEmpty(ClassName) ? "" : " " + ClassName)}")
            ItemsSource=@dataItems
                >
        <ItemTemplate>
                @if (context is HeaderItem<TItem>)
                {
                    var header = (HeaderItem<TItem>)context;
                    <GroupHeader @bind-IsOpen=@header.IsOpen Count=@header.Depth Name=@header.Name Compact=@Compact />
                }
                else
                {
                    <div style="display:flex;flex-direction:row;">
                        <GroupSpacer Count=@context.Depth />
                        <div style="flex-grow:1;">
                            @ItemTemplate(context.Item)
                        </div>
                    </div>
                }
        </ItemTemplate>
    </List>
        
}
   