@namespace BlazorFabric
@inherits FabricComponentBase
@typeparam TItem

@if (dataItems != null)
{
    <List TItem="GroupedListItem<TItem>"
            ClassName=@($"ms-GroupedList{(string.IsNullOrEmpty(ClassName) ? "" : " " + ClassName)}")
            ItemsSource=@dataItems
          SelectionMode=@SelectionMode
                >
        <ItemTemplate>
                @if (context is HeaderItem<TItem>)
                {
                    var header = (HeaderItem<TItem>)context;
                    <GroupHeader @bind-IsOpen=@header.IsOpen Count=@header.Depth Name=@header.Name Compact=@Compact />
                }
                else
                {
                    //System.Diagnostics.Debug.WriteLine(context.Key);
                    <div >
                        @ItemTemplate(context)
                    </div>
                }
        </ItemTemplate>
    </List>
        
}
   