@namespace BlazorFabric
@inherits FabricComponentBase
@typeparam TItem

<div class=@($"ms-GroupedList{(string.IsNullOrEmpty(ClassName) ? "" : " " + ClassName)}") 
     data-automationid="GroupedList" 
     data-is-scrollable="false" 
     role="presentation">
    @if (_isGrouped)
    {
        <BasicList ItemsSource=@_groups
                   @ref="_mainList"
                   GetItemCountForPage="(i,r) => 1"
                   GetPageHeight="GetPageHeight"
                   GetPageSpecification="GetPageSpecification"
                   OnShouldVirtualize=@OnShouldVirtualize
                   >
            <ItemTemplate>
                <GroupedListSection TItem=@TItem
                                    ClassName=@GetGroupKey(context, context.StartIndex)
                                    @key=@GetGroupKey(context, context.StartIndex)
                                    Compact=@Compact
                                    ItemTemplate=@ItemTemplate
                                    GroupKeySelector=@GroupKeySelector
                                    SubGroupSelector=@SubGroupSelector
                                    Group=@context
                                    OnShouldVirtualize=@OnShouldVirtualize
                                    SelectionMode=@SelectionMode 
                                    OnScrollExternalObservable=@_mainList?.OnScrollPublishedObservable                                
                                    ExternalProvidedScrollDimensions=@(_mainList?.LastMeasuredScrollRect)
                                    />
            </ItemTemplate>
        </BasicList>
        
    }
    else
    {
        <BasicList ItemsSource=@ItemsSource
                   ItemTemplate=@ItemTemplate
                   SelectionMode=@SelectionMode
                   GetItemCountForPage=@((a,b)=> 1)
                   GetPageHeight="GetPageHeight"
                   OnShouldVirtualize=@OnShouldVirtualize
              />
    }

</div>
