@namespace BlazorFabric
@inherits FabricComponentBase
@typeparam TItem

    <div role="presentation"
         class=@($"ms-GroupedList ms-GroupedList-group {ClassName}")>
        <GroupHeader Compact=@Compact
                     @bind-IsCollapsed="Group.IsCollapsed"
                     SelectionMode=@SelectionMode
                     Name=@(Group.Name) />
        @if (!Group.IsCollapsed)
        {
            @if (_itemsHaveGroups != null && _itemsHaveGroups.Count() > 0)
            {                
                <BasicList ItemsSource=@_itemsHaveGroups
                           GetItemCountForPage="(i,r) => 1">
                    <ItemTemplate>
                        <GroupedListSection TItem=@TItem
                                            Compact=@Compact
                                            @key="GetGroupKey(Group,context.StartIndex)"
                                            ItemTemplate=@ItemTemplate
                                            GroupKeySelector=@GroupKeySelector
                                            SubGroupSelector=@SubGroupSelector
                                            Group=@context
                                            GroupIndex=@context.StartIndex
                                            OnShouldVirtualize=@OnShouldVirtualize
                                            SelectionMode=@SelectionMode />
                    </ItemTemplate>
                </BasicList>
            }
            @if (_itemsWithoutGroups != null && _itemsWithoutGroups.Count() > 0)
            {
                <List ItemsSource=@_itemsWithoutGroups
                      UseInternalScrolling="false"
                      Data=@Group.GroupIndex
                      OnListScrollerHeightChanged=@HandleListScrollerHeightChanged
                      @key="GetGroupKey(Group,Group.StartIndex)"

                           >
                    <ItemTemplate>
                        <div @key=@(context.StartIndex)>
                            @ItemTemplate(context.Item)
                        </div>
                    </ItemTemplate>
                </List>
            }
        }
    </div>