@namespace BlazorFabric
@inherits FabricComponentBase
@typeparam TItem

@if (dataItems != null)
{
    <List TItem="GroupedListItem<TItem>"
            ClassName=@($"ms-GroupedList{(string.IsNullOrEmpty(ClassName) ? "" : " " + ClassName)}")
            ItemsSource=@dataItems
                >
        <ItemTemplate>
                @if (context is HeaderItem<TItem>)
                {
                    var header = (HeaderItem<TItem>)context;
                    <GroupHeader @key=@(header.Depth + "-" + header.Index) @bind-IsOpen=@header.IsOpen Count=@header.Depth Name=@header.Name Compact=@Compact />
                }
                else
                {
                    <div @key=@(context.Depth + "-" + context.Index)>
                        @ItemTemplate(context)
                    </div>
                }
        </ItemTemplate>
    </List>
        
}
   