@namespace BlazorFabric
@inherits FabricComponentBase
@typeparam TItem

@if (dataItems != null)
{
    <List TItem="GroupedListItem<TItem>"
          @ref="listReference"
          ClassName=@($"ms-GroupedList{(string.IsNullOrEmpty(ClassName) ? "" : " " + ClassName)}")
          ItemsSource=@dataItems
          UseDefaultStyling="false"
          >
        @*<ItemTemplate>

            @if (context.Item1 is HeaderItem<TItem>)
            {
                var header = (HeaderItem<TItem>)context.Item1;
                <GroupHeader @key=@header.Key 
                             @bind-IsOpen=@header.IsOpen 
                             CurrentlySelected=@(Selection != null ? Selection.SelectedItems.Contains(header.Item) : false)
                             Count=@header.Children.Count 
                             GroupLevel=@header.Depth
                             Name=@header.Name 
                             Compact=@Compact 
                             IsSelectionCheckVisible=@(Selection != null)/>
            }
            else
            {

                <div @key=@context.Item1.Key>
                    @ItemTemplate(context.Item1)
                </div>
            }
        </ItemTemplate>*@
    </List>
        
}
   