@import '';

/* _content/BlazorFluentUI.ListComponents/DetailsList/DetailsColumn.razor.rz.scp.css */
.ms-DetailsColumn[b-pamvjyt7y2] {
    font-size: var(--fontSize-Small);
    font-weight: var(--fontWeight-Regular);
}


.ms-DetailsColumn[b-pamvjyt7y2] {
    color: var(--semanticTextColors-BodyText);
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 0 8px 0 12px;
    line-height: inherit;
    margin: 0;
    height: 42px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

    .ms-DetailsColumn[b-pamvjyt7y2]::-moz-focus-inner {
        border: 0;
    }

.ms-Fabric--isFocusVisible .ms-DetailsColumn:focus[b-pamvjyt7y2]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}
@media screen and (-ms-high-contrast: active) {
    .ms-DetailsColumn:focus[b-pamvjyt7y2]::after {
        
    }
}

.ms-DetailsColumn.is-actionable:hover[b-pamvjyt7y2] {
    color: var(--semanticTextColors-BodyText);
    background: var(--semanticColors-ListHeaderBackgroundHovered);
}

.ms-DetailsColumn.is-actionable:active[b-pamvjyt7y2] {
    background: var(--semanticColors-ListHeaderBackgroundPressed);
}


.ms-DetailsColumn.is-empty[b-pamvjyt7y2] {
    text-overflow: clip;
}

.ms-DetailsColumn.is-padded[b-pamvjyt7y2] {
    padding-right: 32px;
}

    .ms-DetailsColumn.is-padded:hover i[data-icon-name='GripperBarVertical'][b-pamvjyt7y2] {
        display: block;
    }

/*GripperBarVerticalStyle*/
.ms-DetailsColumn-gripperBar[b-pamvjyt7y2] {
    display: none;
    position: absolute;
    text-align: left;
    color: var(--palette-NeutralTertiary);
    left: 1px;
}

/*NearIcon*/
.ms-DetailsColumn-nearIcon[b-pamvjyt7y2] {
    color: var(--semanticTextColors-BodySubtext);
    opacity: 1;
    padding-left: 8px;
}

/*SortIcon*/
.ms-DetailsColumn-sortIcon[b-pamvjyt7y2] {
    color: var(--semanticTextColors-BodySubtext);
    opacity: 1;
    padding-left: 4px;
    position: relative;
    top: 1px;
}

/*FilterChevron*/
.ms-DetailsColumn-filterChevron[b-pamvjyt7y2] {
    color: var(--palette-NeutralTertiary);
    padding-left: 6px;
    vertical-align: middle;
    font-size: var(--fontSize-Small);
}

/*CellTitle*/
.ms-DetailsColumn-cellTitle[b-pamvjyt7y2]::-moz-focus-inner {
    border: 0;
}

.ms-Fabric--isFocusVisible .ms-DetailsColumn-cellTitle:focus[b-pamvjyt7y2]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}

@media screen and (-ms-high-contrast: active) {
    .ms-DetailsColumn-cellTitle:focus[b-pamvjyt7y2]::after {
    }
}

.ms-DetailsColumn-cellTitle[b-pamvjyt7y2] {
    outline: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 8px 0 12px;
}
.ms-DetailsColumn.is-iconOnly .ms-DetailsColumn-cellTitle .ms-DetailsColumn-nearIcon[b-pamvjyt7y2] {
    padding-left: 0;
}


/*CellTitle*/
.ms-DetailsColumn-cellTooltip[b-pamvjyt7y2] {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* _content/BlazorFluentUI.ListComponents/DetailsList/DetailsHeader.razor.rz.scp.css */
.ms-DetailsHeader-root[b-v6y22t9d4c] {
    display: flex; /*// inline-block is seeing all the razor whitespace artifacts and adding extra spaces... switched to flex.*/
    position: relative;
}

[b-v6y22t9d4c] .ms-DetailsHeader {
    font-size: var(--fontSize-Small);
    font-weight: var(--fontWeight-Regular);
    display: flex; /*// inline-block is seeing all the razor whitespace artifacts and adding extra spaces... switched to flex.*/
    background: var(--semanticColors-BodyBackground);
    position: relative;
    min-width: 100%;
    vertical-align: top;
    height: 42px;
    line-height: 42px;
    white-space: nowrap;
    box-sizing: content-box;
    padding-bottom: 1px;
    padding-top: 16px;
    border-bottom: 1px solid var(--semanticColors-BodyDivider);
    cursor: default;
    user-select: none;
}

    [b-v6y22t9d4c] .ms-DetailsHeader:hover .ms-DetailsHeader-check {
        opacity: 1;
    }

.ms-DetailsHeader-tooltipHost .ms-DetailsHeader-checkTootip[b-v6y22t9d4c] {
    display: block;
}

[b-v6y22t9d4c] .ms-DetailsHeader-check {
    height: 42px;
}

.ms-Fabric--isFocusVisible .ms-DetailsHeader-cellIsCheck[b-v6y22t9d4c]  .ms-DetailsHeader-check {
    opacity: 1;
}

.ms-DetailsHeader-cellWrapperPadded[b-v6y22t9d4c] {
    padding-right: 32px;
}


div.ms-DetailsHeader-cellIsCheck[b-v6y22t9d4c] {
    color: var(--semanticTextColors-BodyText);
    /*display: inline-block;*/
    /*position: relative;*/
    box-sizing: border-box;
    /*padding: 0 8px 0 12px;*/
    line-height: inherit;
    margin: 0;
    height: 42px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;

    position: relative;
    padding: 0px;
    margin: 0;
    display: inline-flex;
    align-items: center;
    border: none;
    outline: transparent;
    position: relative;
}
div.ms-DetailsHeader-cellIsCheck[b-v6y22t9d4c]::-moz-focus-inner {
    border: 0;
}
.ms-Fabric--isFocusVisible div.ms-DetailsHeader-cellIsCheck:focus[b-v6y22t9d4c]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}



[b-v6y22t9d4c] .ms-DetailsHeader.is-allSelected .ms-DetailsHeader-cellIsCheck {
    opacity: 1;
}


.ms-DetailsHeader-cellIsGroupExpander[b-v6y22t9d4c] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fontSize-Small);
    padding: 0;
    border: none;
    width: 36px;
    color: var(--palette-NeutralSecondary);

    outline: transparent;
    position: relative;
    color: var(--semanticTextColors-BodyText);
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 0 8px 0 12px;
    line-height: inherit;
    margin: 0;
    height: 42px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.ms-DetailsHeader-cellIsGroupExpander[b-v6y22t9d4c]::-moz-focus-inner {
    border: 0;
}

.ms-Fabric--isFocusVisible .ms-DetailsHeader-cellIsGroupExpander:focus[b-v6y22t9d4c]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}

.ms-DetailsHeader-cellIsGroupExpander:hover[b-v6y22t9d4c] {
    background-color: var(--palette-NeutralLighter);
}

.ms-DetailsHeader-cellIsGroupExpander:active[b-v6y22t9d4c] {
    background-color: var(--palette-NeutralLight);
}

/*cellIsActionable SKIPPED BECAUSE this is a property of DetailsColumn which is a child...*/
/*cellIsEmpty also skipped*/


.ms-DetailsHeader-cellSizer[b-v6y22t9d4c] {
    display: inline-block;
    position: relative;
    cursor: ew-resize;
    bottom: 0;
    top: 0;
    overflow: hidden;
    height: inherit;
    background: transparent;
    z-index: 1;
    width: 16px;
    outline: transparent;
    position: relative;
}

.ms-DetailsHeader-cellSizer[b-v6y22t9d4c]::-moz-focus-inner {
    border: 0;
}

.ms-Fabric--isFocusVisible .ms-DetailsHeader-cellSizer:focus[b-v6y22t9d4c]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}


.ms-DetailsHeader-cellSizer[b-v6y22t9d4c]::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    width: 1px;
    background: var(--palette-NeutralTertiaryAlt);
    opacity: 0;
    left: 50%;
}

.ms-DetailsHeader-cellSizer:focus[b-v6y22t9d4c]::after, 
.ms-DetailsHeader-cellSizer:hover[b-v6y22t9d4c]::after {
    opacity: 1;
    transition: opacity 0.3s linear;
}

.ms-DetailsHeader-cellSizer.is-resizing[b-v6y22t9d4c]::after {
    opacity: 1;
    transition: opacity 0.3s linear;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}


.ms-DetailsHeader-cellSizerStart[b-v6y22t9d4c] {
    margin: 0 -8px;
}

.ms-DetailsHeader-cellSizerEnd[b-v6y22t9d4c] {
    margin: 0;
    margin-left: -16px;
}

[b-v6y22t9d4c] .ms-DetailsHeader-collapseButton {
    transform-origin: 50% 50%;
    transition: transform .1s linear;
    transform: rotate(90deg);
}

    [b-v6y22t9d4c] .ms-DetailsHeader-collapseButton.is-collapsed {
        transform: rotate(0deg);
    }

.ms-DetailsHeader-sizingOverlay.is-sizing[b-v6y22t9d4c] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: ew-resize;
    background: rgba(255,255,255,0);
}

@media screen and (-ms-high-contrast: active) {
    .ms-DetailsHeader-sizingOverlay.is-sizing[b-v6y22t9d4c] {
        background: transparent;
        -ms-high-contrast-adjust: none;
    }
}

.ms-DetailsHeader-accessibleLabel[b-v6y22t9d4c] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
}

/*//dropHintCircle //doesn't seem to be used*/
.ms-DetailsHeader-dropHintCircle[b-v6y22t9d4c] {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    margin-left: -5px;
    top: 34px;
    overflow: visible;
    z-index: 10;
    border: 1px solid var(--palette-ThemePrimary);
    background: var(--palette-White);
}


[b-v6y22t9d4c] .ms-DetailsHeader-dropHintCaret {
    display: none;
    position: absolute;
    top: -28px;
    left: -6.5px;
    font-size: var(--fontSize-Medium);
    color: var(--palette-ThemePrimary);
    overflow: visible;
    z-index: 10;
}

.ms-DetailsHeader-dropHintLine[b-v6y22t9d4c] {
    display: none;
    position: absolute;
    bottom: 0px;
    top: 0px;
    overflow: visible;
    height: 42px;
    width: 1px;
    background: var(--palette-ThemePrimary);
    z-index: 10;
}

.ms-DetailsHeader-dropHint[b-v6y22t9d4c] {
    display: inline-block;
    position: absolute;
}

/*//NOT DONE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// Skipped
*/
/* _content/BlazorFluentUI.ListComponents/GroupedList/GroupHeader.razor.rz.scp.css */
.ms-GroupHeader[b-hepuc48dpt] {
    outline: transparent;
    position: relative;
    border-bottom: 1px solid var(--semanticColors-ListBackground); /*// keep the border for height but color it so it's invisible.*/
    cursor: default;
    user-select: none;
}

.ms-GroupHeader[b-hepuc48dpt]::-moz-focus-inner {
    border: 0;
}

.ms-Fabric--isFocusVisible .ms-GroupHeader:focus[b-hepuc48dpt]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}

.ms-GroupHeader:hover[b-hepuc48dpt] {
    background: var(--semanticColors-ListItemBackgroundHovered);
    color: var(--semanticTextColors-ActionLinkHovered);
}


    .ms-GroupHeader:hover .ms-GroupHeader-check[b-hepuc48dpt] {
        opacity: 1;
    }


.ms-Fabric--isFocusVisible .ms-GroupHeader:focus .ms-GroupHeader-check[b-hepuc48dpt] {
    opacity: 1;
}



.ms-GroupedList-group.is-dropping > .ms-GroupHeader .ms-GroupHeader-dropIcon[b-hepuc48dpt] {
    transition: transform var(--animation-DURATION_4) cubic-bezier(0.075, 0.820, 0.165, 1.000), opacity var(--animation-DURATION_1) cubic-bezier(0.390, 0.575, 0.565, 1.000);
    transition-delay: var(--animation-DURATION_3);
    opacity: 1;
    transform: rotate(0.2deg) scale(1); /*// rotation prevents jittery motion in IE*/
}


.ms-GroupedList-group.is-dropping > .ms-GroupHeader-check[b-hepuc48dpt] {
    opacity: 0;
}



.ms-GroupHeader.is-selected[b-hepuc48dpt] {
    background: var(--semanticColors-ListItemBackgroundChecked);
}


    .ms-GroupHeader.is-selected:hover[b-hepuc48dpt] {
        background: var(--semanticColors-ListItemBackgroundCheckedHovered);
    }


[b-hepuc48dpt] .ms-GroupHeader-groupHeaderContainer {
    display: flex;
    align-items: center;
    height: 48px;
}


.ms-GroupHeader--compact[b-hepuc48dpt]  .ms-GroupHeader-groupHeaderContainer {
    height: 40px;
}


.ms-GroupHeader-headerCount[b-hepuc48dpt] {
    padding: 0px 4px;
}



.ms-GroupHeader-check[b-hepuc48dpt] {
    outline: transparent;
    position: relative;
    cursor: default;
    background: none;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    margin-top: -1px;
    opacity: 0;
    width: 48px;
    height: 48px;
}

.ms-GroupHeader-check[b-hepuc48dpt]::-moz-focus-inner {
    border: 0;
}

.ms-Fabric--isFocusVisible .ms-GroupHeader-check:focus[b-hepuc48dpt]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}


.ms-Fabric--isFocusVisible .ms-GroupHeader-check:focus[b-hepuc48dpt] {
    opacity: 1;
}


.ms-GroupHeader-expand[b-hepuc48dpt] {
    outline: transparent;
    position: relative;
    cursor: default;
    background: none;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fontSize-Small);
    width: 48px;
    height: 48px;
    color: var(--palette-NeutralSecondary);
}

.ms-GroupHeader-expand[b-hepuc48dpt]::-moz-focus-inner {
    border: 0;
}

.ms-Fabric--isFocusVisible .ms-GroupHeader-expand:focus[b-hepuc48dpt]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}

.ms-GroupHeader--compact .ms-GroupHeader-expand[b-hepuc48dpt] {
    height: 40px;
}


.ms-GroupHeader.is-selected .ms-GroupHeader-expand[b-hepuc48dpt] {
    color: var(--palette-NeutralPrimary);
}


.ms-GroupHeader-expand:hover[b-hepuc48dpt] {
    background-color: var(--palette-NeutralLight);
}


.ms-GroupHeader.is-selected .ms-GroupHeader-expand:hover[b-hepuc48dpt] {
    background-color: var(--palette-NeutralQuaternary);
}


.ms-GroupHeader-expand:active[b-hepuc48dpt] {
    background-color: var(--palette-NeutralQuaternaryAlt);
}


.ms-GroupHeader.is-selected .ms-GroupHeader-expand:active[b-hepuc48dpt] {
    background-color: var(--palette-NeutralTertiaryAlt);
}



[b-hepuc48dpt] .ms-GroupHeader-expandIsCollapsed {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    transition: transform .1s linear;
}


.ms-GroupHeader.is-collapsed[b-hepuc48dpt]  .ms-GroupHeader-expandIsCollapsed {
    transform: rotate(0deg);
}


.ms-GroupHeader-title[b-hepuc48dpt] {
    padding-left: 12px;
    font-size: var(--fontSize-MediumPlus);
    font-weight: var(--fontWeight-SemiBold);
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.ms-GroupHeader--compact .ms-GroupHeader-title[b-hepuc48dpt] {
    font-size: var(--fontSize-Medium);
}


.ms-GroupHeader.is-collapsed .ms-GroupHeader-title[b-hepuc48dpt] {
    font-weight: var(--fontWeight-Regular);
}


.ms-GroupHeader-dropIcon[b-hepuc48dpt] {
    position: absolute;
    left: -26px;
    font-size: var(--iconFontSize-Large); /*//used IconFontSize theme style which we haven't implemented yet.*/
    color: var(--palette-NeutralSecondary);
    transition: transform var(--animation-DURATION_2) cubic-bezier(0.600, -0.280, 0.735, 0.045), opacity var(--animation-DURATION_4) cubic-bezier(0.390, 0.575, 0.565, 1.000);
    opacity: 0;
    transform: rotate(0.2deg) scale(0.65);
    transform-origin: 10px 10px;
}


    .ms-GroupHeader-dropIcon .ms-Icon--Tag[b-hepuc48dpt] {
        position: absolute;
    }
            
