/*.ms-RatingStar-root:hover .ms-RatingStar-back {
    color: var(--palette-NeutralPrimary)
}

.ms-RatingStar-root--small {
    height: 32px;
}

.ms-RatingStar-root--large {
    height: 36px;
}

.ms-RatingStar-container {
    display: inline-block;
    position: relative;
    height: inherit;
}

.ms-RatingStar-back {
    width: 100%;
    color: var(--palette-NeutralSecondary)
}

.ms-RatingStar-back--disabled {
    width: 100%;
    color: var(--semanticColors-DisabledBodySubtext)
}

.ms-RatingStar-front {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    color: var(--palette-NeutralPrimary);
    width: 0px
}

.ms-Rating-button {
    background-color: transparent;
    padding: 8px 2px;
    box-sizing: content-box;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;

    outline: transparent;
    position: relative;
}

.ms-Rating-button--disabled {
    background-color: transparent;
    padding: 8px 2px;
    box-sizing: content-box;
    margin: 0;
    border: none;
    cursor: default;

}

    /*.ms-Rating-button:hover ~ .ms-RatingStar-back, .ms-RatingStar-front {
        color: var(--palette-NeutralSecondary);
    }

    .ms-Rating-button:hover .ms-RatingStar-back {
        color: var(--palette-ThemePrimary);
    }

    .ms-Rating-button:hover .ms-RatingStar-front {
        color: var(--palette-ThemeDark);
    }

    .ms-Rating-button::-moz-focus-inner {
        border: 0;
    }

.ms-Fabric--isFocusVisible .ms-Rating-button:focus:after {
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid transparent;
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zindex-FocusStyle);
}*/

/*/// NEEDED?*/
/*@media screen and (-ms-high-contrast: active) {
    .ms-Fabric--isFocusVisible .ms-Rating-button:focus:after {
        left: -2px;
        top: -2px;
        bottom: -2px;
        right: -2px;
        border: none;
        outline-color: ButtonText;
    }
}*/
/*.ms-Rating--small {
    font-size: 16px;
    line-height: 16px;
    height: 16px;
}

.ms-Rating--large {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
}

.ms-Rating-labelText {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
}

.ms-Rating-focuszone {
    */
/* hotfix for space between buttons should be inline-block*/
/* switched back to inline-block, perhaps the focusStyles (position:relative) fixes the spacing */
/*   display: inline-block;
    outline: transparent;
    position: relative;
}
    .ms-Rating-focuszone::-moz-focus-inner {
        border: 0;
    }

    .ms-Rating-focuszone:before .ms-Rating-focuszone:after{
        box-sizing:inherit;
    }

.ms-Fabric--isFocusVisible .ms-Rating-focuszone:focus:after {
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid transparent;
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zindex-FocusStyle);
}*/

/*/// NEEDED?*/
/*@media screen and (-ms-high-contrast: active) {
    .ms-Fabric--isFocusVisible .ms-Rating-button:focus:after {
        left: -2px;
        top: -2px;
        bottom: -2px;
        right: -2px;
        border: none;
        outline-color: ButtonText;
    }
}*/