@using FluentUI.Resize;
@inherits ResizeComponentBase


<PivotItem HeaderText=@HeaderText>
    <div @ref="RootElementReference" style="white-space: nowrap">
        @ChildContent
        @if (ItemTemplate != null && ItemsSource != null)
        {
            <div  @ref="updateHiddenDiv" style="display: inline">
                @foreach (var item in ResizableGroups)
                {
                    @ItemTemplate(item)
                }
            </div>
         }
    </div>
</PivotItem>
