@namespace BlazorFluentUI
@inherits BFUComponentBase

@typeparam TItem

<BFUGlobalCS Component=@this CreateGlobalCss=@CreateGlobalCss/>

<div class=@($"ms-List mediumFont {ClassName}") role="list" @ref="RootElementReference"
        style=@($"{Style}overflow-y:hidden;height:100%;")>
    <div @ref="surfaceDiv" @onscroll=@OnScroll class="ms-List-surface" role="presentation" style="overflow-y:auto;height:100%;">
        @ItemPagesRender
    </div>
</div>