@inherits BFUComponentBase
@typeparam TItem

@if (this.IsVisible)
{
    <BFULocalCS @bind-Rules="@LocalCssRules" />
    <div @ref=@RootElementReference class="ms-ChoiceField" style=@Style id="@this.Id">
        <div class="ms-ChoiceField-wrapper" @onclick="OnOptionClick">
            <input type="radio" checked=@this._isSelected class="ms-ChoiceField-input" />
            @if (!string.IsNullOrWhiteSpace(this.Label))
            {
                <label class="ms-ChoiceField-field">
                    <span class="ms-ChoiceFieldLabel">@this.Label</span>
                </label>
            }
            @if (this.Item != null && this.OptionTemplate != null)
            {
                @this.OptionTemplate(Item)
            }
        </div>
    </div>
}
