.ms-Callout{
    position: absolute;
    box-sizing: border-box;
    border-style: solid;
    border-color: var(--palette-NeutralLight);
    /*box-shadow: 0 0 5px 0px rgba(0,0,0,0.4);*/
    border-radius: var(--effects-RounderCorner2);
    border-width:0;
    box-shadow: var(--effects-Elevation16);
    /*focusClear() ?*/
}

@media screen and (-ms-high-contrast: active) {
    .ms-Callout {
        border-width: 1px;
        border-style: solid;
        border-color: WindowText;
    }
}

.ms-Callout-container{
    position:relative;
}

.ms-Callout-beak {
    position: absolute;
    background-color: var(--palette-White);
    box-shadow: inherit;
    border: inherit;
    box-sizing: border-box;
    transform: rotate(45deg);
    border-radius: var(--effects-RounderCorner2);
}

.ms-Callout-beakCurtain{
    position:absolute;
    top:0;
    right: 0;
    bottom:0;
    left:0;
    background-color: var(--palette-White);
}

.ms-Callout-main {
    background-color: var(--palette-White);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    border-radius: var(--effects-RounderCorner2);
}