@namespace FluentUI
@inherits FluentUIComponentBase

<LocalCS @bind-Rules="PersonaPresenceLocalRules" />
<div class=@($"ms-Persona-presence {LocalSpecificityClass} {PresenceRule.Selector.SelectorName} {PresenceAfterRule.Selector.SelectorName} {PresenceBeforeRule.Selector.SelectorName} {ClassName}")
     style=@Style
     title=@PresenceTitle>
    @if (RenderIcon)
    {
        <Icon ClassName=@($"ms-Persona-icon {LocalSpecificityClass} {IconRule.Selector.SelectorName}") 
              IconName=@DetermineIcon(Presence, IsOutOfOffice) />
    }
</div>