/*.ms-ProgressIndicator{

}

@keyframes IndeterminateProgress {
    0% {
        left: -30%;
    }
    100% {
        left: 100%;
    }
}
@keyframes IndeterminateProgressRTL {
    100% {
        right: -30%;
    }

    0% {
        right: 100%;
    }
}

.ms-ProgressIndicator-itemName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: var(--semanticColors-BodyText);
    padding-top:4px;  8/2 
    line-height:20px;* 18+2 
}

.ms-ProgressIndicator-itemDescription{
    color: var(--semanticColors-BodySubtext);
    font-size:var(--fontSize-Small);
    line-height:18px;
}

.ms-ProgressIndicator-itemProgress {
    position: relative;
    overflow: hidden;
    padding: 8px 0;
}

.ms-ProgressIndicator-progressTrack{
    position:absolute;
    width:100%;
    background-color:var(--palette-NeutralLight);
}

.ms-ProgressIndicator-progressBar{
    background-color:var(--palette-ThemePrimary);
    position:absolute;
    transition:width .3s ease;
    width:0;
}



@media screen and (-ms-high-contrast: active) {
    .ms-ProgressIndicator-progressTrack {
        border-bottom: 1px solid WindowText;
    }
    .ms-ProgressIndicator-progressBar{
        background-color:WindowText;
    }
}*/
