@namespace BlazorFluentUI
@inherits BFUComponentBase

<CascadingValue Name="PortalId" Value=@Id>
    <span class=@($"ms-Layer mediumFont {(this.IsFixed ? " ms-Layer--fixed" : "")}")
          @ref=@RootElementReference
          data-parent-layer-id=@Id>
        <div class="ms-Layer-content">
            @ChildContent
        </div>
    </span>
</CascadingValue>