@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<br />
@vm.TestProp
<br />
@vm.TestProp2
<br />

<button @onclick=@ClickHandler >Click</button>

@code{

VM.ViewModelBase vm;
int count = 0;

protected override Task OnInitAsync()
{

    vm = new VM.ViewModelBase();
    return base.OnInitAsync();
}

void ClickHandler(UIMouseEventArgs args)
{
    count++;
    vm.TestProp = count.ToString();
    StateHasChanged();
}

}