@inherits  CalloutBase


    <BlazorFabric.Layer.Layer>
        <div class="ms-Callout-container" @ref="RootElementRef" style=@($"{(this.Hidden ? "visibility: hidden;" : "")}") >
            <div class=@($"ms-Callout mediumFont {GetAnimationStyle()}")
                 @ref="calloutRef"
                 style=@($"{CalloutPosition.ElementRectangle.GetStyle()} {(CalloutWidth > 0 ? "width: " + CalloutWidth + "px":"")} {(CalloutMaxWidth > 0?"maxWidth: " + CalloutMaxWidth + "px":"")}")>
                @if(this.IsBeakVisible)
                {
                    <div class="ms-Callout-beak" style=@($"{CalloutPosition.BeakPosition.ElementRectangle.GetStyle()} width:{BeakWidth}px; height:{BeakWidth}px; {(BackgroundColor != null ? "background-color:"+BackgroundColor+";" : "")}")/>
                    <div class="ms-Callout-beakCurtain" />
                }
                <BlazorFabric.Popup.Popup AriaLabel=@AriaLabel
                                          AriaDescribedBy=@AriaDescribedBy
                                          AriaLabelledBy=@AriaLabelledBy
                                          ClassName="ms-Callout-main"
                                          ShouldRestoreFocus="true"
                                          Style=@($"max-height: {contentMaxHeight}px;{(overflowYHidden ? "overflow-y: hidden;" : "")} {(BackgroundColor != null ? "background-color:"+BackgroundColor+";" : "")}")>
                    @ChildContent
                </BlazorFabric.Popup.Popup>
            </div>
        </div>
    </BlazorFabric.Layer.Layer>

                