@using Microsoft.AspNetCore.Components

    <Stack Horizontal="false" VerticalFill="true" Style="overflow:hidden;">
        <StackItem Grow="0" VerticalFill="false">
            <div class="top-row pl-4 navbar navbar-dark">
                <a class="navbar-brand" href=""><b>BlazorFabric Demo</b></a>
                @*<button class="navbar-toggler" @onclick="@ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>*@
            </div>
        </StackItem>

        <StackItem VerticalFill="true" Style="overflow-y:auto;">
            <Nav>
                <NavLinkGroup Name="Basic Controls" CollapseByDefault="false">
                    <NavFabricLink Name="Basic" Url="" Id="/" Icon="ButtonControl" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Button" Url="buttonsPage" Id="buttonsPage" Icon="ButtonControl" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Checkbox" Url="checkboxPage" Id="checkboxPage" Icon="CheckboxComposite" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Dropdown" Url="dropdownPage" Id="dropdownPage" Icon="Dropdown" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Label" Url="labelPage" Id="labelPage" Icon="Label" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Link" Url="linkPage" Id="linkPage" Icon="Link" OnClick="@OnLinkClicked" />
                    <NavFabricLink Name="Rating" Url="ratingPage" Id="ratingPage" Icon="FavoriteStar" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="TextField" Url="textFieldPage" Id="textFieldPage" Icon="TextField" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Toggle" Url="togglePage" Id="togglePage" Icon="ToggleLeft" OnClick=@OnLinkClicked />
                </NavLinkGroup>
                <NavLinkGroup Name="Galleries & Pickers" CollapseByDefault="false">
                    <NavFabricLink Name="Calendar" Url="calendarPage" Id="calendarPage" Icon="Calendar" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="DatePicker" Url="datePickerPage" Id="datePickerPage" Icon="SearchCalendar" OnClick=@OnLinkClicked />
                </NavLinkGroup>
                <NavLinkGroup Name="Items & Lists" CollapseByDefault="false">
                    <NavFabricLink Name="List" Url="listPage" Id="listPage" Icon="List" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="DetailsList" Url="detailsListPage" Id="detailsListPage" Icon="List" OnClick=@OnLinkClicked />
                        <NavFabricLink Name="DetailsList-Grouped" 
                                       NestedDepth="1" 
                                       Url="detailsListGroupedPage" 
                                       Id="detailsListGroupedPage"
                                       NavMatchType="NavMatchType.AnchorIncluded" />
                    <NavFabricLink Name="GroupedList" Url="groupedListPage" Id="groupedListPage" Icon="Group" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Persona" Url="personaPage" Id="personaPage" Icon="Contact" OnClick=@OnLinkClicked />
                </NavLinkGroup>
                <NavLinkGroup Name="Commands, Menus & Navs" CollapseByDefault="false">
                    <NavFabricLink Name="CommandBar" Url="commandBarPage" Id="commandBarPage" Icon="Bar" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="ContextualMenu" Url="contextualMenuPage" Id="contextualMenuPage" Icon="ContextMenu" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Nav" Url="navPage" Id="navPage" Icon="SecondaryNav" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="OverflowSet" Url="overflowSetPage" Id="overflowSetPage" Icon="More" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Pivot" Url="pivotPage" Id="pivotPage" Icon="TabCenter" OnClick=@OnLinkClicked />
                </NavLinkGroup>
                <NavLinkGroup Name="Notification & Engagement" CollapseByDefault="false">
                    <NavFabricLink Name="MessageBar" Url="messageBarPage" Id="messageBarPage" Icon="Message" OnClick=@OnLinkClicked />
                </NavLinkGroup>
                <NavLinkGroup Name="Progress" CollapseByDefault="false">
                    <NavFabricLink Name="ProgressIndicator" Url="progressIndicatorPage" Id="progressIndicatorPage" Icon="ProgressLoopInner" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Spinner" Url="spinnerPage" Id="spinnerPage" Icon="ProgressRingDots" OnClick=@OnLinkClicked />
                </NavLinkGroup>
                <NavLinkGroup Name="Surfaces" CollapseByDefault="false">
                    <NavFabricLink Name="Callout" Url="calloutPage" Id="calloutPage" Icon="TextCallout" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Dialog" Url="dialogPage" Id="dialogPage" Icon="TextCallout" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Modal" Url="modalPage" Id="modalPage" Icon="TextCallout" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Panel" Url="panelPage" Id="panelPage" Icon="SidePanel" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Tooltip" Url="tooltipPage" Id="tooltipPage" Icon="DiagnosticDataBarTooltip" OnClick=@OnLinkClicked />
                </NavLinkGroup>
                <NavLinkGroup Name="Utilities" CollapseByDefault="false">
                    <NavFabricLink Name="FocusTrapZone" Url="focusTrapZonePage" Id="focusTrapZonePage" Icon="Focus" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="FocusZone" Url="focusZonePage" Id="focusZonePage" Icon="Focus" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Image" Url="imagePage" Id="imagePage" Icon="ImagePixel" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Layer" Url="layerPage" Id="layerPage" Icon="MapLayers" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="ResizeGroup" Url="resizeGroupPage" Id="resizeGroupPage" Icon="Resize" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="RichTextEditor" Url="richTextEditorPage" Id="richTextEditorPage" Icon="Edit" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Stack" Url="stackPage" Id="stackPage" Icon="Stack" OnClick=@OnLinkClicked />
                    <NavFabricLink Name="Text" Url="textPage" Id="textPage" Icon="PlainText" OnClick=@OnLinkClicked />
                </NavLinkGroup>
            </Nav>
        </StackItem>
    </Stack>

@code {

    [Parameter] public EventCallback<NavFabricLink> OnLinkClicked { get; set; }

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
