@namespace BlazorFluentUI
@inherits BFUComponentBase

<div style=@Style id=@Id class=@(string.IsNullOrWhiteSpace(Id) ? "ms-Layer--fixed" : "")
    @ref="RootElementReference">
    
    @ChildContent
        
    <BFULayerPortalGenerator @ref="portalGeneratorReference" />
</div>

