/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.fabricList {
    overflow: auto;
    height:400px;
}

.fabricList-item {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--semanticColors-BodyDivider);
    display: flex;
}
.fabricList-item:hover {
    background-color: var(--palette-NeutralLighter);
}
.fabricList-item.is-active {
    background-color: var(--palette-NeutralLight);
}
