<LayerHost Style="display:flex; flex-direction: row;width:100vw;height:100vh;overflow:hidden;">
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" />
        </Found>
        <NotFound>
            <p>Page not found.</p>
        </NotFound>
    </Router>
</LayerHost>
