.ms-Button.ms-Button--icon {
    padding: 0 4px;
    min-width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    color: var(--semanticColors-Link);
}

    .ms-Button.ms-Button--icon:hover {
        color: var(--palette-ThemeDarkAlt);
        background-color: var(--palette-NeutralLighter);
    }

    .ms-Button.ms-Button--icon:active {
        color: var(--palette-ThemeDark);
        background-color: var(--palette-NeutralLight);
    }

    .ms-Button.ms-Button--icon.is-checked:not(.is-disabled) {
        color: var(--palette-ThemeDark);
        background-color: var(--palette-NeutralLight);
    }

        .ms-Button.ms-Button--icon.is-checked:hover {
            color: var(--palette-ThemeDark);
            background-color: var(--palette-NeutralQuaternaryAlt);
        }

    .ms-Button.ms-Button--icon.is-disabled {
        color: var(--palette-NeutralQuaternaryAlt);
    }

@media screen and (-ms-high-contrast: active) {
    .ms-Button.ms-Button--icon:hover {
        color: Highlight;
        border-color: Highlight;
    }
}
