.ms-Button--action {
    min-width: unset;
}

.ms-Button.ms-Button--action:not(.ms-Pivot-link) {
    padding: 0px 4px;
    height: 40px;
    color: var(--palette-NeutralPrimary);
    background-color: transparent;
    border: 1px solid transparent;
}

    .ms-Button.ms-Button--action:not(.ms-Pivot-link):hover {
        color: var(--palette-ThemePrimary);
    }

    .ms-Button.ms-Button--action:not(.ms-Pivot-link) .ms-Button-icon:hover {
        color: var(--palette-ThemePrimary);
    }

    .ms-Button.ms-Button--action:not(.ms-Pivot-link):active {
        color: var(--palette-Black);
    }

    .ms-Button.ms-Button--action:not(.ms-Pivot-link).is-expanded {
        color: var(--palette-ThemePrimary);
    }

    .ms-Button.ms-Button--action:not(.ms-Pivot-link) .ms-Button-icon:active {
        color: var(--palette-ThemeDarker);
    }

    .ms-Button.ms-Button--action:not(.ms-Pivot-link).is-disabled {
        color: var(--palette-NeutralTertiary);
        background-color: transparent;
    }

    .ms-Button.ms-Button--action:not(.ms-Pivot-link).is-checked:not(.is-disabled) {
        color: var(--palette-Black);
    }

        .ms-Button.ms-Button--action:not(.ms-Pivot-link).is-checked .ms-Button-icon {
            color: var(--palette-ThemeDarker);
        }

    .ms-Button.ms-Button--action:not(.ms-Pivot-link) .ms-Button-flexContainer {
        justify-content: flex-start;
    }

    .ms-Button.ms-Button--action:not(.ms-Pivot-link) .ms-Button-icon {
        color: var(--palette-ThemeDarkAlt);
    }

    .ms-Button.ms-Button--action:not(.ms-Pivot-link).is-disabled .ms-Button-icon {
        color: inherit;
    }

    .ms-Button.ms-Button--action:not(.ms-Pivot-link) .ms-Button-menuIcon {
        color: var(--palette-NeutralSecondary);
    }

    .ms-Button.ms-Button--action:not(.ms-Pivot-link) .ms-Button-textContainer {
        flex-grow: 0;
    }

    .ms-Button.ms-Button--action:not(.ms-Pivot-link) .ms-Button-label {
        font-weight: var(--fontWeight-Regular);
    }

@media screen and (-ms-high-contrast: active) {
    .ms-Button.ms-Button--action:not(.ms-Pivot-link):hover {
        color: Highlight;
        border-color: Highlight;
    }
}
