@page "/ratingPage"

<h1>Rating</h1>

<Demo Header="Rating" Key="0" MetadataPath="RatingPage">
    <Label>Large Stars:</Label>
    <Rating Size="RatingSize.Large" />

    <Label>Small Stars:</Label>
    <Rating RatingValue="3" />

    <Label>10 Small Stars:</Label>
    <Rating Max="10" />

    <Label>Disabled:</Label>
    <Rating Disabled="true" />

    <Label>Half star in readOnly mode:</Label>
    <Rating ReadOnly="true" RatingValue="2.5" />

    <Label>Custom icons:</Label>
    <Rating RatingValue="2.5" IconName="StarburstSolid" UnselectedIcon="Starburst" />
</Demo>

<Demo Header="Two-Way-Binding" Key="1" MetadataPath="RatingPage">
    <Rating Max="10" @bind-RatingValue="rateten" />
    @rateten of 10 Stars selected!
</Demo>

<Demo Header="Button Controlled Rating" Key="2" MetadataPath="RatingPage">
    <Rating AllowZeroStars="true" RatingValue="rate" ReadOnly="true" />
    <PrimaryButton OnClick="SetRate" Text="@buttonText" />
</Demo>

@code {
    private double rate = 0;
    private double rateten = 1;
    private string buttonText = "Click to change rating to 5";
    private void SetRate()
    {
        Console.WriteLine(rateten);
        if (rate == 0)
        {
            buttonText = "Click to change rating to 0";
            rate = 5;
        }
        else
        {
            buttonText = "Click to change rating to 5";
            rate = 0;
        }
    }
}


