@namespace BlazorFabric
@inherits FabricComponentBase

<GlobalCS Component="this" CreateGlobalCss=@CreateGlobalCss />
<LocalCS @bind-Rules="PersonaPresenceLocalRules" />
<div class=@($"ms-Persona-presence {PresenceRule.Selector.SelectorName} {PresenceAfterRule.Selector.SelectorName} {PresenceBeforeRule.Selector.SelectorName} {ClassName}")
     style=@Style
     title=@PresenceTitle>
    @if (RenderIcon)
    {
        <Icon ClassName=@($"ms-Persona-icon {IconRule.Selector.SelectorName}") 
              IconName=@DetermineIcon(Presence, IsOutOfOffice) />
    }
</div>