.ms-Button {
    /* focusStyles */
    outline: transparent;
    position: relative;
    /* end */
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    user-select: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    padding: 0 16px;
    min-width: 80px;
    height: 32px;
    border-radius: var(--effects-RoundedCorner2);
}

    .ms-Button::-moz-focus-inner {
        border: 0;
    }

.ms-Fabric--isFocusVisible .ms-Button:focus:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    border: 1px solid transparent;
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zindex-FocusStyle);
}

@media screen and (-ms-high-contrast: active) {
    .ms-Fabric--isFocusVisible .ms-Button:focus:after {
        left: -2px;
        top: -2px;
        bottom: -2px;
        right: -2px;
        border: none;
        outline-color: ButtonText;
    }
}


.ms-Button:active > * {
    position: relative;
    left: 0;
    top: 0;
}

.ms-Button.is-disabled {
    background-color: var(--semanticColors-DisabledBackground);
    color: var(--semanticColors-DisabledText);
    cursor: default;
    pointer-events: none;
}

.ms-Button:hover {
    text-decoration: none;
    outline: 0;
}

.ms-Button:focus {
    text-decoration: none;
    outline: 0;
}

.ms-Button:link {
    text-decoration: none;
}

.ms-Button:visited {
    text-decoration: none;
}

.ms-Button:active {
    text-decoration: none;
}

@media screen and (-ms-high-contrast: active) {
    .ms-Button {
        color: GrayText;
        border-color: GrayText;
    }
}

.ms-Button.is-expanded {
    color: var(--palette-NeutralDark);
    background-color: var(--palette-NeutralLight);
}
.ms-Button.ms-Button--primary.is-expanded {
    color:var(--palette-White);
    background-color: var(--palette-ThemeDark);
}

    .ms-Button.is-expanded .ms-Button-icon {
        color: var(--palette-ThemeDark);
    }
    .ms-Button.ms-Button--primary.is-expanded .ms-Button-icon {
        color: var(--palette-White);
    }

    .ms-Button.is-expanded .ms-Button-menuIcon {
        color: var(--palette-NeutralPrimary);
    }
    .ms-Button.ms-Button--primary.is-expanded .ms-Button-menuIcon {
        color: var(--palette-White);
    }

    .ms-Button.is-expanded:hover {
        background-color: var(--palette-NeutralQuaternaryAlt);
    }
    .ms-Button.ms-Button--primary.is-expanded:hover {
        background-color: var(--palette-ThemeDark);
    }

.ms-Button.is-disabled .ms-Button-icon {
    color: var(--semanticColors-DisabledText);
}

.ms-Button.is-disabled .ms-Button-menuIcon {
    color: var(--semanticColors-DisabledText);
}

.ms-Button-flexContainer {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.ms-Button-textContainer {
    flex-grow: 1;
    display: block;
}

.ms-Button-description {
    display: block;
}

.ms-Button-icon {
    font-size: var(--fontSize-Icon);
    margin: 0px 4px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    flex-shrink: 0;
}

.ms-Button-menuIcon,
.ms-Button-menuIcon .ms-Button-icon{
    font-size: var(--fontSize-Small);
    margin: 0px 4px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    flex-shrink: 0;
}

.ms-Button-label {
    font-weight: var(--fontWeight-SemiBold);
    margin: 0px 4px;
    line-height: 100%;
    display: block;
}

.ms-Button-screenReaderText {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
}