.ms-Button--primary {
    color: var(--palette-White);
    background-color: var(--palette-ThemePrimary);
    border: none;
    border-width: 0px;
}

.ms-Fabric--isFocusVisible .ms-Button--primary:focus::after {
    outline: none;
    border-color: var(--palette-White);
}

    .ms-Button--primary:hover {
        color: var(--palette-White);
        background-color: var(--palette-ThemeDarkAlt);
    }

    .ms-Button--primary:active {
        color: var(--palette-White);
        background-color: var(--palette-ThemeDark);
    }

    .ms-Button--primary.is-checked:not(.is-disabled) {
        color: var(--palette-White);
        background-color: var(--palette-ThemeDark);
        border: none;
    }
        .ms-Button--primary.is-checked:hover {
            color: var(--palette-White);
            background-color: var(--palette-ThemePrimary);
            border: none;
        }

    .ms-Button--primary.is-disabled {
        /*color: var(--palette-NeutralLighter);
        background-color: var(--palette-NeutralLighter);*/
    }

@media screen and (-ms-high-contrast: active) {
    .ms-Button--primary {
        color: Window;
        background-color: WindowText;
        MsHighContrastAdjust: none;
    }
        .ms-Button--primary:hover {
            color: Window;
            background-color: Highlight;
        }
        .ms-Button--primary:active {
            color: Window;
            background-color: WindowText;
            MsHighContrastAdjust: none;
        }

        .ms-Button--primary.is-disabled {
            color: GrayText;
            background-color: Window;
            border-color: GrayText;
        }
}