.ms-Button.ms-Button--commandBar {
    min-width:40px;
    padding: 0px 4px;
    height: 40px;
    color: var(--palette-NeutralPrimary);
    border: none;
    border-radius: 0;
    background-color: var(--palette-White);
}

    .ms-Button.ms-Button--commandBar:hover {
        background-color: var(--palette-NeutralLighter);
        color: var(--palette-NeutralDark);
    }
        .ms-Button.ms-Button--commandBar .ms-Button-icon:hover {
            color: var(--palette-ThemeDarkAlt);
        }
        .ms-Button.ms-Button--commandBar .ms-Button-menuIcon:hover {
            color: var(--palette-NeutralPrimary);
        }

    .ms-Button.ms-Button--commandBar:active {
        background-color: var(--palette-NeutralLight);
        color: var(--palette-Black);
    }
        .ms-Button.ms-Button--commandBar:active .ms-Button-icon {
            color: var(--palette-ThemeDarkAlt);
        }
        .ms-Button.ms-Button--commandBar:active .ms-Button-menuIcon {
            color: var(--palette-NeutralPrimary);
        }

    .ms-Button.ms-Button--commandBar.is-checked:not(.is-disabled) {
        background-color: var(--palette-NeutralLight);
        color: var(--palette-NeutralDark);
    }
        .ms-Button.ms-Button--commandBar.is-checked:not(.is-disabled) .ms-Button-icon {
            color: var(--palette-ThemeDark);
        }
        .ms-Button.ms-Button--commandBar.is-checked:not(.is-disabled) .ms-Button-menuIcon {
            color: var(--palette-NeutralPrimary);
        }

    .ms-Button.ms-Button--commandBar.is-checked:hover {
        background-color: var(--palette-NeutralQuaternaryAlt);
    }
        .ms-Button.ms-Button--commandBar.is-checked:hover .ms-Button-icon {
            color: var(--palette-ThemeDark);
        }
        .ms-Button.ms-Button--commandBar.is-checked:hover .ms-Button-menuIcon {
            color: var(--palette-NeutralPrimary);
        }


    .ms-Button.ms-Button--commandBar.is-expanded {
        color: var(--palette-NeutralDark);
        background-color: var(--palette-NeutralLight);
    }
        .ms-Button.ms-Button--commandBar.is-expanded .ms-Button-icon {
            color: var(--palette-ThemeDark);
        }
        .ms-Button.ms-Button--commandBar.is-expanded .ms-Button-menuIcon {
            color: var(--palette-NeutralPrimary);
        }

    .ms-Button.ms-Button--commandBar.is-expanded:hover {
        background-color: var(--palette-NeutralQuaternaryAlt);
    }

    
    .ms-Button.ms-Button--commandBar.is-disabled {
        background-color: var(--palette-White);
    }
    .ms-Button.ms-Button--commandBar.is-disabled .ms-Button-icon {
        color: var(--semanticColors-DisabledBodySubtext);
    }

    .ms-Button.ms-Button--commandBar .ms-Button-icon {
        color: var(--palette-ThemePrimary);
    }

    .ms-Button.ms-Button--commandBar .ms-Button-label {
        font-weight: normal;
    }

    .ms-Button.ms-Button--commandBar .ms-Button-menuIcon {
        color: var(--palette-NeutralSecondary);
    }



    


@media screen and (-ms-high-contrast: active) {
    .ms-Button.ms-Button--commandBar {
        border:none;
    }

    .ms-Button.ms-Button--commandBar:hover {
        color:Highlight;
    }
}
