.ms-Button-splitContainer {
    display: inline-flex;
    position:relative;
}

    .ms-Button-splitContainer .ms-Button--default:not(.ms-Button-menuIcon) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
    }
    .ms-Button-splitContainer .ms-Button--primary:not(.ms-Button-menuIcon) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: none;
    }

    .ms-Button-splitContainer .ms-Button-menuIcon {
        padding: 6px;
        height: auto;
        box-sizing: border-box;
        border-radius: 0;
        border-top-right-radius: var(--effects-RoundedCorner2);
        border-bottom-right-radius: var(--effects-RoundedCorner2);
        border-left:none;
        outline:transparent;
        user-select:none;
        display:inline-block;
        text-decoration:none;
        text-align:center;
        cursor:pointer;
        vertical-align:top;
        min-width:32px;
        width:32px;
        margin-left:-1px;
        margin-top:0;
        margin-right:0;
        margin-bottom:0;
    }

.ms-Button-divider {
    position: absolute;
    width: 1px;
    right: 31px;
    top: 8px;
    bottom: 8px;
}
.ms-Button--primary.ms-Button-divider {
    background-color: var(--palette-White);
}
.ms-Button--default.ms-Button-divider {
    background-color: var(--semanticColors-BodyDivider);
}
.ms-Button-divider.disabled {
    background-color: var(--semanticColors-BodyDivider);
}