.ms-Button.ms-Button--action {
    padding: 0px 4px;
    height: 40px;
    color: var(--palette-NeutralPrimary);
    background-color: transparent;
    border: 1px solid transparent;
}
    .ms-Button.ms-Button--action:hover {
        color: var(--palette-ThemePrimary);
    }
    .ms-Button.ms-Button--action .ms-Button-icon:hover {
        color: var(--palette-ThemePrimary);
    }
    .ms-Button.ms-Button--action:active {
        color: var(--palette-Black);
    }
    .ms-Button.ms-Button--action.is-expanded {
        color: var(--palette-ThemePrimary);
    }
    .ms-Button.ms-Button--action .ms-Button-icon:active {
        color: var(--palette-ThemeDarker);
    }
    .ms-Button.ms-Button--action.is-disabled {
        color: var(--palette-NeutralTertiary);
        background-color: transparent;
    }
    .ms-Button.ms-Button--action.is-checked {
        color: var(--palette-Black);
    }
        .ms-Button.ms-Button--action.is-checked .ms-Button-icon {
            color: var(--palette-ThemeDarker);
        }
    .ms-Button.ms-Button--action .ms-Button-flexContainer {
        justify-content: flex-start;
    }
    .ms-Button.ms-Button--action .ms-Button-icon {
        color: var(--palette-ThemeDarkAlt);
    }
    .ms-Button.ms-Button--action.is-disabled .ms-Button-icon {
        color: inherit;
    }
    .ms-Button.ms-Button--action .ms-Button-menuIcon {
        color: var(--palette-NeutralSecondary);
    }
    .ms-Button.ms-Button--action .ms-Button-textContainer {
        flex-grow: 0;
    }

    .ms-Button.ms-Button--action .ms-Button-label {
        font-weight: var(--fontWeight-Regular);
    }

@media screen and (-ms-high-contrast: active) {
    .ms-Button.ms-Button--action:hover {
        color: Highlight;
        border-color: Highlight;
    }
}