.ms-Button--default {
    color: var(--semanticColors-ButtonText);
    background-color: var(--palette-White);
    border: 1px solid var(--palette-NeutralSecondaryAlt);
}

    .ms-Button--default:hover {
        color: var(--semanticColors-ButtonTextHovered);
        background-color: var(--palette-NeutralLighter);
    }

    .ms-Button--default:active {
        color: var(--semanticColors-ButtonTextChecked);
        background-color: var(--palette-NeutralLight);
    }

    .ms-Button--default.is-checked:not(.is-disabled) {
        color: var(--semanticColors-ButtonTextChecked);
        background-color: var(--palette-NeutralLight);
    }

        .ms-Button--default.is-checked:hover {
            background-color: var(--palette-NeutralLight);
        }

    .ms-Button--default.is-disabled {
        border-color: var(--palette-NeutralLighter);
        background-color: var(--palette-NeutralLighter);
    }

@media screen and (-ms-high-contrast: active) {
    .ms-Button--default {
        color: Highlight;
        border-color: Highlight;
    }

}
