.ms-Button.ms-Button--compound {
    max-width: 280px;
    min-height: 72px;
    padding: 16px 12px;
    height: auto;
}

    .ms-Button.ms-Button--compound .ms-Button-flexContainer {
        flex-direction: row;
        align-items: flex-start;
        min-width 100%;
        margin: unset;
    }

    .ms-Button.ms-Button--compound .ms-Button-textContainer {
        text-align: left;
    }

    .ms-Button.ms-Button--compound .ms-Button-icon {
        font-size: 2em;
        line-height: 1em;
        height: 1em;
        margin: 0 8px 0 0;
        flex-basis: 1em;
        flex-shrink: 0;
    }

    .ms-Button.ms-Button--compound .ms-Button-label {
        margin: 0 0 5px 0;
        line-height: 100%;
        font-weight: var(--fontWeight-SemiBold);
    }

    .ms-Button.ms-Button--compound .ms-Button-description {
        line-height: 100%;
    }

    .ms-Button--default.ms-Button--compound .ms-Button-description {
        color: var(--palette-NeutralSecondary)
    }

    .ms-Button--default.ms-Button--compound .ms-Button-description:hover {
        color: var(--palette-NeutralDark);
    }

    .ms-Button--default.ms-Button--compound.is-checked .ms-Button-description{
        color: inherit;
    }
    .ms-Button--default.ms-Button--compound.is-disabled .ms-Button-description{
        color: inherit;
    }

    .ms-Button--primary.ms-Button--compound .ms-Button-description {
        color: var(--palette-White)
    }

    .ms-Button--primary.ms-Button--compound .ms-Button-description:hover {
        color: var(--palette-White);
    }

    .ms-Button--primary.ms-Button--compound.is-checked .ms-Button-description{
        color: inherit;
    }
    .ms-Button--primary.ms-Button--compound.is-disabled .ms-Button-description{
        color: inherit;
    }
