@namespace FluentUI
@inherits FluentUIComponentBase
@using Microsoft.AspNetCore.Components.Web

<LocalCS @bind-Rules="@DocumentCardLogoRules" />

<div class=@($"{RootRule.Selector.SelectorName} {ClassName}") style="@Style">
    <Icon IconName="@LogoIcon"></Icon>
</div>