@namespace FluentUI
@inherits FluentUIComponentBase
@using Microsoft.AspNetCore.Components.Web

<LocalCS @bind-Rules="@DocumentCardDetailsLocalRules" />

<div @ref="RootElementReference" class=@($"{MainRule.Selector.SelectorName} ms-DocumentCardDetails {ClassName}") style="@Style">@ChildContent</div>