@namespace BlazorFluentUI
@inherits BFUComponentBase

<BFUGlobalCS Component="this" CreateGlobalCss="@CreateGlobalCss" />

<div class=@($"{(Disabled || ReadOnly ? "" : "ms-RatingStar-root")} mediumFont {(this.Size == RatingSize.Large ? "ms-RatingStar-root--large": "ms-RatingStar-root--small")}")
     @ref=@RootElementReference>
    <BFUFocusZone ClassName=@($"ms-Rating-focuszone {(this.Size == RatingSize.Large ? "ms-RatingStar-root--large": "ms-RatingStar-root--small")}")
               Direction="FocusZoneDirection.Horizontal"
               DefaultActiveElement=@(Rating != -1 && starReferences.Length == Max ? (starReferences[(int)Math.Max(0, Math.Ceiling(Rating)-1)]).Id : "")
               AriaLabel=@(ReadOnly ? (GetAriaLabel != null ? GetAriaLabel(Rating != -1 ? Rating : 0, Max) : null) : null)
               AriaReadonly=@ReadOnly
               IsFocusable=@ReadOnly
               Disabled=@ReadOnly
               AllowFocusRoot=@ReadOnly>
        @for (int i = 1; i <= Max; i++)
        {
            var percantage = GetPercentageOf(i);
            var value = i;
            var style = $"width:{GetPercentageOf(i)}%;";
            <button disabled="@(Disabled || ReadOnly)"
                    class=@($"{(Disabled || ReadOnly ? "ms-Rating-button--disabled" : "ms-Rating-button")} {(this.Size == RatingSize.Large ? "ms-Rating--large": "ms-Rating--small")}")
                    data-is-current=@(i == GetFullRating() ? "true" : "false" )
                    role="presentation"
                    @ref=@starReferences[value-1]
                    type="button"
                    @onclick="(() =>OnClick(value))">
                <span class="ms-Rating-labelText">Select @value of 5 stars</span>
                <div class="ms-RatingStar-container">
                    <BFUIcon ClassName=@(Disabled ? "ms-RatingStar-back--disabled" : "ms-RatingStar-back") IconName="@(percantage > 0 ? Icon : UnselectedIcon)" />
                    @if (!Disabled)
                    {
                        <BFUIcon ClassName="ms-RatingStar-front" IconName="@(percantage > 0 ? Icon : UnselectedIcon)" Style=@($"width:{percantage}%;") />
                    }
                </div>
            </button>
        }
    </BFUFocusZone>
</div>
