.ms-Layer {
    
}

.ms-Layer--fixed {
    position: fixed;
    z-index: var(--zindex-Layer);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
}

.ms-Layer-content{
    visibility:visible;
}