/* Button Styles */
.ms-Nav .ms-Button-textContainer{
    overflow:hidden;
}
.ms-Nav .ms-Button-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    line-height: 36px;
}

.ms-Nav {
    overflow-y: auto;
    user-select: none;
    -webkit-overflow-scrolling: touch;
}
.ms-Nav.is-on-top {
    position:absolute;
}

.ms-Nav-linkText{
    margin: 0px 4px;
    overflow: hidden;
    vertical-align: middle;
    text-align:left;
    text-overflow:ellipsis;
}

.ms-Nav .ms-Nav-compositeLink {
    display: block;
    position: relative;
    color: var(--semanticColors-BodyText);
    background-color: var(--semanticColors-BodyBackground);
}
.ms-Nav-compositeLink.is-disabled {
    color: var(--semanticColors-DisabledText);
}
.ms-Nav .ms-Nav-link {
    /*getFocusStyles*/
    outline: transparent;
    position: relative;
    /*endFocusStyles*/
    display: block;
    position: relative;
    height: 36px;
    width: 100%;
    line-height: 36px;
    text-decoration: none;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--semanticColors-BodyText);
}
    .ms-Nav-link::-moz-focus-inner {
        border: 0;
    }
.ms-Nav-compositeLink:hover:not(.is-disabled) .ms-Nav-link{
    background-color: var(--palette-NeutralLighterAlt);
    color: var(--semanticColors-BodyText);
}
.ms-Nav-compositeLink.is-selected .ms-Nav-link{
    color: var(--palette-ThemePrimary);
    background-color: var(--palette-NeutralLighter);
}
.ms-Nav-compositeLink.is-selected .ms-Nav-link:after {
    border-left: 2px solid var(--palette-NeutralLighter);
    content: "";
    position: absolute;
    top: 0px;
    bottom:0px;
    left:0px;
    right:0px;
    pointer-events:none;
}
.ms-Nav-compositeLink.is-disabled .ms-Nav-link {
    color: var(--semanticColors-DisabledText);
}
.ms-Nav-compositeLink.is-button .ms-Nav-link {
    color: var(--palette-ThemePrimary);
}

.ms-Nav-chevronButton {
    /*getFocusStyles*/
    outline: transparent;
    position: relative;
    /*endFocusStyles*/
    display:block;
    font-weight: var(--fontWeight-Regular);
    font-size: var(--fontSize-Small);
    text-align: left;
    line-height: 36px;
    margin: 5px 0px;
    padding: 0px 20px 0px 28px;
    border: none;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
    cursor:pointer;
    color: var(--semanticColors-BodyText);
    background-color:transparent;
}
    .ms-Nav-chevronButton::-moz-focus-inner{
        border:0;
    }
    .ms-Nav-chevronButton:visited {
        color: inherit;
    }
    .ms-Nav-chevronButton:hover {
        color: var(--semanticColors-BodyText);
        background-color: var(--palette-NeutralLighterAlt);
    }
.ms-Nav-compositeLink:hover .ms-Nav-chevronButton {
    color: var(--semanticColors-BodyText);
    background-color: var(--palette-NeutralLighterAlt);
}
.ms-Nav-chevronButton.is-group{
    width:100%;
    height: 36px;
    border-bottom: 1px solid var(--semanticColors-BodyDivider);
}
/* i.e. is a link */
.ms-Nav-compositeLink:not(.is-button) .ms-Nav-chevronButton {
    display: block;
    width: 26px;
    height: 34px;
    position: absolute;
    top: 1px;
    /* NEED NESTING LEVEL HERE */ left: 1px; /* indentationSize(14) * nestingLevel + 1 */
    z-index: var(--zindex-Nav);
    padding:0;
    margin:0;
}
.ms-Nav-compositeLink:not(.is-button).depth-one .ms-Nav-chevronButton {
    left: 15px;
}
.ms-Nav-compositeLink:not(.is-button).depth-two .ms-Nav-chevronButton {
    left: 29px;
}
.ms-Nav-compositeLink:not(.is-button).depth-three .ms-Nav-chevronButton {
    left: 43px;
}
.ms-Nav-compositeLink:not(.is-button).depth-four .ms-Nav-chevronButton {
    left: 57px;
}


.ms-Nav .ms-Nav-compositeLink .ms-Nav-link {
    padding-left: 27px;
}
.ms-Nav .ms-Nav-compositeLink.depth-one .ms-Nav-link {
    padding-left: 41px;
}
.ms-Nav .ms-Nav-compositeLink.depth-two .ms-Nav-link {
    padding-left: 55px;
}
.ms-Nav .ms-Nav-compositeLink.depth-three .ms-Nav-link {
    padding-left: 79px;
}
.ms-Nav .ms-Nav-compositeLink.depth-four .ms-Nav-link {
    padding-left: 83px;
}
.ms-Nav .ms-Nav-compositeLink.depth-five .ms-Nav-link {
    padding-left: 101px;
}


.ms-Nav .ms-Nav-compositeLink .ms-Nav-link.has-icon {
    padding-left: 3px;
}
.ms-Nav .ms-Nav-compositeLink.depth-one .ms-Nav-link.has-icon {
    padding-left: 17px;
}
.ms-Nav .ms-Nav-compositeLink.depth-two .ms-Nav-link.has-icon {
    padding-left: 31px;
}
.ms-Nav .ms-Nav-compositeLink.depth-three .ms-Nav-link.has-icon {
    padding-left: 45px;
}
.ms-Nav .ms-Nav-compositeLink.depth-four .ms-Nav-link.has-icon {
    padding-left: 59px;
}
.ms-Nav .ms-Nav-compositeLink.depth-five .ms-Nav-link.has-icon {
    padding-left: 73px;
}




.ms-Nav .ms-Nav-compositeLink.is-selected .ms-Nav-chevronButton {
    color: var(--palette-ThemePrimary);
    background-color: var(--palette-NeutralLighterAlt);
}
.ms-Nav .ms-Nav-compositeLink.is-selected .ms-Nav-chevronButton:after{
    border-left: 2px solid var(--palette-ThemePrimary);
    content: "";
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    pointer-events:none;
}
    .ms-Nav-compositeLink.is-selected .ms-Nav-link:only-child:after {
        border-left: 2px solid var(--palette-ThemePrimary);
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
    }


.ms-Nav-chevron {
    position: absolute;
    left: 8px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    transition: transform .1s linear;
}
.ms-Nav-compositeLink.is-expanded > * > .ms-Nav-chevron {
    transform: rotate(-180deg);
}
.ms-Nav-compositeLink:not(.is-button) > * > .ms-Nav-chevron {
    top: 0;
}
.ms-Nav-group.is-expanded > * > .ms-Nav-chevron {
    transform: rotate(-180deg);
}
.ms-Nav-group:not(.is-button) > * > .ms-Nav-chevron {
    top: 0;
}


.ms-Nav-navItem {
    padding:0;
}


.ms-Nav-navItems{
    list-style-type: none;
    padding:0;
}

.ms-Nav-group{
    position:relative;
}


.ms-Nav-groupContent{
    display:none;
    margin-bottom:40px;
}

.ms-Nav-group.is-expanded .ms-Nav-groupContent{
    display:block;
}