@namespace BlazorFabric
@inherits FabricComponentBase

    <div class=@($"bf-richTextEditor {this.ClassName}{(Disabled ? " is-disabled" : "")}")
         style=@Style>
        <CommandBar Items=@items ClassName="bf-richTextEditor-commandBar"/>
        <div @ref=@RootElementReference
             @onkeydown=@InterceptKeyPressAsync
             
             @onfocusin=@OnFocusAsync
             @onfocusout=@OnBlurAsync
             class="bf-richTextEditor-editor">

        </div>
    </div>