@using Microsoft.AspNetCore.Components
@inherits LayoutComponentBase

    <ResponsiveLayout>

        <Stack Horizontal="true" Style="width:100%;">
            <ResponsiveLayoutItem MinWidth="768" Default="true" Id="Wide NavMenu">
                <StackItem Grow="0" DisableShrink="true" Style="height:100%;overflow:hidden;">
                    <NavMenu />
                </StackItem>
            </ResponsiveLayoutItem>
            
            
            <StackItem Grow="1" Style="overflow:hidden">
                <Stack VerticalFill="true" Style="width:100%;">
                    <ResponsiveLayoutItem MinWidth="0" MaxWidth="767" Id="Narrow Button">
                        <StackItem Grow="0" VerticalFill="false">
                            <IconButton IconName="GlobalNavButton" OnClick=@ShowMenu />
                        </StackItem>
                    </ResponsiveLayoutItem>
                    <ResponsiveLayoutItem MinWidth="768" Default="true"  Id="Wide Header">
                        <StackItem Grow="0" VerticalFill="false">
                            <div class="top-row">
                                <a href="https://github.com/limefrogyank/BlazorFabric" target="_blank" class="ml-md-auto">View GitHub repo of BlazorFabric...</a>
                            </div>
                        </StackItem>
                    </ResponsiveLayoutItem>
                    <StackItem Grow="1" Style="overflow:hidden;">
                        <div class="content">
                            @Body
                        </div>
                    </StackItem>
                </Stack>

                <ResponsiveLayoutItem MinWidth="0" MaxWidth="767" Id="Narrow Panel">
                    <Panel Type=@PanelType.SmallFixedNear OnDismiss=@(()=>isPanelOpen = false) IsOpen=@isPanelOpen IsLightDismiss="true">
                        <NavigationTemplate>
                            <IconButton IconName="GlobalNavButton" OnClick=@(()=> InvokeAsync(()=> isPanelOpen = false)) />
                            <a href="https://github.com/limefrogyank/BlazorFabric" target="_blank" class="ml-md-auto">View GitHub repo of BlazorFabric...</a>
                        </NavigationTemplate>
                        <ChildContent>
                            <NavMenu OnLinkClicked=@OnNavLinkClick />
                        </ChildContent>
                    </Panel>
                </ResponsiveLayoutItem>
            </StackItem>


        </Stack>
      

    </ResponsiveLayout>

@code {
    private bool isMenuCollapsed = true;
    private bool isPanelOpen = false;

    void ShowMenu()
    {
        System.Diagnostics.Debug.WriteLine("Show Menu called");
        isPanelOpen = true;
    }

    void HideMenu()
    {
        System.Diagnostics.Debug.WriteLine("Hide Menu called");
        isPanelOpen = false;
        StateHasChanged();
    }

    void OnNavLinkClick(NavFabricLinkBase linkBase)
    {
        System.Diagnostics.Debug.WriteLine("Nav Link Clicked called");

        isPanelOpen = false;
    }


}