@page "/buttonsPage"

<h1>ButtonsPage</h1>
@buttonDebug

<Stack Tokens=@(new StackTokens { ChildrenGap = new double[] { 5 } })>

    <Toggle @bind-Checked="Disabled" DefaultChecked="false" InlineLabel="true" Label="Disable buttons" />

    <Toggle @bind-Checked="Checked" DefaultChecked="false" InlineLabel="true" Label="Mark as Checked" />

</Stack>

<h4>Default Button</h4>
<Stack Horizontal="true" Tokens=@(new StackTokens() { ChildrenGap = new[] { 40.0 } })>
    <DefaultButton Text="Standard" OnClick=@(() => OnClickHandler("Default Standard")) Disabled="Disabled" Checked="Checked" />
    <PrimaryButton Text="Primary" OnClick=@(() => OnClickHandler("Default Primary")) Disabled="Disabled" Checked="Checked" />
</Stack>

<h4>Compound Button</h4>
<Stack Horizontal="true" Tokens=@(new StackTokens() { ChildrenGap = new[] { 40.0 } })>
    <CompoundButton Text="Standard" SecondaryText="This is the secondary text." OnClick=@(() => OnClickHandler("Compound Standard")) Disabled=Disabled Checked=Checked />
    <CompoundButton Text="Primary" Primary="true" SecondaryText="This is the secondary text." OnClick=@(() => OnClickHandler("Compound Primary")) Disabled=Disabled Checked=Checked />
</Stack>

<h4>Command Bar Button</h4>
<Stack Horizontal="true" Style=@("height:44px")>
    <CommandBarButton IconName="Add"
                      Text="New item"
                      MenuItems="MenuProperties"
                      Disabled="Disabled"
                      Checked="Checked" />
    <CommandBarButton IconName="Mail" Text="Send mail" Disabled="Disabled" Checked="Checked" />
</Stack>

@*<h4>Split Button</h4>
<Stack Horizontal="true" Tokens=@(new StackTokens() { ChildrenGap = new[] { 40.0 } })>
    <DefaultButton Split="true" Text="Standard" OnClick=@(() => OnClickHandler("Default Standard")) MenuItems="MenuProperties" Disabled="Disabled" Checked="Checked" />
    <PrimaryButton Split="true" Text="Primary" OnClick=@(() => OnClickHandler("Default Primary")) MenuItems="MenuProperties" Disabled="Disabled" Checked="Checked" />
    <DefaultButton Split="true" Text="Standard" OnClick=@(() => OnClickHandler("Default Standard")) MenuItems="MenuProperties" Disabled="Disabled" PrimaryDisabled="true" Checked="Checked" />
    <PrimaryButton Split="true" Text="Primary" OnClick=@(() => OnClickHandler("Default Primary")) MenuItems="MenuProperties" Disabled="true" PrimaryDisabled="true" Checked="Checked" />
</Stack>*@

<h4>Split Button</h4>
    <Stack Horizontal="true" Wrap="true" Tokens=@(new StackTokens() { ChildrenGap = new[] { 40.0 } })>
        <DefaultButton Text="Standard"
                       Split="true"
                       MenuItems="MenuProperties"
                       OnClick=@(() => OnClickHandler("Standart Split"))
                       Disabled=Disabled
                       Checked=Checked />
        <PrimaryButton Text="Primary"
                       Split="true"
                       MenuItems="MenuProperties"
                       OnClick=@(() => OnClickHandler("Primary Split"))
                       Disabled=Disabled
                       Checked=Checked />
        <DefaultButton Text="Main action disabled"
                       PrimaryDisabled="true"
                       Split="true"
                       MenuItems="MenuProperties"
                       OnClick=@(() => OnClickHandler("Main Action Disabled Split"))
                       Disabled=Disabled
                       Checked=Checked />
        <PrimaryButton Text="Disabled"
                       Disabled="true"
                       Split="true"
                       MenuItems="MenuProperties"
                       OnClick=@(() => OnClickHandler("Disabled Split"))
                       Checked=Checked />
    </Stack>

<h4>Icon Button</h4>
<Stack Horizontal="true" Tokens=@(new StackTokens() { ChildrenGap = new[] { 8.0 } })>
    <IconButton OnClick=@(() => OnClickHandler("Icon")) IconName="Emoji2" AriaLabel="Emoji" Disabled=Disabled Checked=Checked />
    <IconButton MenuItems="MenuProperties" IconName="Emoji2" AriaLabel="Emoji" Disabled=Disabled Checked=Checked />
</Stack>

<h4>Action Button</h4>
<ActionButton IconName="AddFriend" Disabled=Disabled Checked=Checked OnClick=@(() => OnClickHandler("Action"))>
    Create account
</ActionButton>

<h4>Command Button</h4>
<CommandButton IconName="Add" Text="New item" MenuItems="MenuProperties" Disabled=Disabled Checked=Checked />

<h4>Button-like Anchor</h4>
<DefaultButton Text="BlazorFabric GitHub" Href="https://github.com/limefrogyank/BlazorFabric" Disabled=Disabled Checked=Checked />

<h4>Toggle Button</h4>
<DefaultButton Toggle="true"
               Checked=@(muted || Checked)
               Text=@(muted ? "Volume muted" : "Volume unmuted" )
               IconName=@(muted ? "Volume0" : "Volume3")
               OnClick=Mute
               Disabled=Disabled />


<h4>Using Command &amp; CommandParameter with Button</h4>
<Stack Tokens=@(new StackTokens { ChildrenGap = new double[] { 5 } })>
    <Checkbox Label="Enable Button" @bind-Checked="CommandEnabled" Style="max-width:200px;" />
    <StackItem>
        <PrimaryButton Command="buttonCommand" CommandParameter=@((Func<bool>)(() => CommandEnabled)) Text="Trigger ICommand" />
    </StackItem>
    <div>
        Command Result: @buttonDebug
    </div>
</Stack>

@code {

    Utils.RelayCommand buttonCommand;
    bool commandEnabled = false;
    bool CommandEnabled
    {
        get => commandEnabled;
        set
        {
            commandEnabled = value;
            buttonCommand.OnCanExecuteChanged();
        }
    }

    int commandCount = 0;
    bool isChecked = false;
    bool muted;
    string buttonDebug = "";
    bool Checked;
    bool Disabled;

    bool isToggled = false;

    IEnumerable<ContextualMenuItem> MenuProperties;

    private void OnClickHandler(string button)
    {
        buttonDebug = $"{button.ToString()} button was clicked. {commandCount++}";
    }

    private void Mute()
    {
        muted = !muted;
    }

    protected override Task OnInitializedAsync()
    {
        MenuProperties = new System.Collections.Generic.List<ContextualMenuItem>()
{
            new ContextualMenuItem() { Key = "emailMessage", Text = "Email message", IconName="Mail"},
            new ContextualMenuItem() { Key = "calendarEvent", Text = "Calendar event", IconName="Calendar"}
        };
        buttonCommand = new Utils.RelayCommand((p) =>
        {
            buttonDebug = $"Button with command was clicked. {commandCount++}";
            StateHasChanged();
        },
            p =>
            {
                return ((Func<bool>)p).Invoke();
            }
        );

        return base.OnInitializedAsync();
    }

}
