@page "/checkboxPage"

<h1>Checkbox</h1>

<h4>Basic Checkboxes</h4>
<Stack Tokens=stackTokens>
    <Checkbox Label="Unchecked checkbox (uncontrolled)" CheckedChanged=FirstChange />
    <Checkbox Label="Checked checkbox (uncontrolled)" DefaultChecked="true" CheckedChanged=FirstChange />
    <Checkbox Label="Disabled checkbox" Disabled="true" />
    <Checkbox Label="Disabled checked checkbox" Disabled="true" DefaultChecked="true" />
</Stack>

<h4>Other Implementation Examples</h4>
<Stack Tokens=stackTokens>
    <Label>Controlled checkbox is @(_isFirstChecked ? "checked" : "unchecked").</Label>
    <Checkbox Label="Controlled checkbox" @bind-Checked=@_isFirstChecked />
    <Checkbox Label='Checkbox rendered with boxSide "end"' BoxSide="BoxSide.End" />
    @*<Checkbox Label="Checkbox with extra props for the input" inputProps={inputProps} />*@
    @*<Checkbox Label="Checkbox with link inside the label" onRenderLabel={_renderLabelWithLink} />*@
</Stack>

<h4>Indeterminate Checkboxes</h4>
<Stack Tokens=stackTokens>
    <Label>Indeterminate checkbox (controlled) is @(_isIndeterminate ? "indeterminate" : (_isSecondChecked ? "checked" : "unchecked" )).</Label>
    <Checkbox Label="Indeterminate checkbox (uncontrolled)" DefaultIndeterminate="true" />
    <Checkbox Label="Indeterminate checkbox which defaults to true when clicked (uncontrolled)" DefaultIndeterminate="true" DefaultChecked="true" />
    <Checkbox Label="Disabled indeterminate checkbox" Disabled="true" DefaultIndeterminate="true" />
    <Checkbox Label="Indeterminate checkbox (controlled)" @bind-Indeterminate=@_isIndeterminate @bind-Checked=@_isSecondChecked />
</Stack>

@code{

    private StackTokens stackTokens;
    private bool _isFirstChecked;
    private bool _isSecondChecked;
    private bool _isIndeterminate;


    protected override void OnInitialized()
    {
        _isIndeterminate = true;
        stackTokens = new StackTokens { ChildrenGap = new double[] { 10 } };
        base.OnInitialized();
    }

    private void FirstChange(bool isChecked)
    {
        Console.WriteLine($"The option has been changed to {isChecked}.");
    }

}