@page "/commandBarPage"

<h1>CommandBar</h1>



<CommandBar Items=@items FarItems=@farItems OverflowItems=@overflowItems />

<CommandBar Items=@items />

<em>@debugText</em>

@code {
    private System.Windows.Input.ICommand buttonCommand;
    private string debugText;
    private int commandCount = 0;

    private System.Collections.Generic.List<CommandBarItem> items;
    private System.Collections.Generic.List<CommandBarItem> farItems;
    private System.Collections.Generic.List<CommandBarItem> overflowItems;

    private Action<ItemClickedArgs> OnClick => args =>
    {
        var item = farItems.FirstOrDefault(x => x.Key == args.Key);
        if (item != null)
        {
            item.Checked = !item.Checked;
        }
    };

    protected override Task OnInitializedAsync()
    {
        buttonCommand = new Utils.RelayCommand((p) =>
        {
            debugText = $"{p.ToString()} button was clicked. {commandCount++}";
            StateHasChanged();
        });

        items = new System.Collections.Generic.List<CommandBarItem> {
            new CommandBarItem() { Text= "First", IconName="Home", Key="1", Command=buttonCommand, CommandParameter="First"},
            new CommandBarItem() {Text= "Second", IconName="Add", Key="2", Command=buttonCommand, CommandParameter="Second"},
            new CommandBarItem() {Text= "Third", IconName="Remove", Key="3", Command=buttonCommand, CommandParameter="Third"},
            new CommandBarItem() {Text= "Fourth", IconName="Save", Key="4", Command=buttonCommand, CommandParameter="Fourth"}
        };

        overflowItems = new System.Collections.Generic.List<CommandBarItem> {
            new CommandBarItem() { Text= "First", IconName="Home", Key="9",  Command=buttonCommand, CommandParameter="First Overflow"},
            new CommandBarItem() {Text= "Second", IconName="Home", Key="10", Command=buttonCommand, CommandParameter="Second Overflow"},
            new CommandBarItem() {Text= "Third", IconName="Home", Key="11", Command=buttonCommand, CommandParameter="Third Overflow"},
            new CommandBarItem() {Text= "Fourth", IconName="Home", Key="12", Command=buttonCommand, CommandParameter="Fourth Overflow"}
        };

        farItems = new System.Collections.Generic.List<CommandBarItem> {
            new CommandBarItem() { Text= "First", IconName="Info", Key="5",IconOnly=true, CanCheck=true, OnClick=@OnClick, Command=buttonCommand, CommandParameter="First Far"},
            new CommandBarItem() {Text= "Second", IconName="Share", Key="6",IconOnly=true, CanCheck=true, OnClick=@OnClick, Command=buttonCommand, CommandParameter="Second Far"},
            new CommandBarItem() {Text= "Third", IconName="Tiles", Key="7", IconOnly=true, CanCheck=true, OnClick=@OnClick, Command=buttonCommand, CommandParameter="Third Far"},
            new CommandBarItem() {Text= "Fourth", IconName="SortLines", Key="8",IconOnly=true, CanCheck=true, OnClick=@OnClick, Command=buttonCommand, CommandParameter="Fourth Far"}
        };

        return Task.CompletedTask;
    }
}
