@page "/dropdownPage"

<h1>Dropdown</h1>

<h3>Uncontrolled Single Selection</h3>
@*<BlazorFabric.Label>Selected: @uncontrolledSingleSelectionResult</BlazorFabric.Label>*@
<div style="max-width:300px;">
    <Dropdown ItemsSource=@items TItem="DataItem" Placeholder="Select an option" OnChange=@UncontrolledSingleChangeHandler
              Label=@($"Selected: {uncontrolledSingleSelectionResult}")>
        <ItemTemplate>
            <DropdownItem TItem="DataItem" ItemKey=@context.DisplayName Text=@context.DisplayName ItemType=@context.Type />
        </ItemTemplate>
    </Dropdown>
</div>

<h3>Uncontrolled Multi-Selection</h3>
<BlazorFabric.Label>Selected: @string.Join(", ", uncontrolledMultiSelectionResult)</BlazorFabric.Label>
<div style="max-width:300px;">
    <Dropdown ItemsSource=@items TItem="DataItem" MultiSelect="true" Placeholder="Select options..." OnChange=@UncontrolledMultiChangeHandler>
        <ItemTemplate>
            <DropdownItem TItem="DataItem" ItemKey=@context.DisplayName Text=@context.DisplayName ItemType=@context.Type />
        </ItemTemplate>
    </Dropdown>
</div>

<h3>Controlled Single Selection</h3>
<BlazorFabric.Label>Selected: @string.Join(", ", controlledSingleSelectionResult)</BlazorFabric.Label>
<div style="max-width:300px;">
    <Dropdown ItemsSource=@items TItem="DataItem" Placeholder="Select an option" @bind-SelectedKey=@controlledSingleSelectionResult>
        <ItemTemplate>
            <DropdownItem TItem="DataItem" ItemKey=@context.DisplayName Text=@context.DisplayName ItemType=@context.Type />
        </ItemTemplate>
    </Dropdown>
</div>

<h3>Controlled Multi-Selection</h3>
<BlazorFabric.Label>Selected: @string.Join(", ", controlledMultiSelectionResult)</BlazorFabric.Label>
<div style="max-width:300px;">
    <Dropdown ItemsSource=@items TItem="DataItem" MultiSelect="true" Placeholder="Select options..." @bind-SelectedKeys=@controlledMultiSelectionResult @bind-SelectedKeys:event="SelectedKeysChanged">
        <ItemTemplate>
            <DropdownItem TItem="DataItem" ItemKey=@context.DisplayName Text=@context.DisplayName ItemType=@context.Type />
        </ItemTemplate>
    </Dropdown>
</div>

<h3>Disabled</h3>
<div style="max-width:300px;">
    <Dropdown ItemsSource=@items TItem="DataItem" Disabled="true" Placeholder="Select an option">
        <ItemTemplate>
            <DropdownItem TItem="DataItem" ItemKey=@context.DisplayName Text=@context.DisplayName ItemType=@context.Type />
        </ItemTemplate>
    </Dropdown>
</div>

<h3>Disabled with Selected</h3>
<div style="max-width:300px;">
    <Dropdown ItemsSource=@items TItem="DataItem" Disabled="true" Placeholder="Select an option" @bind-SelectedKey=@controlledSingleSelectionResult>
        <ItemTemplate>
            <DropdownItem TItem="DataItem" ItemKey=@context.DisplayName Text=@context.DisplayName ItemType=@context.Type />
        </ItemTemplate>
    </Dropdown>
</div>


@code {

    string uncontrolledSingleSelectionResult;
    System.Collections.Generic.List<string> uncontrolledMultiSelectionResult = new System.Collections.Generic.List<string>();

    string controlledSingleSelectionResult = "Banana";
    System.Collections.Generic.List<string> controlledMultiSelectionResult = new System.Collections.Generic.List<string> { "Banana", "Orange" };

    System.Collections.Generic.List<DataItem> items;

    protected override Task OnInitializedAsync()
    {
        items = new System.Collections.Generic.List<DataItem>
{
            new DataItem("Fruits", SelectableOptionMenuItemType.Header),
            new DataItem("Apple"),
            new DataItem("Banana"),
            new DataItem("Orange"),
            new DataItem("Grape"),
            new DataItem("divider1", SelectableOptionMenuItemType.Divider),
            new DataItem("Vegetables", SelectableOptionMenuItemType.Header),
            new DataItem("Broccoli"),
            new DataItem("Carrot"),
            new DataItem("Lettuce")
        };
        return base.OnInitializedAsync();
    }

    void UncontrolledSingleChangeHandler((string key, bool isAdded) args)
    {
        uncontrolledSingleSelectionResult = args.key;
    }

    void UncontrolledMultiChangeHandler((string key, bool isAdded) args)
    {
        if (args.isAdded)
            uncontrolledMultiSelectionResult.Add(args.key);
        else
            uncontrolledMultiSelectionResult.Remove(args.key);
    }

}
