@page "/groupedListPage"

<div style="height:20px;">
    @DebugText
</div>
<Stack Style="height:calc(100% - 20px);">
    <BlazorFabric.Label>Virtualized List with selection modes</BlazorFabric.Label>
    <BlazorFabric.PrimaryButton Text="Add 2 items" OnClick="@ClickHandler3" />
    <BlazorFabric.PrimaryButton Text="Add 10 more items" OnClick="@ClickHandler" />
    <BlazorFabric.PrimaryButton Text="Add 5000 more items" OnClick="@ClickHandler2" />

    <BlazorFabric.GroupedList ItemsSource=@groupedData
                              OnShouldVirtualize=@(()=> false)
                              TItem="GroupedDataItem"
                              GroupKeySelector=@(x=>x.DisplayName)
                              SubGroupSelector=@(x=>x.Data)>
        <ItemTemplate>
            <div style="display:flex; flex-direction:row; ">
                <img height="50" width="50" src=@context.ImgUrl />
                <em>This is item #@context.DisplayName.</em>
            </div>
        </ItemTemplate>
    </BlazorFabric.GroupedList>
</Stack>

@code {
    string DebugText = "";
    int count = 0;
    System.Collections.Generic.List<DataItem> data;
    IEnumerable<GroupedDataItem> groupedData;

    Task ClickHandler(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        System.Diagnostics.Debug.WriteLine("Clicked!");
        for (var i = 0; i < 10; i++)
        {
            count++;
            data.Add(new DataItem(count));
        }
        System.Diagnostics.Debug.WriteLine($"List has {data.Count} items.");
        return Task.CompletedTask;
    }

    Task ClickHandler2(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        System.Diagnostics.Debug.WriteLine("Clicked!");
        for (var i = 0; i < 5000; i++)
        {
            count++;
            data.Add(new DataItem(count));
        }
        System.Diagnostics.Debug.WriteLine($"List has {data.Count} items.");
        return Task.CompletedTask;
    }

    Task ClickHandler3(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        System.Diagnostics.Debug.WriteLine("Clicked!");
        for (var i = 0; i < 2; i++)
        {
            count++;
            data.Add(new DataItem(count));
        }
        System.Diagnostics.Debug.WriteLine($"List has {data.Count} items.");
        return Task.CompletedTask;
    }

    protected override Task OnInitializedAsync()
    {
        data = new System.Collections.Generic.List<DataItem>();

        for (var i = 0; i < 1000; i++)
        {
            count++;
            data.Add(new DataItem(count));
        }

        groupedData = data.GroupBy(x =>
        {
            var number = int.Parse(x.DisplayName);
            int group = (number - 1) / 10;
            return group;
        }).Select(x =>
        {
            return new GroupedDataItem(x);
        });
        return Task.CompletedTask;
    }
}
