@page "/"


<h1>Checkboxes</h1>
<Label>Checkbox is @(isChecked ? "checked" : "unchecked").</Label>
<Checkbox Style="margin-top:10px;" Label="Regular Checkbox" @bind-Checked="isChecked" @bind-Checked:event="CheckedChanged" />
<Checkbox Style="margin-top:10px;" Label="Disabled Checkbox" Disabled="true" />
<Checkbox Style="margin-top:10px;" Label="Disabled Checked Checkbox" Checked="true" Disabled="true" />

<h1>Icons</h1>
<Icon IconName="Airplane" ClassName="iconExample" />
<Icon IconName="Mail" ClassName="iconExample" />
<Icon IconName="Video" ClassName="iconExample red" />


@code{
    bool isChecked = false;
}