@page "/navPage"

<h1>Nav</h1>

<Nav ExpandButtonAriaLabel="t" >

    <NavLinkGroup Name="First" CollapseByDefault="false">
        <NavFabricLink Name="A Link" Icon="Airplane" Url="navPage#ALink" Id="ALink" NavMatchType="NavMatchType.AnchorIncluded"/>
        <NavFabricLink Name="B Link" Url="navPage#BLink" Id="BLink" NavMatchType="NavMatchType.AnchorIncluded">
            <NavFabricLink Name="B SubLink 1" NestedDepth="1" Url="navPage#BLink1" Id="BLink1" NavMatchType="NavMatchType.AnchorIncluded" />
            <NavFabricLink Name="B SubLink 2" NestedDepth="1" Url="navPage#BLink2" Id="BLink2" NavMatchType="NavMatchType.AnchorIncluded"/>
            <NavFabricLink Name="B SubLink 3" NestedDepth="1" Url="navPage#BLink3" Id="BLink3" NavMatchType="NavMatchType.AnchorIncluded"/>
        </NavFabricLink>
        <NavFabricLink Name="C Link" Url="navPage#CLink" Id="CLink" NavMatchType="NavMatchType.AnchorIncluded"/>

    </NavLinkGroup>
    <NavLinkGroup Name="Second" CollapseByDefault="true">
        <NavFabricLink Name="D Link" Url="navPage#DLink" Id="DLink" NavMatchType="NavMatchType.AnchorIncluded"/>
        <NavFabricLink Name="E Link" Url="navPage#ELink" Id="ELink" NavMatchType="NavMatchType.AnchorIncluded"/>
        <NavFabricLink Name="F Link" Url="navPage#FLink" Id="FLink" NavMatchType="NavMatchType.AnchorIncluded"/>
    </NavLinkGroup>
    <NavLinkGroup Name="Third" CollapseByDefault="true">
        <NavFabricLink Name="G Link" Url="navPage#GLink" Id="GLink" NavMatchType="NavMatchType.AnchorIncluded"/>
    </NavLinkGroup>
    <NavLinkGroup Name="Fouth" CollapseByDefault="true">
        <NavFabricLink Name="H Link" Url="navPage#HLink" Id="HLink" NavMatchType="NavMatchType.AnchorIncluded"/>
    </NavLinkGroup>

</Nav>

@code{
   
   
}