@page "/tooltipPage"

<h3>TooltipPage</h3>

<TooltipHost>
    <TooltipContent>
        Hey, look here!
    </TooltipContent>
    <ChildContent>
        <DefaultButton>Hover to see a tooltip</DefaultButton>
    </ChildContent>
</TooltipHost>


@code {

}
