@page "/tooltipPage"

<h1>TooltipPage</h1>

<TooltipHost>
    <TooltipContent>
        Hey, look here!
    </TooltipContent>
    <ChildContent>
        <DefaultButton>Hover to see a tooltip</DefaultButton>
    </ChildContent>
</TooltipHost>


@code {

}
