@namespace BlazorFabric
@inherits DropdownBase<TItem>
    @using Microsoft.AspNetCore.Components.Web

    @typeparam TItem

    <div class="ms-Dropdown-root" @ref=@RootElementReference>
        @if (this.Label != null)
        {
            <BlazorFabric.Label ClassName="ms-Dropdown-label" HtmlFor=@id Required=@Required>
                @Label
            </BlazorFabric.Label>
        }
        @*KeyTipData*@
        <div tabindex=@(Disabled ? -1 : 0)
             aria-expanded=@(isOpen ? "true" : "false")
             aria-label=@AriaLabel
             aria-labelledby=@(Label != null ? id+"-label" : null)
             aria-describedby="?"
             aria-activedescendant="?"
             aria-disabled=@Disabled
             aria-owns=@(isOpen ? id + "-list" : null)
             @onclick=@ClickHandler
             @onfocus=@FocusHandler
             class=@($"ms-Dropdown mediumFont {(isOpen?"is-open":"")} {(this.Label!=null ? "has-label" : "")} {(Disabled?"is-disabled":"")} {(Required?"is-required":"")} {(SelectedKeys.Count == 0 ?"has-placeholder":"")} {(ErrorMessage != null ?"has-error":"")}")>
            <span id=@($"{id}-option")
                  class="ms-Dropdown-title"
                  aria-atomic="true"
                  role="menuitem">
                @if (SelectedKeys.Count > 0)
                {
                    <span>@String.Join(", ", SelectedKeys)</span>
                }
                else
                {
                    if (this.Placeholder != null)
                    {
                        <span>@this.Placeholder</span>
                    }
                }
            </span>
            <span class="ms-Dropdown-caretDownWrapper">
                <BlazorFabric.Icon IconName="ChevronDown" ClassName="ms-Dropdown-caretDown" />
            </span>
        </div>
        @if (isOpen)
        {
            //render container
            @if (isSmall)
            {

            }
            else
            {
                <BlazorFabric.Callout IsBeakVisible="false"
                                              GapSpace="0"
                                              DoNotLayer="false"
                                              DirectionalHintFixed="false"
                                              DirectionalHint=@DirectionalHint.BottomLeftEdge
                                              ClassName="ms-Dropdown-callout"
                                              FabricComponentTarget=@this
                                              OnDismiss=@DismissHandler
                                              CalloutWidth=@(DropdownWidth == 0 ? (int)dropDownBounds.width : DropdownWidth)>
                    <div class="ms-Dropdown-itemsWrapper"
                         onKeyDown=""
                         onKeyUp=""
                         tabIndex="0">
                        <div class="ms-Dropdown-items">
                            @*<FocusZone ref={this._focusZone}
                                direction={FocusZoneDirection.vertical}
                                id={id + '-list' }
                                className={this._classNames.dropdownItems}
                                aria-labelledby={id + '-label' }
                                role="listbox">*@
                            <CascadingValue Value=@this>
                                @if (ItemsSource != null)
                                {
                                    foreach (var item in ItemsSource)
                                    {
                                        @ItemTemplate(item)
                                    }
                                }
                                else
                                {
                                    @ChildContent
                                }
                            </CascadingValue>
                        </div>
                        @*</FocusZone>*@
                    </div>
                </BlazorFabric.Callout>

            }
        }
        @if (ErrorMessage != null)
        {
            <div class="ms-Dropdown-errorMessage smallFont">@ErrorMessage</div>
        }


    </div>
