<Theme>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <ResponsiveCascader>
                <RouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)" />
            </ResponsiveCascader>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
    <LayerHost />
</Theme>

