@namespace BlazorFluentUI.Demo.Shared
<BFUTheme>

    <Router AppAssembly="typeof(MainLayout).Assembly">
        <Found Context="routeData">
            <BFUResponsiveCascader>
                <RouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)" />
            </BFUResponsiveCascader>
        </Found>
        <NotFound>
            <p>Page not found.</p>
        </NotFound>
    </Router>
    <BFULayerHost>
    </BFULayerHost>
</BFUTheme>
<!-----        <Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(MainLayout).Assembly }"> ---->
