@page "/calloutPage"

<h1>Callout</h1>


<DefaultButton Text="Show Callout" OnClick=@ClickHandler ref="calloutTarget" />
<Callout Hidden=@calloutHidden FabricComponentTarget=@calloutTarget>
    <h2>Callout Test</h2>
    <p>
        There are a few things in here.
    </p>
    <PrimaryButton Text="Ok" />
</Callout>

@functions{ 

    bool isInitialized = false;
    DefaultButton calloutTarget;
    bool calloutHidden = true;

    Task ClickHandler(UIMouseEventArgs args)
    {
        calloutHidden = !calloutHidden;
        StateHasChanged();
        return Task.CompletedTask;
    }

    protected override Task OnAfterRenderAsync()
    {
        if (!isInitialized)
        {
            if (calloutTarget != null)
            {
                isInitialized = true;
                StateHasChanged();
            }
        }
        return Task.CompletedTask;
    }
}