@page "/calloutPage"

<h1>Callout</h1>

<div style="height:300px;"></div>
<DefaultButton Text="Show Callout" OnClick=@ClickHandler @ref="calloutTarget" />

@if (!calloutHidden)
{
<Callout FabricComponentTarget=@calloutTarget
         Style="max-width:300px;"
         DirectionalHint=@BaseComponent.DirectionalHint.RightBottomEdge
         OnDismiss=@DismissHandler
         >
    <h2>Callout Test</h2>
    <p style="min-width: 150px;">
        There are a few things in here.
    </p>
    <PrimaryButton Text="Ok" />
</Callout>
}

@code { 

bool isInitialized = false;
DefaultButton calloutTarget;
bool calloutHidden = true;

Task ClickHandler(UIMouseEventArgs args)
{
    calloutHidden = !calloutHidden;
    StateHasChanged();
    return Task.CompletedTask;
}

protected override Task OnAfterRenderAsync()
{
    if (!isInitialized)
    {
        if (calloutTarget != null)
        {
            isInitialized = true;
            StateHasChanged();
        }
    }
    return Task.CompletedTask;
}

protected Task DismissHandler(bool isDismissed)
{
    calloutHidden = true;
    return Task.CompletedTask;
}
}