@page "/commandBarPage"

<h3>CommandBar</h3>



<CommandBar Items=@items FarItems=@farItems OverflowItems=@overflowItems/>

@code {

    private System.Collections.Generic.List<CommandBarItem> items;
    private System.Collections.Generic.List<CommandBarItem> farItems;
     private System.Collections.Generic.List<CommandBarItem> overflowItems;

    protected override Task OnInitializedAsync()
    {
        items = new System.Collections.Generic.List<CommandBarItem> {
            new CommandBarItem() { Text= "First", IconName="Home", Key="1"},
            new CommandBarItem() {Text= "Second", IconName="Home", Key="2"},
            new CommandBarItem() {Text= "Third", IconName="Home", Key="3"},
            new CommandBarItem() {Text= "Fourth", IconName="Home", Key="4"}
        };

        farItems = new System.Collections.Generic.List<CommandBarItem> {
            new CommandBarItem() { Text= "First", IconName="Home", Key="5"},
            new CommandBarItem() {Text= "Second", IconName="Home", Key="6"},
            new CommandBarItem() {Text= "Third", IconName="Home", Key="7"},
            new CommandBarItem() {Text= "Fourth", IconName="Home", Key="8"}
        };

        overflowItems = new System.Collections.Generic.List<CommandBarItem> {
            new CommandBarItem() { Text= "First", IconName="Home", Key="9"},
            new CommandBarItem() {Text= "Second", IconName="Home", Key="10"},
            new CommandBarItem() {Text= "Third", IconName="Home", Key="11"},
            new CommandBarItem() {Text= "Fourth", IconName="Home", Key="12"}
        };

        return Task.CompletedTask;
    }
}
