@page "/listPage"

@using Models

<BlazorFabric.Label.Label>Virtualized List with selection modes</BlazorFabric.Label.Label>
<div style="height:400px;">
    <BlazorFabric.List.List ItemsSource=@data TItem="DataItem">
        <ItemTemplate>
            <div style="display:flex; flex-direction:row; ">
                <img src=@context.ImgUrl />
                <em>@context.DisplayName</em>
            </div>
        </ItemTemplate>
    </BlazorFabric.List.List>
</div>

@functions {
    
    List<DataItem> data;

    protected override Task OnInitAsync()
    {
        data = new List<DataItem>();
        for (var i = 0; i < 5000; i++)
        {
            data.Add(new DataItem(i));
        }

        return Task.CompletedTask;
    }
}
