@page "/messageBarPage"

<h2>MessageBar</h2>

<MessageBar>
    Info/Default MessageBar.
    @*<Link href="www.bing.com" target="_blank">*@
    Visit our website.
    @*</Link>*@
</MessageBar>
<div style="margin-bottom:20px;" />
<MessageBar MessageBarType="MessageBarType.Error" />
<div style="margin-bottom:20px;" />
<MessageBar MessageBarType="MessageBarType.Blocked" />
<div style="margin-bottom:20px;" />
<MessageBar MessageBarType="MessageBarType.SevereWarning" />
<div style="margin-bottom:20px;" />
<MessageBar MessageBarType="MessageBarType.Success" />
<div style="margin-bottom:20px;" />
<MessageBar MessageBarType="MessageBarType.Warning" />
