@page "/navPage2"



<h2>UNFINISHED!</h2>

<Nav ExpandButtonAriaLabel="t">
    
    <NavLinkGroup Name="First" CollapseByDefault="false">
        <NavFabricLink Name="A Link" Icon="Airplane" />
        <NavFabricLink Name="B Link" >
            <NavFabricLink Name="B SubLink 1" NestedDepth="1"/>
            <NavFabricLink Name="B SubLink 2" NestedDepth="1"/>
            <NavFabricLink Name="B SubLink 3" NestedDepth="1"/>
        </NavFabricLink>
        <NavFabricLink Name="C Link" />

</NavLinkGroup>
    <NavLinkGroup Name="Second" CollapseByDefault="true">
        <NavFabricLink Name="D Link"  />
        <NavFabricLink Name="E Link" />
        <NavFabricLink Name="F Link" />
    </NavLinkGroup>
    <NavLinkGroup Name="Third" CollapseByDefault="true">
        <NavFabricLink Name="G Link" />
    </NavLinkGroup>
    <NavLinkGroup Name="Fouth" CollapseByDefault="true">
        <NavFabricLink Name="H Link" />
    </NavLinkGroup>
    
</Nav>

@functions {

    

    protected override Task OnInitAsync()
    {


        return Task.CompletedTask;
    }
}
