@page "/textFieldPage"

<h2>TextField</h2>
<TextField Label="TextField" />
<TextField Label="TextField Required" Required="true" />
<TextField Label="TextField Underlined" Underlined="true" />
<TextField Label="TextField Disabled" Disabled="true" />

<Label>No labels</Label>
<TextField Required="true" />
<TextField Underlined="true" />
<TextField Disabled="true" />

<Label>Multiline</Label>
<TextField Label="TextField" Multiline="true" />
<TextField Label="TextField Required" Multiline="true" Required="true" />
<TextField Label="TextField Underlined" Multiline="true" Underlined="true" />
<TextField Label="TextField Disabled" Multiline="true" Disabled="true" />


@functions {



}
