@namespace BlazorFabric
@inherits LabelBase

<div class="@($"ms-Label mediumFont {(Disabled ? "ms-Label--disabled" : "")} {(Required ? "ms-Label--required" : "")}")"
     @ref="RootElementReference">
    @ChildContent
</div>
