@namespace BlazorFabric
@inherits FabricComponentBase

<label class="@($"ms-Label mediumFont {(Disabled ? "ms-Label--disabled" : "")} {(Required ? "ms-Label--required" : "")} {ClassName}")"
     style=@Style
       for=@HtmlFor
     @ref="RootElementReference">
    @ChildContent
</label>
