/*.ms-Dialog-subText{
    margin: 0 0 24px 0;
    color: var(--semanticColors-BodySubtext);
    line-height:1.5;
    word-wrap:break-word;
    font-weight: var(--fontWeight-Regular);
}

.ms-Dialog-header{
    position:relative;
    width:100%;
    box-sizing:border-box;
}

.ms-Dialog-button{

}

.ms-Dialog-inner{
    padding: 0 24px 24px;
}

.ms-Dialog-innerContent{
    position:relative;
    width:100%;
}

.ms-Dialog-title{
    color: var(--semanticColors-BodyText);
    margin:0;
    padding:16px 46px 20px 24px;
    line-height:normal;
}

.ms-Dialog--lgHeader .ms-Dialog-title{
    color: var(--semanticColors-MenuHeader);
}
.ms-Dialog--multiline .ms-Dialog-title{
    font-size: var(--fontSize-XxLarge);
}

.ms-Dialog-topButton{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    position:absolute;
    top:0;
    right:0;
    padding: 15px 15px 0 0;
}
    .ms-Dialog-topButton > *{
        flex: 0 0 auto;
    }
    .ms-Dialog-topButton.ms-Dialog-button {
        color: var(--semanticColors-ButtonTextHovered);
        border-radius: var(--effects-RoundedCorner2);
    }
*/

/*.ms-Dialog-actions{
    position:relative;
    width:100%;
    min-height:24px;
    line-height:24px;
    margin:16px 0 0;
    font-size:0;
}

.ms-Dialog-actions .ms-Button{
    line-height:normal;
}

.ms-Dialog-actionsRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: -4px;
    font-size: 0;
}

.ms-Dialog-actionsRight > * {
    margin: 0 4px;
}*/

/*@media (min-width: 320px) and (max-width: 479px) {
    .ms-Dialog-inner {
        padding: 0 16px 16px;
    }

    .ms-Dialog-title {
        padding: 16px 46px 16px 16px;
    }

    .ms-Dialog-topButton {
        padding: 15px 8px 0 0;
    }
}*/