@namespace BlazorFabric
@inherits NavBase

<div role="navigation"
     @ref="RootElementReference"
     class=@($"mediumFont ms-Nav {(IsOnTop?"is-on-top":"")} {(IsOnTop?"slideRightIn40":"")}")
     aria-label=@AriaLabel>
    <CascadingValue Value=@this.ExpandButtonAriaLabel>
        @ChildContent
    </CascadingValue>
</div>