@inherits NavLinkGroupBase

    <div key={groupIndex} class=@($"ms-Nav-group {(this.isExpanded ? "is-expanded":"")}")>
        @if (Name != null)
        {
            <button class="ms-Nav-chevronButton is-group "
                    onclick=@ClickHandler
                    aria-label=@this.ExpandButtonAriaLabel
                    aria-expanded={this._isGroupExpanded(group)}>
                <BlazorFabric.Icon.Icon ClassName="ms-Nav-chevron" IconName="ChevronDown" />
                <span class="largeFont">@Name</span>
            </button>
        }
        
        <div class="ms-Nav-groupContent slideDownIn20">
            <ul role="list" class="ms-Nav-navItems">
                @ChildContent
            </ul>
        </div>
    </div>

@functions{
    
}