@namespace BlazorFabric
@inherits FabricComponentBase

<GlobalCS Component=@this CreateGlobalCss=@CreateGlobalCss />

<div class=@($"mediumFont ms-Check{(Checked ? " is-checked" : "")}")>
    @if (UseFastIcons)
    {
        <FontIcon IconName="CircleRing"
                ClassName="ms-Check-circle" />
        <FontIcon IconName="StatusCircleCheckmark"
                ClassName="ms-Check-check" />
    }
    else
    {
        <Icon IconName="CircleRing"
                ClassName="ms-Check-circle" />
        <Icon IconName="StatusCircleCheckmark"
                ClassName="ms-Check-check" />
    }
</div>