@inherits LayoutComponentBase

<div class="sidebar">
    <WidthAdjustingWrapper>
        <NavMenu />
    </WidthAdjustingWrapper>
</div>

<div class="main">
    <Stack VerticalFill="true">
        <StackItem Grow="0" VerticalFill="false">
            <div class="top-row px-4">
                <a href="https://github.com/limefrogyank/BlazorFabric" target="_blank" class="ml-md-auto">View GitHub repo of BlazorFabric...</a>
            </div>
        </StackItem>

        <StackItem Grow="1">
            <div class="content px-4">
                @Body
            </div>
        </StackItem>
    </Stack>
</div>
