
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorFabric.Test.HostedClient</a>
    @*<button class="navbar-toggler" @onclick="@ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>*@
</div>

<Nav>
    <NavLinkGroup Name="Basic Controls" CollapseByDefault="false">
        <NavFabricLink Name="Basic" Url="/" Id="/" Icon="ButtonControl" />
        <NavFabricLink Name="Button" Url="/buttonsPage" Id="/buttonsPage" Icon="ButtonControl" />
        <NavFabricLink Name="TextField" Url="/textFieldPage" Id="textFieldPage" Icon="TextField" />
        <NavFabricLink Name="Dropdown" Url="/dropdownPage" Id="dropdownPage" Icon="Dropdown" />
    </NavLinkGroup>
    <NavLinkGroup Name="Items & Lists" CollapseByDefault="false">
        <NavFabricLink Name="List" Url="/listPage" Id="listPage" Icon="List" />
        <NavFabricLink Name="Persona" Url="/personaPage" Id="personaPage" Icon="Contact" />
    </NavLinkGroup>
    <NavLinkGroup Name="Commands, Menus & Navs" CollapseByDefault="false">
        <NavFabricLink Name="CommandBar" Url="/commandBarPage" Id="commandBarPage" Icon="Bar" />
        <NavFabricLink Name="ContextualMenu" Url="/contextualMenuPage" Id="contextualMenuPage" Icon="Menu" />
        <NavFabricLink Name="Nav" Url="/navPage" Id="navPage" Icon="SecondaryNav" />
        <NavFabricLink Name="OverflowSet" Url="/overflowSetPage" Id="overflowSetPage" Icon="More" />
    </NavLinkGroup>
    <NavLinkGroup Name="Progress" CollapseByDefault="false">
        <NavFabricLink Name="Spinner" Url="/spinnerPage" Id="spinnerPage" Icon="Circle" />
    </NavLinkGroup>
    <NavLinkGroup Name="Surfaces" CollapseByDefault="false">
        <NavFabricLink Name="Callout" Url="/calloutPage" Id="calloutPage" Icon="" />
        <NavFabricLink Name="Dialog" Url="/dialogPage" Id="dialogPage" Icon="" />
        <NavFabricLink Name="Modal" Url="/modalPage" Id="modalPage" Icon="" />
        <NavFabricLink Name="Panel" Url="/panelPage" Id="panelPage" Icon="Panel" />
        <NavFabricLink Name="Tooltip" Url="/tooltipPage" Id="tooltipPage" Icon="Tooltip" />
    </NavLinkGroup>
    <NavLinkGroup Name="Utilities" CollapseByDefault="false">
        <NavFabricLink Name="Image" Url="/imagePage" Id="imagePage" Icon="Image" />
        <NavFabricLink Name="Layer" Url="/layerPage" Id="layerPage" Icon="" />
        <NavFabricLink Name="FocusTrapZone" Url="/focusTrapZonePage" Id="focusTrapZonePage" Icon="Focus" />
        <NavFabricLink Name="ResizeGroup" Url="/resizeGroupPage" Id="resizeGroupPage" Icon="Resize" />
        <NavFabricLink Name="Stack" Url="/stackPage" Id="stackPage" Icon="Stack" />
    </NavLinkGroup>
</Nav>


@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
