@namespace BlazorFabric
@inherits FabricComponentBase
@using Microsoft.AspNetCore.Components.Web
@*<KeytipData keytipProps={keytipProps} disabled={disabled}>
    {(keytipAttributes: any): JSX.Element => (*@
<div class=@($"ms-Checkbox {(isChecked ? "is-checked" : "not-checked")} {(Reversed ? "reversed" : "")} {(Disabled ? "is-disabled" : "is-enabled")} {ClassName}")
     style=@Style
     @ref="RootElementReference">
    <input type="checkbox"
           id=@Id
           class=@($"ms-Checkbox-input mediumFont" )
           checked=@(Checked.HasValue ? Checked.Value : DefaultChecked)
           disabled=@Disabled
           @onclick=OnClick
           @onchange="OnChange"
           aria-disabled=@Disabled
           aria-label=@AriaLabel
           aria-labelledby=@AriaLabelledBy
           aria-describedby=@AriaDescribedBy
           aria-posinset=@AriaPositionInSet
           aria-setsize=@AriaSetSize />
    <label class=@($"ms-Checkbox-label {(Reversed ? "ms-Checkbox-label-reversed" : "")} {(Disabled ? "ms-Checkbox-label-disabled" : "ms-Checkbox-label-enabled")}  {(isChecked ? "ms-Checkbox-label-checked" : "fabricCheckbox-label-unchecked")}")
           for="@Id">
        <div class=@($"ms-Checkbox-checkbox {(Reversed? "fabricCheckbox-checkbox-reversed":"")} {(Disabled ? "ms-Checkbox-checkbox-disabled" : "ms-Checkbox-checkbox-enabled")} {(isChecked ? "ms-Checkbox-checkbox-checked" : "ms-Checkbox-checkbox-unchecked")}")>
            <i class=@($"ms-Checkbox-checkmark {(Disabled ? "ms-Checkbox-checkmark-disabled" : "")} {(isChecked ? "ms-Checkbox-checkmark-checked" : "")} ms-Icon ms-Icon--CheckMark ") aria-hidden="true"></i>
        </div>
        <span class=@($"ms-Checkbox-text ms-Checkbox-text {(Reversed ? "ms-Checkbox-text-reversed" : "")} {(Disabled ? "ms-Checkbox-text-disabled" : "")}")>@Label</span>
    </label>
</div>
@*)}
    </KeytipData>*@

@*const { className, theme, reversed, checked, disabled, isUsingCustomLabelRender } = props;
    const { semanticColors } = theme;
    const checkmarkFontColor = semanticColors.inputForegroundChecked;
    const checkmarkFontColorCheckedDisabled = semanticColors.disabledBackground;
    const checkmarkFontColorHovered = semanticColors.inputBorder;
    const checkboxBorderColor = semanticColors.smallInputBorder;
    const checkboxBorderColorChecked = semanticColors.inputBackgroundChecked;
    const checkboxBorderColorDisabled = semanticColors.disabledBodySubtext;
    const checkboxBorderHoveredColor = semanticColors.inputBorderHovered;
    const checkboxBackgroundChecked = semanticColors.inputBackgroundChecked;
    const checkboxBackgroundCheckedHovered = semanticColors.inputBackgroundCheckedHovered;
    const checkboxBorderColorCheckedHovered = semanticColors.inputBackgroundCheckedHovered;
    const checkboxHoveredTextColor = semanticColors.bodyText;
    const checkboxBackgroundDisabledChecked = semanticColors.disabledBodySubtext;
    const checkboxTextColor = semanticColors.bodyText;
    const checkboxTextColorDisabled = semanticColors.disabledText;*@