@namespace BlazorFabric
@inherits FabricComponentBase
@typeparam TItem

<GlobalCS Rules=@DetailsRowRules />

<FocusZone Direction=@FocusZoneDirection.Horizontal
           AriaLabel=@AriaLabel
           AriaDescribedBy=@AriaDescribedBy
           ClassName=@($"fadeIn400 smallFont {(Compact ? "is-compact " : "")}{(IsCheckVisible ? "is-check-visible " : "")}ms-DetailsRow")
           AllowFocusRoot="true">
    
    @if(showCheckbox)
    {
        <div role="gridcell" aria-colindex="1" data-selection-toggle="true" class="ms-DetailsRow-checkCell">
            <DetailsRowCheck IsVisible=@(this.CheckboxVisibility == CheckboxVisibility.Always)
                             Compact=@Compact
                             UseFastIcons="true"
                             CanSelect=@canSelect
                             />
        </div>
    }

    <GroupSpacer IndentWidth=@IndentWidth
                 Count=@GroupNestingDepth />

    @if (Item != null)
    {
        @if (columnMeasureInfo)
        {
            <span role="presentation" class="ms-DetailsRow-cellMeasurer">
                <DetailsRowFields Item=@Item
                                  ItemIndex=@ItemIndex
                                  Columns=@Columns
                                  ColumnStartIndex=@((showCheckbox ? 1 : 0) + Columns.Count()) />
            </span>
        }
    }

    <span role="checkbox" class="ms-DetailsRow-checkCover" aria-checked=@IsSelected data-selection-toggle="true" />

</FocusZone>