@namespace BlazorFabric
@inherits FabricComponentBase

@*<GlobalCS Rules=@DetailsRowCheckGlobalRules />*@

@if (CanSelect)
{
    <div role="checkbox"
         class=@($"smallFont ms-DetailsRowCheck ms-DetailsRowCheck-check{(IsHeader ? " is-header" : "")}{(Checked ? " is-checked" : "")}{(CanSelect ? " can-select" : "")}")
         aria-checked=@Selected
         data-selection-toggle="true"
         data-automationid="DetailsRowCheck">
            <Check UseFastIcons=@UseFastIcons Checked=@Checked />
    </div>
}
else
{
    <div class="ms-DetailsRowCheck ms-DetailsRowCheck-check" />
}