@namespace BlazorFabric
@inherits PopupBase
@using Microsoft.AspNetCore.Components.Web

<div class=@ClassName
     role=@Role
     aria-label=@AriaLabel
     aria-labelledby=@AriaLabelledBy
     aria-describedby=@AriaDescribedBy
     @onkeydown=@KeyDownHandler
     style=@($"{this.Style}outline: none")
     @ref="RootElementReference">
    @ChildContent
</div>

