@namespace BlazorFabric
@inherits CommandBarBase


<ResizeGroup OnGrowData=@onGrowData OnReduceData=@onReduceData
                Data=@_currentData
                GetCacheKey=@(x => x.CacheKey)>
    <DataTemplate Context="data">
        <div class="mediumFont ms-CommandBar" role="menubar">
            @*Primary*@
            <OverflowSet ClassName="ms-CommandBar-primarySet" Items=@data.PrimaryItems OverflowItems=@(data.OverflowItems.Count() > 0 ? data.OverflowItems : null) GetKey=@(x=>x.Key)>
                <ItemTemplate>
                    @*TooltipHost*@
                    <CommandBarButton IconName=@context.IconName Text=@(!context.IconOnly ? context.Text : "") OnClick=@context.OnClick Command=@context.Command CommandParameter=@context.CommandParameter 
                                      Disabled=@context.Disabled AriaLabel=@context.AriaLabel Checked=@context.Checked ClassName=@context.ClassName
                                      Split=@context.Split Style=@context.Style SecondaryText=@context.SecondaryText />
                </ItemTemplate>
                <OverflowItemTemplate>
                    <ContextualMenuItem Text=@context.Text Key=@context.Key OnClick=@context.OnClick SecondaryText=@context.SecondaryText Command=@context.Command CommandParameter=@context.CommandParameter
                                        Checked=@context.Checked CanCheck=@context.CanCheck Disabled=@context.Disabled IconName=@context.IconName Style=@context.Style ClassName=@context.ClassName 
                                        SubmenuContent=@context.ContextualMenuContent />
                </OverflowItemTemplate>
            </OverflowSet>
            @*Secondary*@
            <OverflowSet ClassName="ms-CommandBar-secondarySet" Items=@data.FarItems GetKey=@(x=>x.Key)>
                <ItemTemplate>
                    @*TooltipHost*@
                    <CommandBarButton IconName=@context.IconName Text=@(!context.IconOnly ? context.Text : "") OnClick=@context.OnClick Command=@context.Command CommandParameter=@context.CommandParameter
                                      Disabled=@context.Disabled AriaLabel=@context.AriaLabel Checked=@context.Checked ClassName=@context.ClassName
                                      Split=@context.Split Style=@context.Style SecondaryText=@context.SecondaryText />
                </ItemTemplate>
                <OverflowItemTemplate>
                    <ContextualMenuItem Text=@context.Text Key=@context.Key />
                </OverflowItemTemplate>
            </OverflowSet>
        </div>
    </DataTemplate>
</ResizeGroup>