@namespace FluentUI
@inherits FluentUIComponentBase

<div class=@($"{(Disabled || ReadOnly ? "" : "ms-RatingStar-root")} mediumFont {(this.Size == RatingSize.Large ? "ms-RatingStar-root--large": "ms-RatingStar-root--small")}")
     @ref=@RootElementReference>
    <FocusZone ClassName=@($"ms-Rating-focuszone {(this.Size == RatingSize.Large ? "ms-RatingStar-root--large": "ms-RatingStar-root--small")}")
                  Direction="FocusZoneDirection.Horizontal"
                  DefaultActiveElement=@(RatingValue != -1 && starReferences.Length == Max ? (starReferences[(int)Math.Max(0, Math.Ceiling(RatingValue)-1)]).Id : "")
                  AriaLabel=@(ReadOnly ? (GetAriaLabel != null ? GetAriaLabel(RatingValue != -1 ? RatingValue : 0, Max) : null) : null)
                  AriaReadonly=@ReadOnly
                  IsFocusable=@ReadOnly
                  Disabled=@ReadOnly
                  AllowFocusRoot=@ReadOnly
                  tabindex=@(ReadOnly ? "0" : "-1" )>
        @for (int i = 1; i <= Max; i++)
        {
            var percentage = GetPercentageOf(i);
            var value = i;
            var style = $"width:{GetPercentageOf(i)}%;";
            <button disabled="@(Disabled || ReadOnly)"
                    class=@($"{(Disabled || ReadOnly ? "ms-Rating-button--disabled" : "ms-Rating-button")} {(this.Size == RatingSize.Large ? "ms-Rating--large": "ms-Rating--small")}")
                    data-is-current=@(i == GetFullRating() ? "true" : "false" )
                    role="presentation"
                    @ref=@starReferences[value-1]
                    type="button"
                    @onclick="(() =>OnClick(value))">
                <span class="ms-Rating-labelText">Select @value of 5 stars</span>
                <div class="ms-RatingStar-container">
                    <Icon ClassName=@(Disabled ? "ms-RatingStar-back--disabled" : "ms-RatingStar-back") IconName="@(percentage > 0 ? IconName : UnselectedIcon)" />
                    @if (!Disabled)
                    {
                        <Icon ClassName="ms-RatingStar-front" IconName="@(percentage > 0 ? IconName : UnselectedIcon)" Style=@($"width:{percentage}%;") />
                    }
                </div>
            </button>
        }
    </FocusZone>
</div>
