@namespace BlazorFabric
@inherits LinkBase


@if ((Type != null && Type == LinkType.Anchor) || (Type == null && !string.IsNullOrWhiteSpace(Href)))
{
    <a href=@(Disabled ? "" : Href) target=@Target class=@($"ms-Link {(Disabled ? "isDisabled" : "")}") aria-disabled=@Disabled>
        @ChildContent
    </a>
}
else
{
    <button type="button" class=@($"ms-Link isButton {(Disabled ? "isDisabled" : "")}") disabled=@Disabled aria-disabled=@Disabled>
        @ChildContent
    </button>
}