.ms-Link {
    color: var(--semanticTextColors-Link);
    outline: none;
    font-size: inherit;
    font-weight: inherit;
}
    .ms-Link.isButton {
        background: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: inline;
        margin: 0;
        overflow: inherit;
        padding: 0;
        text-align: left;
        text-overflow: inherit;
        user-select: text;
        border-bottom: 1px solid transparent;
    }
    .ms-Link:not(.isButton) {
        text-decoration: none;
    }
    .ms-Link.isDisabled {
        color: var(--semanticTextColors-DisabledText);
        cursor: default;
    }
        .ms-Link.isDisabled:link, 
        .ms-Link.isDisabled:visited {
            pointer-events: none;
        }
        .ms-Link.isDisabled:link,
        .ms-Link.isDisabled:visited {
            pointer-events: none;
        }
    .ms-Link:not(.isDisabled):hover:active,
    .ms-Link:not(.isDisabled):hover,
    .ms-Link:not(.isDisabled):active {
        color: var(--semanticTextColors-LinkHovered);
        text-decoration: underline;
    }
    .ms-Link:not(.isDisabled):focus {
        color: var(--semanticTextColors-Link);
    }
