/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.ms-Overlay {
    background-color: var(--palette-WhiteTranslucent40);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.ms-Overlay--dark {
    background-color: var(--palette-BlackTranslucent40);
}

@media screen and (-ms-high-contrast: active) {
    .ms-Overlay{
        border: 1px solid WindowText;
        opacity: 0;
    }
}