@namespace FluentUI
@inherits FluentUIComponentBase

<CascadingValue Name="PortalId" Value=@Id>
    <span class=@($"ms-Layer mediumFont ")
          @ref=@RootElementReference
          data-parent-layer-id=@Id>
        <div class="ms-Layer-content">
            @ChildContent
        </div>
    </span>
</CascadingValue>