@namespace FluentUI
@inherits FluentUIComponentBase

<div style=@Style id=@Id class=@(string.IsNullOrWhiteSpace(Id) ? "ms-Layer--fixed" : "")
    @ref="RootElementReference">

    @ChildContent

    <LayerPortalGenerator @ref="portalGeneratorReference" />
</div>

