::deep .ms-Button.ms-Button--compound {
    max-width: 280px;
    min-height: 72px;
    padding: 16px 12px;
    height: auto;
}

    ::deep .ms-Button.ms-Button--compound .ms-Button-flexContainer {
        flex-direction: row;
        align-items: flex-start;
        min-width: 100%;
        margin: unset;
    }

    ::deep .ms-Button.ms-Button--compound .ms-Button-textContainer {
        text-align: left;
    }

    ::deep .ms-Button.ms-Button--compound .ms-Button-label {
        margin: 0 0 5px 0;
        line-height: 100%;
        font-weight: var(--fontWeight-SemiBold);
    }

    ::deep .ms-Button.ms-Button--compound .ms-Button-description {
        line-height: 100%;
    }


::deep .ms-Button--default.ms-Button--compound .ms-Button-description {
    color: var(--palette-NeutralSecondary);
}


::deep .ms-Button--default.ms-Button--compound:hover .ms-Button-description {
    color: var(--palette-NeutralDark);
}

::deep .ms-Button--default.ms-Button--compound.is-checked .ms-Button-description {
    color: inherit;
}


::deep .ms-Button--default.ms-Button--compound.is-disabled .ms-Button-description {
    color: inherit;
}


::deep .ms-Button--primary.ms-Button--compound .ms-Button-description {
    color: var(--palette-White);
}


::deep .ms-Button--primary.ms-Button--compound:hover .ms-Button-description {
    color: var(--palette.White);
}

::deep .ms-Button--primary.ms-Button--compound.is-checked .ms-Button-description {
    color: inherit;
}


::deep .ms-Button--primary.ms-Button--compound.is-disabled .ms-Button-description {
    color: inherit;
}
