
::deep .ms-Button.ms-Button--commandBar {
    min-width:40px;
    padding:0 4px;
    height:40px;
    color: var(--palette-NeutralPrimary);
    background-color: var(--palette-White);
    border: none;
    border-radius:0;
}
/*
::deep .ms-Fabric--isFocusVisible .ms-Button--commandBar:focus:after {
    outline: none;
    border-color: var(--palette-White);
}
*/
    ::deep .ms-Button.ms-Button--commandBar:hover {
        color: var(--palette-NeutralDark);
        background-color: var(--palette-NeutralLighter);
    }
        ::deep .ms-Button.ms-Button--commandBar:hover .ms-Button-icon {
            color: var(--palette-ThemeDarkAlt);
        }
        ::deep .ms-Button.ms-Button--commandBar:hover .ms-Button-menuIcon {
            color: var(--palette-NeutralPrimary);
        }

    ::deep .ms-Button.ms-Button--commandBar:active {
        color: var(--semanticTextColors-Black);
        background-color: var(--palette-NeutralLight);
    }
        ::deep .ms-Button.ms-Button--commandBar:active .ms-Button-icon {
            color: var(--palette-ThemeDarkAlt);
        }
        ::deep .ms-Button.ms-Button--commandBar:active .ms-Button-menuIcon {
            color: var(--palette-NeutralPrimary);
        }



    ::deep .ms-Button.ms-Button--commandBar.is-checked:not(.is-disabled) {
        color: var(--Palette-NeutralDark);
        background-color: var(--palette-NeutralLight);
    }
        ::deep .ms-Button.ms-Button--commandBar.is-checked:not(.is-disabled) .ms-Button-icon {
            color: var(--Palette-ThemeDark);
        }

        ::deep .ms-Button.ms-Button--commandBar.is-checked:not(.is-disabled) .ms-Button-menuIcon {
            color: var(--Palette-NeutralDark);
            background-color: var(--palette-NeutralPrimary);
        }


        ::deep .ms-Button.ms-Button--commandBar.is-checked:not(.is-disabled):hover {
            background-color: var(--palette-NeutralQuaternaryAlt);
        }

        ::deep .ms-Button.ms-Button--commandBar.is-checked:not(.is-disabled):hover .ms-Button-icon {
            color: var(--Palette-ThemeDark);
        }

        ::deep .ms-Button.ms-Button--commandBar.is-checked:not(.is-disabled):hover .ms-Button-menuIcon {
            color: var(--Palette-NeutralDark);
            background-color: var(--palette-NeutralPrimary);
        }




    ::deep .ms-Button.ms-Button--commandBar.is-expanded {
        background-color: var(--palette-NeutralLight);
        color: var(--palette-NeutralDark);
    }
        ::deep .ms-Button.ms-Button--commandBar.is-expanded .ms-Button-icon {
            color: var(--palette-ThemeDark);
        }
        ::deep .ms-Button.ms-Button--commandBar.is-expanded .ms-Button-menuIcon {
            color: var(--palette-NeutralPrimary);
        }



    ::deep .ms-Button.ms-Button--commandBar.is-disabled {
        background-color: var(--palette-White);
    }
        ::deep .ms-Button.ms-Button--commandBar.is-disabled .ms-Button-icon {
            color: var(--semanticTextColors-DisabledBodySubtext);
        }


    ::deep .ms-Button.ms-Button--commandBar .ms-Button-icon {
        color: var(--palette-ThemePrimary);
    }

    ::deep .ms-Button.ms-Button--commandBar .ms-Button-label {
        font-weight:normal;
    }

    ::deep .ms-Button.ms-Button--commandBar .ms-Button-menuIcon {
        color: var(--palette-NeutralSecondary);
    }

