
::deep .ms-Button--default {
    color: var(--semanticTextColors-ButtonText);
    background-color: var(--palette-White);
    border: 1px solid var(--palette-NeutralSecondaryAlt);
}
/*
::deep .ms-Fabric--isFocusVisible .ms-Button--default:focus:after {
    outline: none;
    border-color: var(--palette-White);
}
*/
    ::deep .ms-Button--default:hover {
        color: var(--semanticTextColors-ButtonTextHovered);
        background-color: var(--palette-NeutralLighter);
    }

    ::deep .ms-Button--default:active {
        color: var(--semanticTextColors-ButtonTextChecked);
        background-color: var(--palette-NeutralLight);
    }

    ::deep .ms-Button--default.is-checked:not(.is-disabled) {
        color: var(--semanticTextColors-ButtonTextChecked);
        background-color: var(--palette-NeutralLight);
    }

    ::deep .ms-Button--default.is-checked:hover {
        background-color: var(--palette-NeutralLight);
    }

    ::deep .ms-Button--default.is-disabled {
        background-color: var(--palette-NeutralLighter);
        border-color: var(--palette-NeutralLighter);
    }

@media screen and (-ms-high-contrast: active) {
    ::deep .ms-Button--default {
        color: Highlight;
        background-color: Highlight;
    }
}