
::deep .ms-Button--icon {
    padding: 0 4px;
    min-width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    color: var(--semanticTextColors-Link);
}

    ::deep .ms-Button--icon:hover {
        color: var(--palette-ThemeDarkAlt);
        background-color: var(--palette-NeutralLighter);
    }

    ::deep .ms-Button--icon:active {
        color: var(--palette-ThemeDark);
        background-color: var(--palette-NeutralLight);
    }

    ::deep .ms-Button--icon.is-checked:not(.is-disabled) {
        color: var(--palette-ThemeDark);
        background-color: var(--palette-NeutralLight);
        border: none;
    }

    ::deep .ms-Button--icon.is-checked:hover {
        background-color: var(--palette-NeutralQuaternaryAlt);
        color: var(--palette-ThemeDark);
    }

    ::deep .ms-Button--icon.is-disabled{
        border-color: var(--palette-NeutralQuaternaryAlt);
    }

@media screen and (-ms-high-contrast: active) {
    ::deep .ms-Button.ms-Button--icon:hover {
        color: Highlight;
        background-color: Highlight;
    }
}