@page "/"
@namespace BlazorFluentUI.Demo.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blazor Fluent UI Server</title>
    <base href="~/" />


    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css" />
    <link rel="stylesheet" href="css/fabric-icons-inline.css" /> <!--These are icons for nav not automatically included in the above css.-->
    <link rel="stylesheet" href="BlazorFluentUI.Demo.Server.styles.css" />
    <link href="css/site.css" rel="stylesheet" />

    <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
    <script src="_content/BlazorFluentUI.CoreComponents/richTextEditor.js"></script>




</head>
<body>
    <component type="typeof(BlazorFluentUI.Demo.Shared.App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
</body>
</html>

