@namespace FluentUI
@inherits FluentUIComponentBase

<div class=@($"ms-TooltipHost {ClassName}")
     style=@Style
     @ref=@RootElementReference
     @onfocus=@(ev => OnTooltipMouseEnter(null))
     @onblur=@(ev => OnTooltipMouseLeave(null))
     @onmouseenter=@OnTooltipMouseEnter
     @onmouseleave=@OnTooltipMouseLeave
     @onkeydown=@OnTooltipKeyDown>

    @ChildContent

    @if (IsTooltipVisible)
    {
        <Tooltip DirectionalHint=@DirectionalHint
                 FabricComponentTarget=@TargetElement
                 OnMouseLeave=@OnTooltipMouseEnter
                 OnMouseEnter=@OnTooltipMouseLeave>
            @TooltipContent
        </Tooltip>
    }
    @if (IsAriaPlaceholderRendered)
    {
        <div style="display:none;">
            @TooltipContent
        </div>
    }

</div>
