@namespace BlazorFluentUI
@inherits BFUComponentBase


<BFUGlobalCS Component="this" CreateGlobalCss="@CreateGlobalCss" />

<div class=@($"{ClassName} ms-Spinner{GetPositionStyle()}") style=@Style>
    <div class=@($"ms-Spinner-circle{GetSpinnerSizeStyle()}") />
    @if (Label != null)
    {
        <div class=@($"ms-Spinner-label")>@Label</div>
    }
    @if (StatusMessage != null)
    {
        <div role="status" aria-live=@GetAriaLive()>
            <BFUDelayedRender>
                <div class="ms-Spinner-screenReaderText">@AriaLabel</div>
            </BFUDelayedRender>
        </div>
    }
</div>
