@namespace BlazorFluentUI
@using Microsoft.AspNetCore.Components.Web
@inherits BFUResponsiveComponentBase
  
<BFUGlobalCS Component="this" CreateGlobalCss=@CreateGlobalCss />
<BFUCallout FabricComponentTarget=@FabricComponentTarget
                        IsBeakVisible=@((int)CurrentMode <= (int)ResponsiveMode.Medium ? true : IsBeakVisible)
                        BeakWidth=@BeakWidth
                        DirectionalHint=@DirectionalHint
                        GapSpace=@GapSpace
                        CoverTarget=@CoverTarget
                        ClassName="ms-ContextualMenu-callout"
                        Bounds=@Bounds
                        DirectionalHintFixed=@DirectionalHintFixed
                        AlignTargetEdge=@AlignTargetEdge
                        SetInitialFocus=@ShouldFocusOnMount
                      OnPositioned=@OnCalloutPositioned
                        OnDismiss=@OnCalloutDismiss>
    @*TabIndex set to -1 so it is focusable, ignoring option to focus on "container??"*@
    <div aria-label=@AriaLabel
            style=""
            tabindex="-1"
            class="ms-ContextualMenu-container">
        @if (Title != null)
        {
            <div class="ms-ContextMenu-title">
                @Title
            </div>
        }
        @if (Items != null && Items.Count() > 0)
        {
            <BFUFocusZone ClassName=@($"ms-ContextualMenu")
                       @ref="_focusZoneReference"
                       Direction="FocusZoneDirection.Vertical"
                       IsCircularNavigation="true"
                       HandleTabKey="FocusZoneTabbableElements.All">
                <ul class="ms-ContextualMenu-list" role="menu" >
                    @foreach (var item in Items)
                    {
                        @if (ItemTemplate != null)
                        {
                            @ItemTemplate(item)
                        }
                        else
                        {
                            <BlazorFluentUI.BFUContextualMenuInternal.ContextualMenuItem CanCheck=@item.CanCheck Checked=@item.Checked ClassName=@item.ClassName Command=@item.Command CommandParameter=@item.CommandParameter
                                                                                    Disabled=@item.Disabled Href=@item.Href IconName=@item.IconName Items=@item.Items ItemType=@item.ItemType Key=@item.Key
                                                                                    OnClick=@item.OnClick SecondaryText=@item.SecondaryText Split=@item.Split Style=@item.Style Text=@item.Text
                                                                                    OnKeyDown=@KeyDownHandler
                                                                                    DismissMenu=@Dismiss
                                                                                    HasIcons=@HasIcons
                                                                                    HasCheckables=@HasCheckables
                                                                                    SetSubmenu=@OnSetSubmenu
                                                                                    SubmenuActiveKey=@SubmenuActiveKey
                                                                                    NotifyCalloutDismiss=@OnNotifyCalloutDismiss />
                        }
                    }
                </ul>
            </BFUFocusZone>
        }
    </div>

</BFUCallout>

