@namespace FluentUI
@inherits FluentUIComponentBase

@if(ChildContent != null)
{
    <div class=@($"mediumFont ms-StackItem {ClassName}") style=@($"{GetStyles()}{Style}")>
        @ChildContent
    </div>
}