.ms-Calendar-day {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 100%;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    cursor: pointer;
}



.ms-Calendar-daySelection .ms-Calendar-day {
    /* high contrast */
}



.ms-Calendar-dayIsToday {
    border-radius: 100%;
}



    .ms-Calendar-dayIsToday, .ms-Calendar-dayIsToday:hover {
        position: relative;
        background-color: var(--palette-NeutralLighter);
        /* high contrast */
    }



.ms-Calendar--dayIsToday span, .ms-Calendar--dayIsToday:hover span {
    /* high contrast */
}



.ms-Calendar-dayIsToday:hover, .ms-Calendar-dayIsToday:hover:hover {
    border-radius: 100%;
}



.ms-Calendar-dayIsDisabled:before {
    border-top-color: var(--palette-NeutralTertiary);
}



.ms-Calendar-dayIsUnfocused {
    color: var(--palette-NeutralSecondary);
    font-weight: var(--fontWeight.Regular);
}



    .ms-Calendar-dayIsFocused:hover, .ms-Calendar-dayIsUnfocused:hover {
        cursor: pointer;
        color: var(--palette-NeutralDark);
        background: var(--palette-NeutralLighter);
    }

/*// Highlighted and hovered/focused dates.*/

.ms-Calendar-daySelection.ms-Calendar-dayIsHighlighted:hover, .ms-Calendar-pickerIsFocused .ms-Calendar-dayIsHighlighted.ms-Calendar-daySelection {
    cursor: pointer;
    background-color: var(--palette-NeutralLight);
    border-radius: 2px;
    /*@include high-contrast {
                        border: 2px solid Highlight;

                        :not(.dayIsToday) span {
                            color: Highlight;
                        }
                    }*/
}



.ms-Calendar-dayIsHighlighted button.ms-Calendar-dayIsToday {
    /*@include high-contrast {
                        border-radius: 100%;
                    }*/
}



    .ms-Calendar-dayIsHighlighted button.ms-Calendar-dayIsToday span {
        /*@include high-contrast {
                        border-radius: 100%;
                    }*/
    }



.ms-Calendar-dayIsFocused:active, .ms-Calendar-dayIsHighlighted {
    background-color: var(--palette-ThemeLight);
}




    .ms-Calendar-dayIsFocused:active.day, .ms-Calendar-dayIsHighlighted.day {
        color: var(--palette-NeutralDark);
        background-color: var(--palette-NeutralLight);
    }

    /*// Disabled and highlighted dates.*/

    .ms-Calendar-dayIsHighlighted.dayDisabled, .ms-Calendar-dayIsHighlighted.dayDisabled:hover {
        background: var(--palette-NeutralTertiary);
    }

/*// Highlighted date squares*/

.ms-Calendar-dayBackground, 
.ms-Calendar-dayBackground:hover, 
.ms-Calendar-dayBackground:active {
    border-radius: 2px;
}



.ms-Calendar-dayHover, 
.ms-Calendar-dayHover:hover {
    cursor: pointer;
    color: var(--palette-NeutralDark);
    background: var(--palette-NeutralLighter);
}



.ms-Calendar-dayPress, 
.ms-Calendar-dayPress:hover {
    cursor: pointer;
    color: var(--palette-NeutralDark);
    background: var(--palette-NeutralLight);
}

    .ms-Calendar-dayPress .ms-Calendar-dayIsToday, 
    .ms-Calendar-dayPress:hover .ms-Calendar-dayIsToday {
        background: var(--palette-ThemePrimary);
        border-radius: 100%;
    }



.ms-Calendar-dayIsUnfocused:active, 
.ms-Calendar-dayIsFocused:active, 
.ms-Calendar-dayIsHighlighted, 
.ms-Calendar-dayIsHighlighted:hover, 
.ms-Calendar-dayIsHighlighted:active, 
.ms-Calendar-weekBackground, 
.ms-Calendar-weekBackground:hover, 
.ms-Calendar-weekBackground:active {
    background-color: var(--palette-NeutralLight);
    color: var(--palette-NeutralDark);
}



.ms-Calendar-dayIsToday, 
.ms-Calendar-pickerIsFocused 
.ms-Calendar-dayIsToday, 
.ms-Calendar-dayIsToday.ms-Calendar-day:active {
    position: relative;
    color: var(--palette-White);
    font-weight: var(--fontWeight-SemiBold);
    background: var(--palette-ThemePrimary);
    border-radius: 100%;
}


@media screen and (-ms-high-contrast: active) {
    .ms-Calendar-dayIsToday,
    .ms-Calendar-pickerIsFocused
    .ms-Calendar-dayIsToday,
    .ms-Calendar-dayIsToday.ms-Calendar-day:active {
        border-color: Highlight;
        color: HighlightText;
        -ms-high-contrast-adjust:none;
    }
}


.ms-Calendar-showWeekNumbers .ms-Calendar-weekNumbers {
    border-right: 1px solid var(--palette-NeutralLight);
    box-sizing: border-box;
    width: 28px;
    padding: 0;
}
    .ms-Calendar-showWeekNumbers .ms-Calendar-weekNumbers .ms-Calendar-dayWrapper {
        color: var(--palette-NeutralSecondary);
    }
        .ms-Calendar-showWeekNumbers .ms-Calendar-weekNumbers .ms-Calendar-dayWrapper.ms-Calendar-weekIsHighlighted {
            /* This doesn't seem to be active in the code at all. */
            color: var(--palette-NeutralPrimary);
        }



    .ms-Calendar-showWeekNumbers .ms-Calendar-table {
        width: 225px;
    }

        .ms-Calendar-showWeekNumbers .ms-Calendar-table .ms-Calendar-dayWrapper, 
        .ms-Calendar-showWeekNumbers .ms-Calendar-table .ms-Calendar-weekday {
            width: 30px;
        }

.ms-Calendar-showWeekNumbersRTL .ms-Calendar-weekNumbers {
    border-left: 1px solid var(--palette-NeutralLight);
    box-sizing: border-box;
}
    .ms-Calendar-showWeekNumbersRTL .ms-Calendar-weekNumbers .ms-Calendar-dayWrapper {
        color: var(--palette-NeutralSecondary);
    }
        .ms-Calendar-showWeekNumbersRTL .ms-Calendar-weekNumbers .ms-Calendar-dayWrapper.ms-Calendar-weekIsHighlighted {
            /* This doesn't seem to be active in the code at all. */
            color: var(--palette-NeutralPrimary);
        }
.ms-Calendar-showWeekNumbersRTL .ms-Calendar-table {
    width: 225px;
}

    .ms-Calendar-showWeekNumbersRTL .ms-Calendar-table .ms-Calendar-dayWrapper,
    .ms-Calendar-showWeekNumbersRTL .ms-Calendar-table .ms-Calendar-weekday {
        width: 30px;
    }