@namespace BlazorFluentUI
@inherits BFUComponentBase
@typeparam TItem

<div class=@($"ms-SelectionZone {(isModal ? "ms-SelectionZone--modal": "")} {ClassName}") 
     style=@($"height:100%;overflow-y:hidden;{Style}")
     data-selection-is-modal=@isModal
     @ref="RootElementReference"
     >
    <CascadingValue Value=@this>
        @ChildContent
    </CascadingValue>
</div>
