/*.ms-List-cell {
    padding-top: 11px;
    padding-bottom: 11px;
    min-height: 42px;
    min-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid var(--palette-NeutralLighter);
    display: inline-flex;
    outline: transparent;
    position: relative;
}
    .ms-List-cell:hover {
        background-color: var(--palette-NeutralLighter);
    }
    .ms-List-cell.is-selected {
        background-color: var(--palette-NeutralLight);
    }

    .ms-List-cell::-moz-focus-inner {
        border: 0;
    }

.ms-Fabric--isFocusVisible .ms-List-cell:focus::after {
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid transparent;
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zindex-FocusStyle);
}

@media screen and (-ms-high-contrast: active) {
    .ms-Fabric--isFocusVisible .ms-List-cell:focus::after {
        left: -2px;
        top: -2px;
        bottom: -2px;
        right: -2px;
        border: none;
        outline-color: ButtonText;
    }
}*/


