/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.ms-List-root {
    height:100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.ms-List{
    height:100%;
}

.ms-List-surface{
    height:100%;
    overflow-y:auto;
}

.ms-List-cell {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--semanticColors-BodyDivider);
    display: flex;
}
    .ms-List-cell:hover {
        background-color: var(--palette-NeutralLighter);
    }
    .ms-List-cell.is-active {
        background-color: var(--palette-NeutralLight);
    }
