@namespace FluentUI
@inherits FluentUIComponentBase

<div class=@($"{ClassName} mediumFont ms-Image{GetRootClasses()}") 
        style=@($"width:{this.Width}px; height: {this.Height}px;{Style}") 
        @ref=@RootElementReference>
    <img 
            @onload=@this.OnImageLoaded
            @onerror=@this.OnImageError
            @ref=@imageRef
            key=@((Src != null ? KEY_PREFIX + Src : ""))
            class=@($"ms-Image-image{GetImageClasses()}")
            style=@GetImageStyles()
            src=@Src
            alt=@Alt
            role=@Role />
</div>
