@namespace FluentUI
@using FluentUI
@using Microsoft.AspNetCore.Components.Web
@typeparam TItem

@inherits FluentUIComponentBase

@*<GlobalCS Component="this" CreateGlobalCss=@(()=>CreateGlobalCss(Theme)) />*@

<div class=@($"{GlobalClassNames["root"]} {ClassName}")
     @ref="RootElementReference">
    @ChildContent
    @if (dragRect != null)
    {
        <div class=@($"{GlobalClassNames["dragMask"]}")/>
    }
    @if (dragRect != null)
    {
        <div class=@($"{GlobalClassNames["box"]}")
             style=@($"left:{dragRect.left}px;top:{dragRect.top}px;width:{dragRect.width}px;height:{dragRect.height}px;")>
            <div class=@($"{GlobalClassNames["boxFill"]}")/>
        </div>
    }
</div>