.ms-GroupHeader {
    /* focusStyles */
    outline: transparent;
    position: relative;
    /* end */
    border-bottom:1px solid var(--semanticColors-ListBackground);
    cursor:default;
    user-select:none;
}

/*START more focusStyles*/
    .ms-GroupHeader::-moz-focus-inner {
        border: 0;
    }

.ms-Fabric--isFocusVisible .ms-GroupHeader:focus:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    border: 1px solid transparent;
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zindex-FocusStyle);
}

@media screen and (-ms-high-contrast: active) {
    .ms-Fabric--isFocusVisible .ms-GroupHeader:focus:after {
        left: -2px;
        top: -2px;
        bottom: -2px;
        right: -2px;
        border: none;
        outline-color: ButtonText;
    }
}
/* END focusStyles*/

.ms-GroupHeader:hover{
    background:var(--semanticColors-ListItemBackgroundHovered);
    color:var(--semanticColors-ActionLinkHovered);
}
    .ms-GroupHeader:hover .ms-GroupHeader-check{
        opacity:1;
    }
    .ms-Fabric--isFocusVisible .ms-GroupHeader:focus .ms-GroupHeader-check {
        opacity: 1;
    }
    
    /*GLOBAL selector here I don't get */

.is-selected .ms-GroupHeader {
    background: var(--semanticColors-ListItemBackgroundChecked);
}
    .is-selected .ms-GroupHeader:hover {
        background: var(--semanticColors-ListItemBackgroundCheckedHovered);
    }
    .is-selected .ms-GroupHeader:hover .ms-GroupHeader-check {
        opacity: 1;
    }
.ms-GroupHeader.ms-GroupHeader--compact {
    border: none;
}


.ms-GroupHeader-groupHeaderContainer{
    display:flex;
    align-items:center;
    height: 48px;
}
.ms-GroupHeader--compact .ms-GroupHeader-groupHeaderContainer {
    height: 40px;
}
.ms-GroupHeader-headerCount{
    padding:0px 4px;
}
.ms-GroupHeader-check{
    /*skipping focus Styles*/
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top:1px;
    margin-top:-1px;
    opacity:0;
    width:48px;
    height: 48px;
}
.ms-GroupHeader--compact .ms-GroupHeader-check {
    height: 40px;
}
.ms-Fabric--isFocusVisible .ms-GroupHeader-check:focus{
    opacity:1;
}


.ms-GroupHeader-expand {
    /*checkExpandResetStyle*/
    /*focusStyles*/
    outline: transparent;
    position: relative;

    cursor: default;
    background: none;
    background-color: transparent;
    border: none;
    padding: 0;
    /* End checkExpandResetStyle */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fontSize-Small);
    width: 36px;
    height: 48px;
    color: var(--palette-NeutralSecondary);
}
/*START more focusStyles*/
    .ms-GroupHeader-expand::-moz-focus-inner {
        border: 0;
    }

.ms-Fabric--isFocusVisible .ms-GroupHeader-expand:focus:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    border: 1px solid transparent;
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zindex-FocusStyle);
}

@media screen and (-ms-high-contrast: active) {
    .ms-Fabric--isFocusVisible .ms-GroupHeader-expand:focus:after {
        left: -2px;
        top: -2px;
        bottom: -2px;
        right: -2px;
        border: none;
        outline-color: ButtonText;
    }
}
/* END focusStyles*/


    .ms-GroupHeader-expand:hover{
        background-color:var(--palette-NeutralLight);
    }
    .ms-GroupHeader-expand:active {
        background-color: var(--palette-NeutralQuaternaryAlt);
    }
    .ms-GroupHeader--compact .ms-GroupHeader-expand {
        height: 40px;
    }
.ms-GroupHeader.is-selected .ms-GroupHeader-expand {
    color: var(--palette-NeutralPrimary);
}
    .ms-GroupHeader.is-selected .ms-GroupHeader-expand:hover {
        background-color: var(--palette-NeutralQuaternary);
    }
    .ms-GroupHeader.is-selected .ms-GroupHeader-expand:active {
        background-color: var(--palette-NeutralTertiaryAlt);
    }

.ms-GroupHeader-expandIsCollapsed{
    transform: rotate(90deg);
    transform-origin:50% 50%;
    transition: transform .1s linear;
}
.ms-GroupHeader.is-collapsed .ms-GroupHeader-expandIsCollapsed {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform .1s linear;
}

.ms-GroupHeader-title{
    padding-left:12px;
    font-size:var(--fontSize-MediumPlus);
    font-weight:var(--fontWeight-SemiBold);
    cursor:pointer;
    outline:0;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.ms-GroupHeader.ms-GroupHeader--compact .ms-GroupHeader-title {
    font-size: var(--fontSize-Medium);
}
.ms-GroupHeader.is-collapsed .ms-GroupHeader-title {
    font-weight: var(--fontWeight-Regular);
}


.ms-GroupHeader-dropIcon {
    position: absolute;
    left: -26px;
    font-size: var(--iconFontSize-Large);
    color: var(--palette-NeutralSecondary);
    transition: transform var(--animation-DURATION_2) cubic-bezier(0.600, -0.280, 0.735, 0.045), opacity var(--animation-DURATION_4) cubic-bezier(0.390, 0.575, 0.565, 1.000);
    opacity:0;
    transform: rotate(0.2deg) scale(0.65);
    transform-origin: 10px 10px;
    /* more global selectors ... ??? */
}