@namespace BlazorFluentUI
@inherits BFUComponentBase
@using Microsoft.AspNetCore.Components.Web

<BFUGlobalCS Component="this" CreateGlobalCss=@(()=>CreateGlobalCss(Theme))/>

@*<KeytipData keytipProps={keytipProps} disabled={disabled}>
    {(keytipAttributes: any): JSX.Element => (*@
<div class=@($"ms-Checkbox {(_isChecked ? "is-checked" : "not-checked")} {(_reversed ? "reversed" : "")} {(Disabled ? "is-disabled" : "is-enabled")} {ClassName}")
     style=@Style
     @ref="RootElementReference">
    <input type="checkbox"
           id=@Id
           class=@($"ms-Checkbox-input mediumFont" )
           checked=@_isChecked
           disabled=@Disabled
           @onchange="InternalOnChange"
           aria-disabled=@Disabled
           aria-label=@AriaLabel
           aria-labelledby=@AriaLabelledBy
           aria-describedby=@AriaDescribedBy
           aria-posinset=@AriaPositionInSet
           aria-setsize=@AriaSetSize />
    <label class=@($"ms-Checkbox-label{(_reversed ? " ms-Checkbox-label-reversed" : "")}{(Disabled ? " ms-Checkbox-label-disabled" : " ms-Checkbox-label-enabled")}{(_isChecked ? " ms-Checkbox-label-checked" : " ms-Checkbox-label-unchecked")}{(_indeterminate ? " ms-Checkbox-label-indeterminate" : "")}")
           for="@Id">
        <div class=@($"ms-Checkbox-checkbox{(_reversed? " ms-Checkbox-checkbox-reversed":"")}{(Disabled ? " ms-Checkbox-checkbox-disabled" : " ms-Checkbox-checkbox-enabled")}{(_isChecked ? " ms-Checkbox-checkbox-checked" : " ms-Checkbox-checkbox-unchecked")}{(_indeterminate ? " ms-Checkbox-checkbox-indeterminate" : "")}")>
            <i class=@($"ms-Checkbox-checkmark{(Disabled ? " ms-Checkbox-checkmark-disabled" : "")}{(_isChecked ? " ms-Checkbox-checkmark-checked" : "")} ms-Icon ms-Icon--CheckMark ") aria-hidden="true"></i>
        </div>
        <span class=@($"ms-Checkbox-text{(_reversed ? " ms-Checkbox-text-reversed" : "")}{(Disabled ? " ms-Checkbox-text-disabled" : "")}")>@Label</span>
    </label>
</div>
@*)}
    </KeytipData>*@