@namespace BlazorFabric
@inherits FabricComponentBase


@if (IconType == IconType.Image)
{
    <div class=@($"ms-Icon ms-Icon-imageContainer {this.ClassName}") 
         style=@Style
         @ref="RootElementReference"
         role="presentation">

    </div>
}
else
{
    <i class=@($"ms-Icon {(string.IsNullOrEmpty(this.IconName) ? "ms-Icon-placeHolder" : "ms-Icon--" + this.IconName)} {this.ClassName}") 
       role="presentation" 
       style="@Style" 
       @ref="RootElementReference">

    </i>
}


