@namespace BlazorFabric
@inherits FabricComponentBase

<GlobalCS Component="this" CreateGlobalCss=@(()=>CreateGlobalCss(Theme)) />

@if (IconType == IconType.Image)
{
    <div class=@($"ms-Icon ms-Icon-imageContainer {this.ClassName}")
         style=@Style
         @ref="RootElementReference"
         role="presentation">

    </div>
}
else
{
    <i class=@($"ms-Icon {(string.IsNullOrEmpty(this.IconName) ? "ms-Icon-placeHolder" : "ms-Icon--" + this.IconName)} {this.ClassName}")
       data-icon-name=@IconName
       role="presentation"
       style="@Style"
       @ref="RootElementReference">

    </i>
}


