/*.ms-DatePicker{

}

.ms-DatePicker-textField{
    position:relative;
}

    .ms-DatePicker-textField input[readonly] {
        cursor: pointer;
    }

    .ms-DatePicker-textField input::-ms-clear {
        display:none;
    }

    .ms-DatePicker--disabled .ms-DatePicker-textField input[readonly]{
        cursor:default;
    }

.ms-DatePicker-callout {
    box-shadow: var(--effects-Elevation8);
}*/

