@page "/calloutPage"

<h1>Callout</h1>

<BFUDropdown TItem=@DirectionalHint
          Style="max-width:300px;"
          ItemsSource=@(Enum.GetValues(typeof(DirectionalHint)).Cast<DirectionalHint>().ToList())
          @bind-SelectedKey=@SelectedDirection>
    <ItemTemplate>
        <BFUDropdownItem TItem=@DirectionalHint ItemKey=@context.ToString() Text=@context.ToString() />
    </ItemTemplate>
</BFUDropdown>

<div style="height:200px;"></div>
<div style="display:inline;overflow-x:auto;">
    <div style="width:300px"></div>
    <BFUDefaultButton Text="Show Callout" OnClick=ClickHandler @ref="calloutTarget" />
    <div style="width:300px"></div>
</div>
<div style="height:400px;"></div>
@if (!calloutHidden)
{
    <BFUCallout FabricComponentTarget=@calloutTarget
             DirectionalHint=@((DirectionalHint)Enum.Parse(typeof(DirectionalHint),SelectedDirection))
             OnDismiss=@DismissHandler>
        <div Style="max-width:300px; padding:20px;">
            <h2>Callout Test</h2>
            <p style="min-width: 150px;">
                There are a few things in here.
            </p>
            <BFUPrimaryButton Text="Ok" />
        </div>
    </BFUCallout>
}

@code {

    bool isInitialized = false;
    bool calloutHidden = true;

    BFUComponentBase calloutTarget;

    string SelectedDirection = DirectionalHint.BottomLeftEdge.ToString();

    Task ClickHandler(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        calloutHidden = !calloutHidden;
        StateHasChanged();
        return Task.CompletedTask;
    }

    protected Task DismissHandler()
    {
        calloutHidden = true;
        return Task.CompletedTask;
    }
}