@page "/datePickerPage"
@using System.Linq;

<h1>DatePicker</h1>

<h4>Basic DatePicker</h4>
<BFUDatePicker AllowTextInput="false"
            Style="max-width:300px; margin:0 0 15px 0;"
            @bind-Value="selectedDate1"
            Placeholder="Select a date..."
            FirstDayOfWeek=@((DayOfWeek)Enum.Parse(typeof(DayOfWeek), selectedDayOfWeek)) />
<BFUDropdown ItemsSource=@DaysOfWeek
          Style="max-width:300px; margin:0 0 15px 0;"
          TItem="DayOfWeek"
          Placeholder="Select an option"
          @bind-SelectedKey=@selectedDayOfWeek
          Label="Select the first day of the week">
    <ItemTemplate>
        <BFUDropdownItem TItem="DayOfWeek" ItemKey=@context.ToString() Text=@System.Globalization.DateTimeFormatInfo.CurrentInfo.GetDayName(context) />
    </ItemTemplate>
</BFUDropdown>


<h4>DatePicker Required</h4>
<BFUDatePicker AllowTextInput="false"
            Style="max-width:300px; margin:0 0 15px 0;"
            IsRequired="true"
            @bind-Value="selectedDate2"
            Placeholder="Select a date..." />

<h4>DatePicker Disabled</h4>
<BFUDatePicker AllowTextInput="false"
            Style="max-width:300px; margin:0 0 15px 0;"
            Disabled="true"
            @bind-Value="selectedDate2"
            Placeholder="Select a date..." />
<BFUDatePicker AllowTextInput="false"
            Style="max-width:300px; margin:0 0 15px 0;"
            Disabled="true"
            Label="Disabled (with Label)"
            @bind-Value="selectedDate2"
            Placeholder="Select a date..." />

<h4>DatePicker allows input date string</h4>
<p>
    Text input is parsed using .NET's (mono's) <span style="font-family:Courier">DateTime.TryParse</span> method.  It is region-aware so should be able to identify many date string inputs.
    String input is intended to be accomplished through keyboard navigation as mouse-clicking will open the picker.
</p>
<BFUDatePicker AllowTextInput="true"
            Style="max-width:300px; margin:0 0 15px 0;"
            Label="DatePicker with string date input"
            @bind-Value="selectedDate3"
            Placeholder="Select a date..." />

<div style="height:100px;"></div>


@code {
    DateTime selectedDate1;
    DateTime selectedDate2;
    DateTime selectedDate3;

    string selectedDayOfWeek = DayOfWeek.Sunday.ToString();
    List<DayOfWeek> DaysOfWeek = Enum.GetValues(typeof(DayOfWeek)).Cast<DayOfWeek>().ToList(); // new System.Collections.Generic.List<DayOfWeek>();

}
