@page "/detailsListPageBasic"

<BFUStack Style="height:100%;">
    <h3>DetailsList</h3>
    <BFUDetailsList ItemsSource="InputList"
                    Columns="Columns"
                    LayoutMode="DetailsListLayoutMode.Justified"
                    @bind-Selection="selection"
                    SelectionMode="SelectionMode.Multiple">
    </BFUDetailsList>
</BFUStack>

@code {

    List<DataItem> InputList = new List<DataItem>();

    Selection<DataItem> selection = new Selection<DataItem>();

    public List<BFUDetailsRowColumn<DataItem>> Columns = new List<BFUDetailsRowColumn<DataItem>>();

    protected override void OnInitialized()
    {
        Columns.Add(new BFUDetailsRowColumn<DataItem>("Key", x => x.KeyNumber) { MaxWidth = 70, Index=0 });
        Columns.Add(new BFUDetailsRowColumn<DataItem>("Name", x => x.DisplayName) { Index = 1, MaxWidth = 150, OnColumnClick = this.OnColumnClick, IsResizable=true });
        Columns.Add(new BFUDetailsRowColumn<DataItem>("Description", x => x.Description) { Index = 2 });

        int count = 0;
        for (var i = 0; i < 1000; i++)
        {
            count++;

            InputList.Add(new DataItem(count));
        }

        base.OnInitialized();
    }

    private void OnColumnClick(BFUDetailsRowColumn<DataItem> column)
    {
        InputList = new List<DataItem>(column.IsSorted ? InputList.OrderBy(x => x.DisplayName) : InputList.OrderByDescending(x => x.DisplayName));
        column.IsSorted = !column.IsSorted;
        StateHasChanged();
    }
}
