@page "/documentcard"

<h1>DocumentCard</h1>

<Demo Header="Default DocumentCard" Key="0" MetadataPath="DocumentCardPage">
    <BFUDocumentCard Type="DocumentCardType.Compact" OnClickHref="google.de">
        <BFUDocumentCardTitle ShouldTruncate="false" Title="My Heading"></BFUDocumentCardTitle>
    </BFUDocumentCard>
</Demo>

