@page "/documentcard"

<h1>DocumentCard</h1>

<Demo Header="Default DocumentCard" Key="0" MetadataPath="DocumentCardPage">
    <BFUDocumentCard Compact="true" OnClickHref="google.de">Test</BFUDocumentCard>
</Demo>

