@page "/dropdownPage"

<h1>Dropdown</h1>

<h3>Uncontrolled Single Selection</h3>
@*<BlazorFluentUI.BFULabel>Selected: @uncontrolledSingleSelectionResult</BlazorFluentUI.BFULabel>*@
<div style="max-width:300px;">
    <BFUDropdown ItemsSource=@items  Placeholder="Select an option" OnChange=@UncontrolledSingleChangeHandler
              Label=@($"Selected: {uncontrolledSingleSelectionResult}")>
        @*<ItemTemplate>
            <BFUDropdownItem TItem="DataItem" ItemKey=@context.DisplayName Text=@context.DisplayName ItemType=@context.Type />
        </ItemTemplate>*@
    </BFUDropdown>
</div>

<h3>Uncontrolled Multi-Selection</h3>
<BlazorFluentUI.BFULabel>Selected: @string.Join(", ", uncontrolledMultiSelectionResult)</BlazorFluentUI.BFULabel>
<div style="max-width:300px;">
    <BFUDropdown ItemsSource=@items  MultiSelect="true" Placeholder="Select options..." OnChange=@UncontrolledMultiChangeHandler>
        @*<ItemTemplate>
            <BFUDropdownItem TItem="DataItem" ItemKey=@context.DisplayName Text=@context.DisplayName ItemType=@context.Type />
        </ItemTemplate>*@
    </BFUDropdown>
</div>

<h3>Controlled Single Selection</h3>
<BlazorFluentUI.BFULabel>Selected: @string.Join(", ", controlledSingleSelectionResult)</BlazorFluentUI.BFULabel>
<div style="max-width:300px;">
    <BFUDropdown ItemsSource=@items Placeholder="Select an option" @bind-SelectedKey=@controlledSingleSelectionResult>
        @*<ItemTemplate>
            <BFUDropdownItem TItem="DataItem" ItemKey=@context.DisplayName Text=@context.DisplayName ItemType=@context.Type />
        </ItemTemplate>*@
    </BFUDropdown>
</div>

<h3>Controlled Multi-Selection</h3>
<BlazorFluentUI.BFULabel>Selected: @string.Join(", ", controlledMultiSelectionResult)</BlazorFluentUI.BFULabel>
<div style="max-width:300px;">
    <BFUDropdown ItemsSource=@items MultiSelect="true" Placeholder="Select options..." @bind-SelectedKeys=@controlledMultiSelectionResult @bind-SelectedKeys:event="SelectedKeysChanged">
        @*<ItemTemplate>
            <BFUDropdownItem TItem="DataItem" ItemKey=@context.DisplayName Text=@context.DisplayName ItemType=@context.Type />
        </ItemTemplate>*@
    </BFUDropdown>
</div>

<h3>Disabled</h3>
<div style="max-width:300px;">
    <BFUDropdown ItemsSource=@items Disabled="true" Placeholder="Select an option">
        @*<ItemTemplate>
            <BFUDropdownItem TItem="DataItem" ItemKey=@context.DisplayName Text=@context.DisplayName ItemType=@context.Type />
        </ItemTemplate>*@
    </BFUDropdown>
</div>

<h3>Disabled with Selected</h3>
<div style="max-width:300px;">
    <BFUDropdown ItemsSource=@items Disabled="true" Placeholder="Select an option" @bind-SelectedKey=@controlledSingleSelectionResult>
        @*<ItemTemplate>
            <BFUDropdownItem TItem="DataItem" ItemKey=@context.DisplayName Text=@context.DisplayName ItemType=@context.Type />
        </ItemTemplate>*@
    </BFUDropdown>
</div>


@code {

    string uncontrolledSingleSelectionResult;
    List<string> uncontrolledMultiSelectionResult = new List<string>();

    string controlledSingleSelectionResult = "Banana";
    List<string> controlledMultiSelectionResult = new List<string> { "Banana", "Orange" };

    List<IBFUDropdownOption> items;

    protected override Task OnInitializedAsync()
    {
        items = new List<DataItem>
{
            new DataItem("Fruits", SelectableOptionMenuItemType.Header),
            new DataItem("Apple"),
            new DataItem("Banana"),
            new DataItem("Orange"),
            new DataItem("Grape"),
            new DataItem("divider1", SelectableOptionMenuItemType.Divider),
            new DataItem("Vegetables", SelectableOptionMenuItemType.Header),
            new DataItem("Broccoli"),
            new DataItem("Carrot"),
            new DataItem("Lettuce")
        }.Select(x => new BFUDropdownOption { Key = x.Key, Text = x.DisplayName, ItemType = x.Type }).Cast<IBFUDropdownOption>().ToList();
        return base.OnInitializedAsync();
    }

    void UncontrolledSingleChangeHandler(BFUDropdownChangeArgs args)
    {
        uncontrolledSingleSelectionResult = args.Key;
    }

    void UncontrolledMultiChangeHandler(BFUDropdownChangeArgs args)
    {
        if (args.IsAdded)
            uncontrolledMultiSelectionResult.Add(args.Key);
        else
            uncontrolledMultiSelectionResult.Remove(args.Key);
    }

}
