@page "/fluentSystemIconsPage"
@using System.Text.RegularExpressions

<style>
    .preview {
        width: 120px;
        display: inline-block;
        margin: 10px;
    }

        .preview .inner {
            display: inline-block;
            width: 100%;
            text-align: center;
            background: #f5f5f5;
            border-radius: 3px 3px 0 0;
        }

            .preview .inner i {
                line-height: 85px;
                font-size: 40px;
                color: #333;
            }

    .label {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        font-size: 10px;
        font-family: Monaco, monospace;
        color: #666;
        white-space: nowrap;
        overflow: hidden;
        background: #ddd;
        border-radius: 0 0 3px 3px;
        color: #666;
    }
</style>


<header class="root">
    <h1>Fluent System Icons</h1>
</header>


<div class="section" style="transition-delay: 0s;">
    <div id="overview" tabindex="-1">
        <h2 class="subHeading hiddenContent">Overview</h2>
    </div>
    <div class="content">
        <div class="ms-Markdown">
            <p>
                The Fluent System Icons set is available as 2 TrueType fonts. One for regular icons and one for filled icons.
                <ul>
                    <li>
                        <a href="/#regular">Regular icons</a>
                    </li>
                    <li>
                        <a href="/#filled">Filled icons</a>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>
<div class="section" >
    <div class="subSection" id="regular" data-is-scrollable="true" style="overflow-y:auto;height:600px;">
        <BlazorFluentUI.Lists.List ItemsSource=@regular
                                   UseGridFlexLayout="true"
                                   ItemWidth="120"
                                   TItem="FontModel">
            <ItemTemplate>
                <div class="preview">
                    <span class="inner">
                        <Icon IconName=@context.Item.Name IconSize=@context.Item.Size Filled=false />
                    </span>
                    <br>
                    <span class="label">@context.Item.Name @context.Item.Size</span>
                </div>
            </ItemTemplate>
        </BlazorFluentUI.Lists.List>
    </div>
</div>

@code {
    List<FontModel>? data;
    List<FontModel>? regular;

    protected override Task OnInitializedAsync()
    {
        var regex = new Regex(@"ic_fluent_(\w*)_(\d*)_(\w)");

        //var list = IconMap.Icons.Select(x => Regex.Match(x.Key, @"ic_fluent_(\w*)_(\d*\{2\}?)_regular"));

        var data = IconMap.Icons.Select(x =>
        {
            var matches = regex.Matches(x.Key);
            if (matches.Count > 0)
            {
                var model = new FontModel()
                    {
                        Name = matches[0].Groups[1].Value,
                        Size = int.Parse(matches[0].Groups[2].Value),
                        Filled = matches[0].Groups[3].Value == "filled" ? true : false
                    };
                return model;
            }
            else
                return new FontModel();
        }
        );

        regular = data.Where(t => t.Filled == false).OrderBy(t=>t.Name).ToList();
        return Task.CompletedTask;
    }
}