@page  "/focusTrapZonePage"

<h1>FocusTrapZonePage</h1>

<Checkbox @bind-Checked=@isFocusTrapped @bind-Checked:event="CheckedChanged" Label="Enable FocusTrapZone" />


<div style="padding: 50px; background-color:yellow;">
    <FocusTrapZone Disabled=@(!isFocusTrapped)>
        <DefaultButton Text="First Button" OnClick=@OnInnerClick/>
        <DefaultButton Text="Second Button" OnClick=@OnInnerClick/>
        <DefaultButton Text="Third Button" OnClick=@OnInnerClick/>
    </FocusTrapZone>
</div>

<DefaultButton Text="Outside Button" OnClick=@OnOuterClick/>

<em>@debugText</em>
@isFocusTrapped


@code {
    bool isFocusTrapped = false;
    string debugText = "";

    Task OnInnerClick(MouseEventArgs args)
    {
        debugText = "Inner button clicked";
        return Task.CompletedTask;
    }
    Task OnOuterClick(MouseEventArgs args)
    {
        debugText = "Outer button clicked";
        return Task.CompletedTask;
    }
}
