@page "/"


<h1>Icons</h1>
<BFUIcon IconName="Airplane" ClassName="iconExample" />
<BFUIcon IconName="Mail" ClassName="iconExample" />
<BFUIcon IconName="Video" ClassName="iconExample red" />


@code{
    bool isChecked = false;
}