@page "/linkPage"

<h1>Link</h1>

<div>
    <p>
        When a link has an href, <BFULink Href="http://dev.office.com/fabric/components/link">it renders as an anchor tag.</BFULink> Without an
        href, <BFULink>the link is rendered as a button</BFULink>. You can also use the disabled attribute to create a
        <BFULink Disabled=true Href="http://dev.office.com/fabric/components/link">
        disabled link.
        </BFULink>
    </p>
</div>

@code{
    
}

