@page "/listPage"
@using System.Linq 

    <BFUStack Style="height:100%;">
        <div style="height:20px;">
            @DebugText
        </div>

        <BFUDropdown ItemsSource=@selectionModeOptions
                  @bind-SelectedOption=selectedModeOption
                  
                  Style="max-width:300px;">
        </BFUDropdown>

        <BFUPrimaryButton Text="Add 10 items" OnClick="@ClickHandler" />
        <BFUPrimaryButton Text="Add 5000 items" OnClick="@ClickHandler2" />

        <BFULabel>Virtualized List with selection modes</BFULabel>
        
        
        <BFUSelectionZone SelectionMode=@((SelectionMode)Enum.Parse(typeof(SelectionMode), selectedModeOption.Key))
                       @bind-Selection="selection"
                       @ref="selectionZone">
            <BFUFocusZone Style="height:100%;overflow-y:hidden;">
                <BFUList ItemsSource=@data
                                   TItem="DataItem">
                    <ItemTemplate>

                        <div style="display:flex; flex-direction:row;" 
                             class=@($"ms-List-cell-default{(selection.SelectedItems.Contains(context)?" is-selected":"")}")
                             data-is-focusable="true"
                             @onclick=@(()=> {
                                            selectionZone.HandleClick(context);
                                            DebugText = context.Key + " clicked";
                                        })>
                            <img height="25" width="25" src=@context.ImgUrl />
                            <em>This is item #@context.Key.</em>
                            <span style="margin-left:10px;">@context.DisplayName</span>
                        </div>
                    </ItemTemplate>
                </BFUList>

            </BFUFocusZone>
        </BFUSelectionZone>
    </BFUStack> 

@code {
    int count = 0;
    System.Collections.ObjectModel.ObservableCollection<DataItem> data;
    string DebugText = "";
    IBFUDropdownOption selectedModeOption;
    List<IBFUDropdownOption> selectionModeOptions;

    Selection<DataItem> selection = new Selection<DataItem>();
    BFUSelectionZone<DataItem> selectionZone;

    protected override Task OnInitializedAsync()
    {
        data = new System.Collections.ObjectModel.ObservableCollection<DataItem>();

        selectionModeOptions = Enum.GetValues(typeof(SelectionMode)).Cast<SelectionMode>()
            .Select(x => new BFUDropdownOption { Key = x.ToString(), Text = x.ToString() })
            .Cast<IBFUDropdownOption>()
            .ToList();
        selectedModeOption = selectionModeOptions.FirstOrDefault(x => x.Key == "Single");

        return Task.CompletedTask;
    }


    Task ClickHandler(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        System.Diagnostics.Debug.WriteLine("Clicked!");
        for (var i = 0; i < 10; i++)
        {
            count++;
            data.Add(new DataItem(count));
        }
        System.Diagnostics.Debug.WriteLine($"List has {data.Count} items.");
        return Task.CompletedTask;
    }

    Task ClickHandler2(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        //var tempData = new System.Collections.Generic.List<DataItem>();
        System.Diagnostics.Debug.WriteLine("Clicked!");
        for (var i = 0; i < 5000; i++)
        {
            count++;

            data.Add(new DataItem(count));
        }
        //data = new System.Collections.ObjectModel.ObservableCollection<DataItem>(tempData);
        System.Diagnostics.Debug.WriteLine($"List has {data.Count} items.");
        return Task.CompletedTask;
    }

    Task ClickHandler3(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        System.Diagnostics.Debug.WriteLine("Clicked!");
        for (var i = 0; i < 2; i++)
        {
            count++;
            data.Add(new DataItem(count));
        }
        System.Diagnostics.Debug.WriteLine($"List has {data.Count} items.");
        return Task.CompletedTask;
    }



}
