@page "/personaPage"

<h1>Persona</h1>

<Persona Text="Random Person"
         SecondaryText="Got no job"
         TertiaryText="Found on the internet"
         OptionalText="Don't worry about this guy"
         ImageUrl="personFace.jpg"
         Presence=@PersonaPresenceStatus.Online
         Size=@PersonaSize.Size48
         ShowInitialsUntilImageLoads="true" />

<Persona Text="Someone Else"
         Presence=@PersonaPresenceStatus.Online
         Size=@PersonaSize.Size48
         ShowInitialsUntilImageLoads="true" />

<h3>Size8, no presence</h3>
<Persona Text="Annie Lindqvist"
         SecondaryText="Got no job"
         TertiaryText="Found on the internet"
         OptionalText="Don't worry about this guy"
         ImageUrl="personFace.jpg"
         Size=@PersonaSize.Size8
         ShowInitialsUntilImageLoads="true" />
<h3>Size8, with presence</h3>
<Persona Text="Annie Lindqvist"
         SecondaryText="Got no job"
         TertiaryText="Found on the internet"
         OptionalText="Don't worry about this guy"
         ImageUrl="personFace.jpg"
         Presence=@PersonaPresenceStatus.Offline
         Size=@PersonaSize.Size8
         ShowInitialsUntilImageLoads="true" />

<h3>Size24</h3>
<Persona Text="Annie Lindqvist"
         SecondaryText="Got no job"
         TertiaryText="Found on the internet"
         OptionalText="Don't worry about this guy"
         ImageUrl="personFace.jpg"
         Presence=@PersonaPresenceStatus.Online
         Size=@PersonaSize.Size24
         ShowInitialsUntilImageLoads="true" />

<h3>Size32</h3>
<Persona Text="Annie Lindqvist"
         SecondaryText="Got no job"
         TertiaryText="Found on the internet"
         OptionalText="Don't worry about this guy"
         ImageUrl="personFace.jpg"
         Presence=@PersonaPresenceStatus.Online
         Size=@PersonaSize.Size32
         ShowInitialsUntilImageLoads="true" />

<h3>Size40</h3>
<Persona Text="Annie Lindqvist"
         SecondaryText="Got no job"
         TertiaryText="Found on the internet"
         OptionalText="Don't worry about this guy"
         ImageUrl="personFace.jpg"
         Presence=@PersonaPresenceStatus.Away
         Size=@PersonaSize.Size40
         ShowInitialsUntilImageLoads="true" />

<h3>Size48</h3>
<Persona Text="Annie Lindqvist"
         SecondaryText="Got no job"
         TertiaryText="Found on the internet"
         OptionalText="Don't worry about this guy"
         ImageUrl="personFace.jpg"
         Presence=@PersonaPresenceStatus.Busy
         Size=@PersonaSize.Size48
         ShowInitialsUntilImageLoads="true" />

<h3>Size56</h3>
<Persona Text="Annie Lindqvist"
         SecondaryText="Got no job"
         TertiaryText="Found on the internet"
         OptionalText="Don't worry about this guy"
         ImageUrl="personFace.jpg"
         Presence=@PersonaPresenceStatus.Online
         Size=@PersonaSize.Size56
         ShowInitialsUntilImageLoads="true" />

<h3>Size72</h3>
<Persona Text="Annie Lindqvist"
         SecondaryText="Got no job"
         TertiaryText="Found on the internet"
         OptionalText="Don't worry about this guy"
         ImageUrl="personFace.jpg"
         Presence=@PersonaPresenceStatus.DND
         Size=@PersonaSize.Size72
         ShowInitialsUntilImageLoads="true" />

<h3>Size100</h3>
<Persona Text="Annie Lindqvist"
         SecondaryText="Got no job"
         TertiaryText="Found on the internet"
         OptionalText="Don't worry about this guy"
         ImageUrl="personFace.jpg"
         Presence=@PersonaPresenceStatus.Blocked
         Size=@PersonaSize.Size100
         ShowInitialsUntilImageLoads="true" />

<h3>Size120</h3>
<Persona Text="Annie Lindqvist"
         SecondaryText="Got no job"
         TertiaryText="Found on the internet"
         OptionalText="Don't worry about this guy"
         ImageUrl="personFace.jpg"
         Presence=@PersonaPresenceStatus.Away
         Size=@PersonaSize.Size120
         ShowInitialsUntilImageLoads="true" />

@code {

}
