@page "/richTextEditorPage";

<h1>RichTextEditor</h1>

<Toggle Label="Readonly" @bind-Checked=@isReadonly />
<RichTextEditor @bind-RichText=@htmlContents
                ReadOnly=@isReadonly.GetValueOrDefault() />

@htmlContents

@code {
    bool? isReadonly = false;
    string htmlContents = "";
}
