@page "/spinnerPage"

<h1>Spinner</h1>

<h4>Normal</h4>
<Spinner Size=@SpinnerSize.Large></Spinner>
<Spinner Size=@SpinnerSize.Medium></Spinner>
<Spinner Size=@SpinnerSize.Small></Spinner>
<Spinner Size=@SpinnerSize.XSmall></Spinner>

<h4>With Label</h4>
<Spinner Size=@SpinnerSize.Medium Label="SpinnerLabel" LabelPosition=@SpinnerLabelPosition.Top></Spinner>
<Spinner Size=@SpinnerSize.Medium Label="SpinnerLabel" LabelPosition=@SpinnerLabelPosition.Left></Spinner>
<Spinner Size=@SpinnerSize.Medium Label="SpinnerLabel" LabelPosition=@SpinnerLabelPosition.Bottom></Spinner>
<Spinner Size=@SpinnerSize.Medium Label="SpinnerLabel" LabelPosition=@SpinnerLabelPosition.Right></Spinner>


@code {

}
