@page "/spinnerPage"

<h1>Spinner</h1>

<h4>Normal</h4>
<BFUSpinner Size=@SpinnerSize.Large></BFUSpinner>
<BFUSpinner Size=@SpinnerSize.Medium></BFUSpinner>
<BFUSpinner Size=@SpinnerSize.Small></BFUSpinner>
<BFUSpinner Size=@SpinnerSize.XSmall></BFUSpinner>

<h4>With Label</h4>
<BFUSpinner Size=@SpinnerSize.Medium Label="SpinnerLabel" LabelPosition=@SpinnerLabelPosition.Top></BFUSpinner>
<BFUSpinner Size=@SpinnerSize.Medium Label="SpinnerLabel" LabelPosition=@SpinnerLabelPosition.Left></BFUSpinner>
<BFUSpinner Size=@SpinnerSize.Medium Label="SpinnerLabel" LabelPosition=@SpinnerLabelPosition.Bottom></BFUSpinner>
<BFUSpinner Size=@SpinnerSize.Medium Label="SpinnerLabel" LabelPosition=@SpinnerLabelPosition.Right></BFUSpinner>


@code {

}
