@page "/togglePage"


    <Stack Tokens=@(new StackTokens { ChildrenGap = new double[] { 10 } })>
        <h1>Toggle</h1>

        <Toggle DefaultChecked="false" OnText="On!" OffText="Off!" Label="This is an uncontrolled toggle." />

        <Toggle DefaultChecked="false" Disabled="true" OnText="On!" OffText="Off!" Label="This is a disabled off toggle." />

        <Toggle DefaultChecked="true" Disabled="true" OnText="On!" OffText="Off!" Label="This is a disabled on toggle." />

        <Toggle Checked=@IsChecked CheckedChanged=@OnChecked OnText="On!" OffText="Off!" Label="This is a controlled toggle." />

        <Toggle DefaultChecked="false" OnText="On!" OffText="Off!" InlineLabel="true" Label="This is an inline toggle." />

        <Toggle @bind-Checked=@BoundChecked OnText="On!" OffText="Off!" Label="This is a toggle using binding." />

    </Stack>

@code {

    private bool? IsChecked=false;

    private bool? BoundChecked=false;

    Task OnChecked(bool? isChecked)
    {
        IsChecked = isChecked;
        return Task.CompletedTask;
    }

}
