@page "/tooltipPage"

<h1>TooltipPage</h1>

<BFUTooltipHost>
    <TooltipContent>
        Hey, look here!
    </TooltipContent>
    <ChildContent>
        <BFUDefaultButton>Hover to see a tooltip</BFUDefaultButton>
    </ChildContent>
</BFUTooltipHost>


@code {

}
