/* LABEL STYLES */
/*.ms-TextField.ms-TextField--underlined.is-disabled .ms-Label {
    color: var(--palette-NeutralTertiary);
}

.ms-TextField.ms-TextField--underlined .ms-Label {
    font-size: var(--fontSize-Medium);
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 0px;
    line-height: 22px;
    height: 32px;
}

@media screen and (-ms-high-contrast: active) {
    .ms-TextField.is-active .ms-Label {
        height: 31px;
    }
}*/


/* TEXTFIELD STYLES  


.ms-TextField {
    position: relative;
}

.ms-TextField--underlined .ms-TextField-wrapper {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--semanticColors-InputBorder);
    width: 100%;
}

.ms-TextField--underlined.has-error:not(.is-disabled) .ms-TextField-wrapper {
    border-bottom-color: var(--semanticColors-ErrorText);
}

    .ms-TextField--underlined.has-error:not(.is-disabled) .ms-TextField-wrapper:hover {
        border-bottom-color: var(--semanticColors-ErrorText);
    }

@media screen and (-ms-high-contrast: active) {
    .ms-TextField--underlined.ms-TextField--errorMessage:not(.is-disabled) .ms-TextField-wrapper:hover {
        border-bottom-color: Highlight;
    }
}

.ms-TextField--underlined.is-disabled .ms-TextField-wrapper {
    /*border-bottom-color: var(--semanticColors-DisabledBackground);
}

.ms-TextField--underlined:not(.is-disabled):not(.is-focused):not(.has-error) .ms-TextField-wrapper:hover {
    border-bottom-color: var(--semanticColors-InputBorderHovered);
}

@media screen and (-ms-high-contrast: active) {
    .ms-TextField--underlined:not(.is-disabled):not(.is-focused):not(.has-error) .ms-TextField-wrapper:hover {
        border-bottom-color: Highlight;
    }
}

.ms-TextField--underlined.is-focused.has-error .ms-TextField-wrapper {
    border-bottom-color: var(--semanticColors-ErrorText);
}

.ms-TextField--underlined.is-focused:not(.has-error) .ms-TextField-wrapper {
    /*border-bottom-color: var(--semanticColors-InputFocusBorderAlt);
}

@media screen and (-ms-high-contrast: active) {
    .ms-TextField--underlined.is-focused .ms-TextField-wrapper {
        border-bottom-color: Highlight;
        border-bottom-width: 2px;
    }
}
/*fluent addition
.ms-TextField-wrapper {
    border-color: var(--palette-NeutralSecondaryAlt);
}


/* FIELDGROUP */

/*.ms-TextField-fieldGroup {
    border: 1px solid var(--semanticColors-InputBorder);
    background: var(--semanticColors-InputBackground);
    cursor: text;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
}

@media screen and (-ms-high-contrast: active) {
    .ms-TextField-fieldGroup:hover {
        border-color: Highlight;
    }
}

/*.ms-TextField--multiline .ms-TextField-fieldGroup {
    min-height: 60px;
    height: auto;
    display: flex;
}

.ms-TextField--borderless .ms-TextField-fieldGroup {
    border: none;
}

.ms-TextField:not(.is-focused):not(.is-disabled):not(.has-error) .ms-TextField-fieldGroup:hover {
    border-color: var(--semanticColors-InputBorderHovered);
}
/*.ms-TextField.is-focused .ms-TextField-fieldGroup{
    border-color: var(--semanticColors-InputFocusBorderAlt);
}
@media screen and (-ms-high-contrast: active) {
    .ms-TextField.is-focused .ms-TextField-fieldGroup {
        border-color: Highlight;
        border-width: 2px;
    }
}

.ms-TextField.is-disabled .ms-TextField-fieldGroup {
    background-color: var(--semanticColors-DisabledBackground);
    /*border-color: var(--semanticColors-DisabledBackground);
    cursor: default;
}



@media screen and (-ms-high-contrast: active) {
    .ms-TextField--underlined.is-focused .ms-TextField-fieldGroup {
        height: 31px;
    }
}

.ms-TextField--underlined.is-disabled .ms-TextField-fieldGroup {
    background-color: transparent;
}

.ms-TextField.has-error .ms-TextField-fieldGroup {
    border-color: var(--palette-Red);
}

    .ms-TextField.has-error .ms-TextField-fieldGroup:hover {
        border-color: var(--palette-RedDark);
    }

    .ms-TextField.has-error .ms-TextField-fieldGroup:focus {
        border-color: var(--palette-RedDark);
    }

.ms-TextField.has-error.is-focused .ms-TextField-fieldGroup {
    border-color: var(--palette-RedDark);
}

.ms-TextField.no-label.is-required:after {
    content: '*';
    color: var(--semanticColors-ErrorText);
    position: absolute;
    top: -5px;
    right: -10px;
}

@media screen and (-ms-high-contrast: active) {
    .ms-TextField.no-label.is-required:after {
        right: -14px;
    }
}
/* fluent addon 
.ms-TextField-fieldGroup {
    border-radius: var(--effects-RoundedCorner2);
    border-color: var(--palette-NeutralSecondaryAlt);
}
/*.ms-TextField.is-disabled .ms-TextField-fieldGroup {
    border-color: var(--palette-NeutralSecondaryAlt);
}*/

/* FIELD (the input)
.ms-TextField-field {
    border-radius: 0px;
    border: none;
    background: none;
    background-color: transparent;
    color: var(--semanticColors-InputText);
    padding: 0px 8px;
    width: 100%;
    min-width: 0px;
    text-overflow: ellipsis;
    outline: 0px;
}

    .ms-TextField-field:active {
        outline: 0px;
    }

    .ms-TextField-field:focus {
        outline: 0px;
    }

    .ms-TextField-field:hover {
        outline: 0px;
    }

    .ms-TextField-field::-ms-clear {
        display: none;
    }

    .ms-TextField-field::placeholder {
        color: var(--semanticColors-InputPlaceholderText);
        opacity: 1;
    }

    .ms-TextField-field:-ms-input-placeholder {
        color: var(--semanticColors-InputPlaceholderText);
        opacity: 1;
    }

/*.ms-TextField--multiline.ms-TextField--unresizable .ms-TextField-field {
    resize: none;
}

.ms-TextField--multiline .ms-TextField-field {
    min-height: inherit;
    line-height: 17px;
    flex-grow: 1;
    padding: 6px 8px;
    overflow: auto;
    width: 100%;
}

.ms-TextField--multiline.auto-adjust-height .ms-TextField-field {
    overflow: hidden;
}*/

/*has-icon
.ms-TextField:not(.is-disabled) .ms-TextField-field {
    color: var(--palette-NeutralDark);
}

/*.ms-TextField.is-disabled .ms-TextField-field {
    background-color: transparent;
    color: var(--semanticColors-DisabledText);
}

    .ms-TextField.is-disabled .ms-TextField-field::placeholder {
        color: var(--palette-NeutralTertiary);
    }

    .ms-TextField.is-disabled .ms-TextField-field:-ms-input-placeholder {
        color: var(--palette-NeutralTertiary);
    }

/*.ms-TextField--underlined .ms-TextField-field {
    text-align: left;
}*/

/*@media screen and (-ms-high-contrast: active) {
    .ms-TextField.is-focused:not(.ms-TextField--borderless) .ms-TextField-field {
        padding-left: 11px;
        padding-right: 11px;
    }

    .ms-TextField.is-focused.ms-TextField--multiline:not(.ms-TextField--borderless) .ms-TextField-field {
        padding-top: 4px;
    }
}*/


/* ICON */
/*.ms-TextField--multiline .ms-TextField-icon {
    padding-right:24px;
    padding-bottom:8px;
    align-items:flex-end;
}
.ms-TextField-icon {
    pointer-events:none;
    position:absolute;
    bottom:5px;
    right:8px;
    top:auto;
    font-size:var(--fontSize-Medium);
    line-height:18px;
}*/

/* DESCRIPTION */
/*.ms-TextField-description{
    color: var(--semanticColors-BodySubtext);
    font-size: var(--fontSize-XSmall);
}*/

/* ERROR MESSAGE */
/*.ms-TextField--errorMessage {
    color: var(--palette-RedDark);
    margin: 0;
    padding-top: 5px;
    display: flex;
    align-items: center;
}*/

/* PREFIX */
/*.ms-TextField-prefix {
    background: var(--semanticColors-DisabledBackground);
    color: var(--semanticColors-InputPlaceholderText);
    display: flex;
    align-items: center;
    padding: 0px 10px;
    line-height: 1px;
    white-space: nowrap;
    flex-shrink: 0;
}

.ms-TextField.is-disabled .ms-TextField-prefix {
    color: var(--semanticColors-DisabledText);
}*/

/* SUFFIX */
/*.ms-TextField-suffix {
    background: var(--semanticColors-DisabledBackground);
    color: var(--semanticColors-InputPlaceholderText);
    display: flex;
    align-items: center;
    padding: 0px 10px;
    line-height: 1px;
    white-space: nowrap;
    flex-shrink: 0;
}

.ms-TextField.is-disabled .ms-TextField-suffix {
    color: var(--semanticColors-DisabledText);
}*/

/* DESCRIPTION */
/*.ms-TextField-description {
    color: var(--neutralColors-Gray130);
    font-size: var(--fontSize-Mini);
    margin: 0;
    padding-top: 5px;
    display: flex;
    align-items: center;
}*/
