

<LayerHost Style="display:flex; flex-direction: row;width:100vw">
    <Router AppAssembly="typeof(Program).Assembly" >
        <Found Context="routeData">
            <RouteView RouteData="routeData" />
        </Found>
        <NotFound>
            <p>Page not found.</p>
        </NotFound>
    </Router>
</LayerHost>

@code{


    System.Collections.Generic.List<System.Reflection.Assembly> AssemblyList = new System.Collections.Generic.List<System.Reflection.Assembly>()
    {
        typeof(BlazorFabric.CommonStyles).Assembly,
        typeof(BlazorFabric.PrimaryButton).Assembly,
        typeof(BlazorFabric.Callout).Assembly,
        typeof(BlazorFabric.Checkbox).Assembly,
        typeof(BlazorFabric.ContextualMenu).Assembly,
        typeof(BlazorFabric.Dropdown<>).Assembly,
        typeof(BlazorFabric.Icon).Assembly,
        typeof(BlazorFabric.Label).Assembly,
        typeof(BlazorFabric.Layer).Assembly,
        typeof(BlazorFabric.List<>).Assembly,
        typeof(BlazorFabric.Nav).Assembly,
        typeof(BlazorFabric.TextField).Assembly,
    };

    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }
}