.ms-Image {
    overflow: hidden;
}

.ms-Image--maximizeFrame {
    height: 100%;
    width: 100%;
}

.ms-Image--relative {
    position: relative;
}

.ms-Image-image {
    display: block;
}

.ms-Image-image--fitStyles {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.ms-Image-image--contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ms-Image-image--cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ms-Image-image--none {
    width: auto;
    height: auto;
}
