@namespace FluentUI
@inherits FluentUIComponentBase

<div class="ms-Nav-root">
    <FocusZone Direction="FocusZoneDirection.Vertical">
        <nav role="navigation"
             @ref="RootElementReference"
             class=@($"mediumFont ms-Nav {(IsOnTop?"is-on-top":"")} {(IsOnTop?"slideRightIn40":"")} {ClassName}")
             style=@Style
             aria-label=@AriaLabel>
            <CascadingValue Value=@this.ExpandButtonAriaLabel>
                @ChildContent
            </CascadingValue>
        </nav>
    </FocusZone>
</div>