/*.ms-CommandBar{
    display:flex;
    background-color: var(--palette-White);
    padding: 0 14px 0 24px;
    height: 44px;
}

.ms-CommandBar-primarySet{
    flex-grow:1;
    display:flex;
    align-items:stretch;
}

.ms-CommandBar-secondarySet {
    flex-shrink: 0;
    display: flex;
    align-items: stretch;
}*/