@inherits ListBase<TItem>

@typeparam TItem

<div @onscroll=@OnScroll class=@($"fabricList ms-List mediumFont") role="presentation" @ref="RootElementRef">
    <div @ref="rootDiv" class="ms-List" role="list">
        <div ref="surfaceDiv" class="ms-List-surface" role="presentation">
            @ItemPagesRender
        </div>
    </div>
</div>
