@namespace BlazorFabric
@using Microsoft.AspNetCore.Components.Web
@inherits FabricComponentBase

<div @ref="RootElementReference"
     role="listitem"
     style=@GetListItemStyle()
     data-is-focusable=@(ItemFocusable ? "true" : "false")
     class=@($"ms-List-cell {(IsActive ? "is-active" : "")}")
     @onclick="@(e=>OnItemClick(e))">
    @ChildContent
</div>

@code {
    public double Width { get; set; }
    public double Height { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public int IndexPosition { get; set; }
    [Parameter] public bool IsActive { get; set; }
    [Parameter] public object Item { get; set; }
    [Parameter] public bool ItemFocusable { get; set; }


    [Parameter]
    public Func<object, MouseEventArgs, Task> ItemClicked { get; set; }

    private Task OnItemClick(MouseEventArgs e)
    {
        return ItemClicked.Invoke(this.Item, e);
    }

    protected string GetListItemStyle()
    {
        string style = "";
        
        return style;
    }
}