@namespace BlazorFabric
@inherits FabricComponentBase
@using Microsoft.AspNetCore.Components.Web

@typeparam TItem

<div class=@($"ms-List-root mediumFont {ClassName}") role="presentation" @ref="RootElementReference"
     style=@Style >
    <div @ref="rootDiv"  class="ms-List" role="list">
        <div @ref="surfaceDiv" @onscroll=@OnScroll class="ms-List-surface" role="presentation" style="overflow-y:auto;">
            @ItemPagesRender
        </div>
    </div>
</div>
