@namespace BlazorFabric
@inherits FabricComponentBase
@using Microsoft.AspNetCore.Components.Web

@typeparam TItem

<div class=@($"ms-List mediumFont {ClassName}") role="list" @ref="RootElementReference"
        style=@($"{Style}overflow-y:hidden;height:100%;")> @*{(UseInternalScrolling ? "overflow-y:hidden;height:100%;" : "")}*@
    @*@if (UseInternalScrolling)*@
    @*{*@
        <div @ref="surfaceDiv" @onscroll=@OnScroll class="ms-List-surface" role="presentation" style="overflow-y:auto;height:100%;">
            @ItemPagesRender
        </div>
    @*}*@
    @*else
    {
        <div @ref="surfaceDiv" class="ms-List-surface" role="presentation" style="overflow-y:auto;height:100%;">
            @ItemPagesRender
        </div>
    }*@
</div>