@inherits  LayerHostBase

    <CascadingValue Value=@this Name="HostedContent" >
        <div style=@Style>
            @ChildContent


            <div class="ms-LayerHost" ref="RootElementRef">
                <LayerPortal @ref=@layerPortal/>
            </div>
        </div>
    </CascadingValue>

