@namespace BlazorFabric
@inherits FabricComponentBase

<GlobalCS Component="this" CreateGlobalCss=@CreateGlobalCss />
<CascadingValue Value=@this Name="HostedContent">
    <div style=@Style>
        @ChildContent

        <div class="ms-LayerHost" @ref="RootElementReference">
            <LayerPortalGenerator @ref="portalGeneratorReference" />

        </div>
    </div>
</CascadingValue>

