@inherits  LayerPortalBase
    
@foreach (var pair in fragments)
{
    <span @key=pair.Key
          class=@($"ms-Layer mediumFont {(pair.Value.isFixed ? "ms-Layer--fixed" : "")}") 
          >
        <div class="ms-Layer-content" ref="RootElementRef">
            @pair.Value.fragment
        </div>
    </span>
}