@inherits  LayerHostBase

    <CascadingValue Value=@this Name="HostedContent">
        @ChildContent


        <div class="ms-LayerHost">
            @if(IsSet){
            <span class=@($"ms-Layer mediumFont {(this.IsFixed ? "ms-Layer--fixed" : "")}")>
                <div class="ms-Layer-content">
                    @HostedContent
                </div>
            </span>
            }
        </div>

    </CascadingValue>

