@inherits  LayerHostBase

    <CascadingValue Value=@this Name="HostedContent" >
        <div onscroll=@OnScroll onresize="" onfocusin=@OnFocusIn onclick=@OnClick style=@Style>
            @ChildContent


            <div class="ms-LayerHost" ref="RootElementRef">
                <LayerPortal ref="layerPortal" />
            </div>
        </div>
    </CascadingValue>

