@inherits  LayerHostBase

    <CascadingValue Value=@this Name="HostedContent" >
        <div style=@Style>
            @ChildContent


            <div class="ms-LayerHost" @ref="RootElementReference" @ref:suppressField>
                <LayerPortalGenerator @ref="portalGeneratorReference" @ref:suppressField/>
               
                @*<LayerPortal @ref=@layerPortal0 />
                <LayerPortal @ref=@layerPortal1 />
                <LayerPortal @ref=@layerPortal2 />
                <LayerPortal @ref=@layerPortal3 />
                <LayerPortal @ref=@layerPortal4 />
                <LayerPortal @ref=@layerPortal5 />
                <LayerPortal @ref=@layerPortal6 />
                <LayerPortal @ref=@layerPortal7 />
                <LayerPortal @ref=@layerPortal8 />
                <LayerPortal @ref=@layerPortal9 />
                <LayerPortal @ref=@layerPortal10 />
                <LayerPortal @ref=@layerPortal11 />
                <LayerPortal @ref=@layerPortal12 />
                <LayerPortal @ref=@layerPortal13 />
                <LayerPortal @ref=@layerPortal14 />
                <LayerPortal @ref=@layerPortal15 />
                <LayerPortal @ref=@layerPortal16 />
                <LayerPortal @ref=@layerPortal17 />
                <LayerPortal @ref=@layerPortal18 />
                <LayerPortal @ref=@layerPortal19 />*@
            </div>
        </div>
    </CascadingValue>

