.ms-ContextualMenu {
    background-color: var(--semanticColors-BodyBackground);
    min-width: 180px;
}

.ms-ContextualMenu-container:focus{
    outline:0;
}

.ms-ContextualMenu-list{
    list-style-type: none;
    margin: 0;
    padding:0;
}

.ms-ContextualMenu-header {
    font-size: var(--fontSize-Small);
    font-weight: var(--fontWeight-SemiBold);
    color: var(--semanticColors-MenuHeader);
    background: none;
    background-color: transparent;
    border: none;
    height: 36px;
    line-height: 36px;
    cursor: default;
    padding: 0px 6px;
    user-select: none;
    text-align: left;
}

.ms-ContextualMenu-title{
    font-size:16px;
    padding-right:14px;
    padding-left:14px;
    padding-bottom:5px;
    padding-top:5px;
    background-color:var(--palette-NeutralLight);
}

.ms-ContextualMenu .ms-Callout{
    box-shadow: var(--effects-Elevation8);
}


.ms-ContextualMenu-item {
    /* focusStyles */
    outline: transparent;
    /* end */
    color: var(--semanticColors-BodyText);
    position: relative;
    box-sizing: border-box;
}
    .ms-ContextualMenu-item::-moz-focus-inner {
        border: 0;
    }

.ms-Fabric--isFocusVisible .ms-ContextualMenu-link:focus:after {
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid transparent;
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zindex-FocusStyle);
}

@media screen and (-ms-high-contrast: active) {
    .ms-Fabric--isFocusVisible .ms-ContextualMenu-link:focus:after {
        left: -2px;
        top: -2px;
        bottom: -2px;
        right: -2px;
        border: none;
        outline-color: ButtonText;
    }
}

.ms-ContextualMenu-divider{
    display:block;
    height:1px;
    background-color:var(--semanticColors-BodyDivider);
    position:relative;
}

.ms-ContextualMenu-link{
    color: var(--semanticColors-BodyText);
    background-color:transparent;
    border: none;
    width:100%;
    height:36px;
    line-height:36px;
    display:block;
    cursor:pointer;
    padding:0px 8px 0px 4px;
    text-align:left;
}

.ms-ContextualMenu-item.is-disabled .ms-ContextualMenu-link{
    color: var(--semanticColors-DisabledBodyText);
    cursor:default;
    pointer-events:none;

}
.ms-ContextualMenu-link:focus {
    outline: 0;
    background-color: var(--palette-White);
}

.ms-ContextualMenu-link:hover{
    background-color: var(--semanticColors-MenuItemBackgroundHovered);
    color: var(--semanticColors-MenuItemTextHovered);
}
    .ms-ContextualMenu-link:hover .ms-ContextualMenu-icon{
        color: var(--palette-ThemeDarkAlt);
    }
    .ms-ContextualMenu-link:hover .ms-ContextualMenu-submenuIcon {
        color: var(--palette-NeutralPrimary);
    }

.ms-ContextualMenu-item.is-checked .ms-ContextualMenu-checkmarkIcon {
    color: var(--palette-NeutralPrimary);
}
.ms-ContextualMenu-link:active {
    background-color: var(--semanticColors-MenuItemBackgroundPressed);
}
.ms-ContextualMenu-link:active .ms-ContextualMenu-icon {
    color: var(--palette-ThemeDark);
}
.ms-ContextualMenu-link:active .ms-ContextualMenu-submenuIcon {
    color: var(--palette-NeutralPrimary);
}
.ms-ContextualMenu-item.is-expanded .ms-ContextualMenu-link{
    background-color: var(--semanticColors-MenuItemBackgroundPressed);
    color:var(--semanticColors-BodyTextChecked);
}

.ms-ContextualMenu-linkContent{
    white-space:nowrap;
    height:inherit;
    display:flex;
    align-items:center;
    max-width:100%;
}
.ms-ContextualMenu-anchorLink{
    padding: 0px 8px 0px 4px;
    text-rendering:auto;
    color:inherit;
    letter-spacing:normal;
    word-spacing:normal;
    text-transform:none;
    text-indent:0px;
    text-shadow: none;
    text-decoration: none;
    box-sizing:border-box;
}
.ms-ContextualMenu-itemText{
    margin:0 4px;
    vertical-align:middle;
    display:inline-block;
    flex-grow:1;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.ms-ContextualMenu-secondaryText{
    color:var(--palette-NeutralSecondary);
    padding-left:20px;
    text-align:right;
}
.ms-ContextualMenu-icon{
    display:inline-block;
    min-height:1px;
    max-height:36px;
    font-size:var(--fontSize-Medium);
    width:var(--fontSize-Medium);
    margin:0px 4px;
    vertical-align:middle;
    flex-shrink:0;
    /* Screen size selector skipped - makes bigger font*/
}
.ms-ContextualMenu-iconColor{
    color:var(--semanticColors-MenuIcon);
}
.ms-ContextualMenu-item.is-disabled .ms-ContextualMenu-iconColor{
    color: var(--semanticColors-DisabledBodyText);
}
.ms-ContextualMenu-checkmarkIcon {
    color: var(--semanticColors-BodySubtext);
    margin: 0px 4px; /* Added in even though it doesn't seem to appear in code.  Shows up in main demo site*/
}
.ms-ContextualMenu-submenuIcon {
    height:36px;
    line-height:36px;
    color: var(--palette-NeutraSecondary);
    text-align:center;
    display:inline-block;
    vertical-align:middle;
    flex-shrink:0;
    font-size: var(--fontSize-Small);
}
    .ms-ContextualMenu-submenuIcon:hover{
        color: var(--palette-NeutralPrimary);
    }
    .ms-ContextualMenu-submenuIcon:active{
        color: var(--palette-NeutralPrimary);
    }
.ms-ContextualMenu-splitButtonFlexContainer{
    display:flex;
    height:36px;
    flex-wrap:nowrap;
    justify-content:center;
    align-items: flex-start;
}