@inherits ButtonBase

<button class=@($"ms-Button ms-Button--action ms-Button--command fabricButton mediumFont default {(Disabled ? "is-disabled" : "")} {(isChecked ? "is-checked" : "")}")
        onclick=@ClickHandler
        disabled=@(Disabled && !AllowDisabledFocus)>
    <div style="display: inline-block">

        <div class="fabricButton-flexContainer ms-Button-flexContainer">
            @if (Text != null)
            {
                <div class="fabricButton-textContainer ms-Button-textContainer">
                    @if (Text != null)
                    {
                        <div class="fabricButton-label ms-Button-label">
                            @Text
                        </div>
                    }
                    @*@if (SecondaryText != null)
                    {
                        <div class="Description ms-Button-description">
                            @SecondaryText
                        </div>
                    }*@
                </div>

            }
            else
            {
                @ChildContent
            }
        </div>

    </div>
</button>
