@inherits ButtonBase

<button class=@($"ms-Button ms-Button--primary mediumFont {(Disabled ? "is-disabled" : "")} {(isChecked ? "is-checked" : "")}") 
        onclick=@ClickHandler
        disabled=@(Disabled && !AllowDisabledFocus)>
    <div style="display: inline-block">

        <div class="ms-Button-flexContainer">
            @if (IconName != null)
            {
                <BlazorFabric.Icon.Icon IconName=@IconName />
            }
            @if (Text != null)
            {
                <div class="ms-Button-textContainer">
                    @if (Text != null)
                    {
                        <div class="ms-Button-label">
                            @Text
                        </div>
                    }
                    @if (SecondaryText != null)
                    {
                        <div class="Description ms-Button-description">
                            @SecondaryText
                        </div>
                    }
                </div>
            }
            else
            {
                @ChildContent
            }
        </div>
    </div>
</button>
