/* 
count: 'ms-Pivot-count',
icon: 'ms-Pivot-icon',
linkIsSelected: 'is-selected',
link: 'ms-Pivot-link',
linkContent: 'ms-Pivot-linkContent',
root: 'ms-Pivot',
rootIsLarge: 'ms-Pivot--large',
rootIsTabs: 'ms-Pivot--tabs',
text: 'ms-Pivot-text' 
*/

.ms-Pivot {
    position: relative;
    color: var(--semanticColors-Link);
    white-space: nowrap;
}

    .ms-Pivot.ms-Pivot--large .ms-Pivot-link {
        font-size: var(--fontSize-Large);
    }

    .ms-Pivot.ms-Pivot--tabs .ms-Pivot-link {
        margin-right: 0;
        height: 44px;
        line-height: 44px;
        background-color: var(--semanticColors-ButtonBackground);
        padding: 0 10px;
        vertical-align: top;
    }

        .ms-Pivot.ms-Pivot--tabs .ms-Pivot-link:focus {
            outline-offset: -1px;
        }

        .ms-Pivot.ms-Pivot--tabs .ms-Pivot-link:hover {
            color: var(--semanticColors-PrimaryButtonText);
            background-color: var(--semanticColors-PrimaryButtonBackground);
        }

        .ms-Pivot.ms-Pivot--tabs .ms-Pivot-link:not(.is-selected):hover.ms-Pivot-link:not(.is-selected):focus {
            color: var(--semanticColors-ButtonTextCheckedHovered);
        }

        .ms-Pivot.ms-Pivot--tabs .ms-Pivot-link:not(.is-selected):active.ms-Pivot-link:not(.is-selected):hover {
            color: var(--semanticColors-PrimaryButtonText);
            background-color: var(--semanticColors-PrimaryButtonBackground);
        }

    .ms-Pivot.ms-Pivot--tabs .is-selected {
        color: var(--semanticColors-PrimaryButtonText);
        background-color: var(--semanticColors-PrimaryButtonBackground);
        font-weight: var(--fontWeight-Regular);
    }

        .ms-Pivot.ms-Pivot--tabs .is-selected::before {
            background-color: transparent;
            transition: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            height: auto;
        }

        .ms-Pivot.ms-Pivot--tabs .is-selected:hover {
            color: var(--semanticColors-PrimaryButtonText);
            background-color: var(--semanticColors-PrimaryButtonBackgroundHovered);
        }

        .ms-Pivot.ms-Pivot--tabs .is-selected:active {
            color: var(--semanticColors-PrimaryButtonText);
            background-color: var(--semanticColors-PrimaryButtonBackgroundPressed);
        }

.ms-Fabric--isFocusVisible .ms-Pivot-link:focus {
    outline: 1px solid var(--semanticColors-FocusBorder);
}

    .ms-Fabric--isFocusVisible .ms-Pivot-link:focus::after {
        content: attr(data-content);
        position: relative;
        border: 0;
    }

.ms-Fabric--isFocusVisible.ms-Pivot--tabs .ms-Pivot-link:focus::before {
    height: auto;
    background: transparent;
    transition: none;
}

.ms-Pivot-link {
    color: var(--semanticColors-ActionLink);
    display: inline-block;
    line-height: 44px;
    height: 44px;
    margin-right: 8px;
    padding: 0 8px;
    text-align: center;
    position: relative;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

    .ms-Pivot-link::before {
        background-color: transparent;
        bottom: 0;
        content: "";
        height: 2px;
        left: 8px;
        position: absolute;
        right: 8px;
        transition: left var(--animation-DURATION_2) var(--animation-EASING_FUNCTION_2), right var(--animation-DURATION_2) var(--animation-EASING_FUNCTION_2);
    }

    .ms-Pivot-link::after {
        color: transparent;
        content: attr(data-content);
        display: block;
        font-weight: var(--fontWeight-Bold);
        height: 1px;
        overflow: hidden;
        visibility: hidden;
    }

    .ms-Pivot-link:hover {
        background-color: var(--semanticColors-ButtonBackgroundHovered);
        color: var(--semanticColors-ButtonTextHovered);
        cursor: pointer;
    }

    .ms-Pivot-link:active {
        background-color: var(--semanticColors-ButtonBackgroundPressed);
        color: var(--semanticColors-ButtonTextHovered);
    }

    .ms-Pivot-link:focus {
        outline: none;
    }

.is-selected {
    font-weight: var(--fontWeight-SemiBold);
}

    .is-selected::before {
        background-color: var(--semanticColors-InputBackgroundChecked);
    }

    .is-selected:hover::before {
        left: 0;
        right: 0;
    }

@media screen and (-ms-high-contrast: active) {
    .is-selected::before {
        background-color: Highlight;
    }

    .is-selected {
        color: Highlight;
    }

    .ms-Pivot.ms-Pivot--tabs .is-selected {
        font-weight: var(--fontWeight-SemiBold);
        color: HighlightText;
        background: Highlight;
        msHighContrastAdjust: none;
    }
}

.ms-Pivot-linkContent {
    flex: 0 1 100%;
}

    .ms-Pivot-linkContent > * {
        margin-left: 4px;
    }

        .ms-Pivot-linkContent > *:first-child {
            margin-left: 0;
        }

.ms-Pivot-text {
    display: inline-block;
    vertical-align: top;
}

.ms-Pivot-count {
    display: inline-block;
    vertical-align: top;
}
