<style>
    @GenerateCSSMediaQuery()
    @*@("#" + _id) {
        display:none;
    }
    @@media ( @GenerateMediaQuery()) {
        @("#" + _id) {
            display:block;
        }
    }*@
</style>
<div id=@_id>
    @ChildContent
</div>