@inherits ContextualMenuBase<TItem>

@typeparam TItem

<div class="my-component" ref="RootElementRef">
    This Blazor component is defined in the <strong>BlazorFabric.ContextualMenu</strong> package.
</div>
