.ms-CommandBar {
    display: flex;
    background-color: var(--semanticColors-BodyBackground);
    padding: 0 14px 0 24px;
    height: 44px;
}

::deep .ms-CommandBar-primarySet {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

::deep .ms-CommandBar-secondarySet {
    flex-shrink: 0;
    display: flex;
    align-items: stretch;
}