@page "/"


<h2>Labels</h2>
<Label>Standard Label</Label>
<Label Required="true">Required Label</Label>
<Label Disabled="true">Disabled Label</Label>

<h2>Checkboxes</h2>
<Label>Checkbox is @(isChecked ? "checked" : "unchecked").</Label>
<Checkbox Style="margin-top:10px;" Label="Regular Checkbox" @bind-Checked="isChecked" @bind-Checked:event="CheckedChanged" />
<Checkbox Style="margin-top:10px;" Label="Disabled Checkbox" Disabled="true" />
<Checkbox Style="margin-top:10px;" Label="Disabled Checked Checkbox" Checked="true" Disabled="true" />

<h2>Icons</h2>
<Icon IconName="Airplane" ClassName="iconExample" />
<Icon IconName="Mail" ClassName="iconExample" />
<Icon IconName="Video" ClassName="iconExample red" />


@code{
    bool isChecked = false;
}