@page "/"
@model HostModel
@namespace BlazorFabric.Demo.ServerSide.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorFabric.Test.ServerSide</title>
    <base href="~/" />

    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css" />
    <link rel="stylesheet" href="css/fabric-icons-inline.css" />

    <script src="_content/BlazorFabric.BaseComponent/baseComponent.js"></script>
    <link rel="stylesheet" href="_content/BlazorFabric.BaseComponent/styles.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Button/button.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Calendar/calendar.css" />

    <script src="_content/BlazorFabric.Callout/callout.js"></script>
    <link rel="stylesheet" href="_content/BlazorFabric.Callout/callout.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Checkbox/checkbox.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.CommandBar/commandBar.css" />

    <script src="_content/BlazorFabric.ContextualMenu/contextualMenu.js"></script>
    <link rel="stylesheet" href="_content/BlazorFabric.ContextualMenu/contextualMenu.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.DatePicker/datePicker.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Dialog/dialog.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Dropdown/dropdown.css" />

    <script src="_content/BlazorFabric.FocusTrapZone/focusTrapZone.js"></script>

    <script src="_content/BlazorFabric.FocusZone/focusZone.js"></script>

    <link rel="stylesheet" href="_content/BlazorFabric.Icon/icon.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Image/image.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Label/label.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Layer/layer.css" />

    <script src="_content/BlazorFabric.List/fabricList.js"></script>
    <link rel="stylesheet" href="_content/BlazorFabric.List/list.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Link/link.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.MessageBar/messageBar.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Modal/modal.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Nav/nav.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.OverflowSet/overflowSet.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Overlay/overlay.css" />

    <script src="_content/BlazorFabric.Panel/panel.js"></script>
    <link rel="stylesheet" href="_content/BlazorFabric.Panel/panel.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Persona/persona.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Pivot/pivot.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.ProgressIndicator/progressIndicator.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Rating/rating.css" />

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="_content/BlazorFabric.RichTextEditor/richTextEditor.js"></script>
    <link rel="stylesheet" href="_content/BlazorFabric.RichTextEditor/richTextEditor.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Spinner/spinner.css" />

    <script src="_content/BlazorFabric.TextField/fabricTextField.js"></script>
    <link rel="stylesheet" href="_content/BlazorFabric.TextField/textfield.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Toggle/toggle.css" />

    <link rel="stylesheet" href="_content/BlazorFabric.Tooltip/tooltip.css" />

</head>
<body class="ms-Fabric">
    @*<app>@(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))</app>*@
    <app><component type="typeof(App)" render-mode="ServerPrerendered" /></app>

    <!-- Polyfill to make server-side work with IE11 -->
    <script type="text/javascript">
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
            document.write('<script src="blazor.polyfill.min.js"><\/script>');
            document.write('<script src="ie11CustomProperties.js"><\/script>');
        }
    </script>
    <script type="text/javascript" src="blazor.polyfill.min.js"></script>


    <script src="_framework/blazor.server.js"></script>
</body>
</html>
