/*ms-MessageBar--root {
    background: var(--semanticColors-BodyBackground);
}

.ms-MessageBar {
    background: var(--palette-NeutralLighter);
    color: var(--palette-NeutralPrimary);
    min-height: 32px;
    width: 100%;
    display: flex;
    word-break: break-word;
}

    .ms-MessageBar.ms-MessageBar--error, .ms-MessageBar.ms-MessageBar--blocked {
        background: var(--semanticColors-ErrorBackground);
    }

    .ms-MessageBar.ms-MessageBar--severeWarning {
        background: var(--semanticColors-BlockingBackground);
    }

    .ms-MessageBar.ms-MessageBar--success {
        background: var(--semanticColors-SuccessBackground);
    }

    .ms-MessageBar.ms-MessageBar--warning {
        background: var(--semanticColors-WarningBackground);
    }

    .ms-MessageBar .ms-Link {
        color: var(--palette-ThemeDark);
        /*@extend: .smallFont;
        font-size: var(--fontSize-Small);
        font-weight: var(--fontWeight-Regular);
    }

    .ms-MessageBar.ms-MessageBar-multiline {
        flex-direction: column;
    }


.ms-MessageBar-singleline {
    background: var(--palette-NeutralLighter);
    color: var(--palette-NeutralPrimary);
    min-height: 32px;
    width: 100%;
    display: flex;
    word-break: break-word;
}

.ms-MessageBar-dismissalSingleLine {
    background: var(--palette-NeutralLighter);
    color: var(--palette-NeutralPrimary);
    min-height: 32px;
    width: 100%;
    display: flex;
    word-break: break-word;
}

.ms-MessageBar-expandingSingleLine {
    background: var(--palette-NeutralLighter);
    color: var(--palette-NeutralPrimary);
    min-height: 32px;
    width: 100%;
    display: flex;
    word-break: break-word;
}

.ms-MessageBar-content {
    display: flex;
    width: 100%;
    line-height: normal;
}

.ms-MessageBar-icon {
    font-size: var(--fontSize-Icon); IconFonSizes.Medium
    min-width: 16px;
    min-height: 16px;
    display: flex;
    flex-shrink: 0;
    margin: 8px 0 8px 12px;
}
    .ms-MessageBar-icon .ms-Icon {
        color: var(--palette-NeutralSecondary);
    }

    .ms-MessageBar-icon.ms-MessageBar--error .ms-Icon, .ms-MessageBar-icon.ms-MessageBar--blocked .ms-Icon, .ms-MessageBar-icon.ms-MessageBar--severeWarning .ms-Icon {
        color: var(--semanticColors-ErrorText);
    }

    .ms-MessageBar-icon.ms-MessageBar--success .ms-Icon {
        color: var(--palette-Green);
    }

    .ms-MessageBar-icon.ms-MessageBar--warning .ms-Icon {
        color: var(--semanticColors-WarningText);
    }


.ms-MessageBar-text {
    min-width: 0;
    display: flex;
    flex-grow: 1;
    margin: 8px;
    @extend: .smallFont;
    font-size: var(--fontSize-Small);
    font-weight: var(--fontWeight-Regular);
}

    .ms-MessageBar-text:not(.ms-MessageBar-dismissSingleLine) {
        margin-right: 12px;
    }

.ms-MessageBar-innerText {
    line-height: 16px;
}

    .ms-MessageBar-innerText span, .ms-MessageBar-innerText a {
        padding-left: 4px;
    }

    .ms-MessageBar-innerText:not(.ms-MessageBar-multiline) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ms-MessageBar-innerText.ms-MessageBar-expandSingleLine {
        overflow: visible;
        white-space: normal; /*pre-wrap;*/
/*}

.ms-MessageBar-dismissSingleLine {
}

.ms-MessageBar-expandSingleLine {
}

.ms-MessageBar-dismissal {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    padding: 8px 12px;
}

    .ms-MessageBar-dismissal .ms-Button-icon {
        font-size: var(--fontSize-XSmall);
        height: 10px;
        line-height: 10px;
        color: var(--palette-NeutralPrimary);
    }

    .ms-MessageBar-dismissal.ms-Button--icon:hover {
        background-color: transparent;
    }

    .ms-MessageBar-dismissal.ms-Button--icon:active {
        background-color: transparent;
    }


.ms-MessageBar-expand {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    padding: 8px 12px;
}

    .ms-MessageBar-expand .ms-Button-icon {
        font-size: var(--fontSize-XSmall);
        height: 10px;
        line-height: 10px;
        color: var(--palette-NeutralPrimary);
    }

    .ms-MessageBar-expand.ms-Button--icon:hover {
        background-color: transparent;
    }

    .ms-MessageBar-expand.ms-Button--icon:active {
        background-color: transparent;
    }

.ms-MessageBar-actions {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    flex-Direction: row-reverse;
    align-items: center;
    margin: 0 12px 8px 8px;
}

    .ms-MessageBar-actions button:nth-child(n+2) {
        margin-left: 8px;
    }

.ms-MessageBar-actionsSingleLine {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    flex-Direction: row-reverse;
    align-items: center;
    margin: 0 12px 0 8px;
}

    .ms-MessageBar-actionsSingleLine button:nth-child(n+2) {
        margin-left: 8px;
    }

    .ms-MessageBar-actionsSingleLine .ms-MessageBar-dismissSingleLine {
        margin-right: 0px;
    }*/
