.ms-DetailsRow{
    /*APPLY FOCUS STYLES!!*/

    border-bottom: 1px solid var(--palette-NeutralLighter);
    background: var(--palette-White);
    color: var(--palette-palette-NeutralSecondary);
    display:inline-flex;
    min-width:100%;
    min-height: 42px;
    white-space:nowrap;
    padding:0;
    box-sizing:border-box;
    vertical-align:top;
    text-align:left;
}

.ms-DetailsRow.is-compact{
    min-height:32px;
}

.ms-DetailsRow:hover{
    background: var(--palette-NeutralLighter);
    color: var(--palette-NeutralPrimary);
}
    .ms-DetailsRow:hover .is-row-header{
        color:  var(--palette-NeutralDark);
    }
    .ms-DetailsRow:hover .ms-DetailsRow-check{
        opacity:1;
    }

.ms-DetailsRow-cellMeasurer{
    overflow:visible;
    white-space:nowrap;
}

.ms-DetailsRow-cell{
    display:inline-block;
    position:relative;
    box-sizing:border-box;
    min-height:42px;
    vertical-align:top;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-top:11px;
    padding-bottom:11px;
}
.is-compact .ms-DetailsRow-cell {
    min-height: 32px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.ms-DetailsRow-cell > button{
    max-width:100%;
}

.ms-DetailsRow-checkCell{
    padding:0;
    padding-top:1px;
    margin-top:-1px;
    flex-shrink:0;
}

.ms-DetailsRow-checkCover{
    position:absolute;
    top:-1px;
    left:0;
    bottom:0;
    right:0;
    display: none;
}
.any-selected .ms-DetailsRow-checkCover{
    display:block;
}

.ms-DetailsRow-fields{
    display:flex;
    align-items:stretch;
}

.ms-DetailsRow.is-row-header{
    color: var(--palette-NeutralPrimary);
    font-size: var(--fontSize-Medium);
}

.is-selected .ms-DetailsRow {
    color: var(--palette-NeutralDark);
    font-weight: var(--fontWeight-SemiBold);
    background: var(--palette-NeutralLight);
}

@media screen and (-ms-high-contrast: active) {
    .is-selected .ms-DetailsRow {
        color: Highlight;
        -ms-high-contrast-adjust
    }
}

.ms-DetailsRow.is-multiline{
    white-space:normal;
    word-break:break-word;
    text-overflow:clip;
}

