/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/

html, body, button, input, textarea {
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
html, body {
    font-size: 15px;
}
body{
    margin:0;

}
    /**::-webkit-scrollbar {*/
/*        background-color: #292827;*/
        /*width:inherit;
    }

    *::-webkit-scrollbar-track {
        background-color: #292827;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #797775;
        border-color: #292827;
    }*/
  


app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.modalContainerOverride {
    height: 80vh;
    width: 80vh;
    display:flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
    overflow:hidden;
    height: 100%;
    width:100%;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    overflow-y:auto;
    overflow-x:hidden;
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

/*.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }*/

.content {
    /*padding-top: 1.1rem;*/
    overflow-y: auto;
    height: 100%;
    /*height: calc(100% - 53.5px);*/
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

/*.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}*/

/*@media (max-width: 767.98px) {
    .wideScreen {
        display: none;
    }

    .narrowScreen {
        display: inherit;
    }

    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    .wideScreen {
        display: inherit;
    }

    .narrowScreen {
        display: none;
    }
}*/





.textFieldDiv{
    margin:5px 0px;
    width:400px;
}

.iconExample{
    font-size: 50px;
}
.iconExample.red {
    color: red;


}